
/*-- css for flags box --*/
.flagsBox {
  float: left;
  font-size: 0.8em;
  margin: 0 8px;
  position: relative;
  text-align: center;
}
.flagsBox:after {
  border-left: 1px solid #999;
  content: '';
  float: left;
  height: 30px;
  left: -8px;
  position: absolute;
  top: 0;
  width: 1px;
}
.flagsBox:first-child:after {
  display: none;
}
.flagsBox .match {
  display: inline-block;
}
.flagsBox .match .team {
  float: left;
}
.flagsBox .match .team span:last-child {
  background: none;
  float: left;
  height: auto;
  line-height: 1;
  margin: 0;
  text-indent: inherit;
  width: auto;
}
.flagsBox .vs {
  float: left;
  padding: 0 7px;
}
.flagsBox .mtType {
  color: #505050;
  line-height: 1;
  margin: 4px 0 0;
  padding: 0;
  text-align: center;
}
.flagsBox .spacer {
  border-left: 1px solid #999;
  display: inline-block;
  vertical-align: top;
  height: 30px;
  margin: 0 13px;
  width: 1px;
}












