<div class="ec-mini-header">
    <span class="ec-blue-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ec-mini-title">
                    <h1>Upcoming Matches</h1>
                </div>
                <div class="ec-breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Upcoming Matches</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--// Main Banner \\-->
<!--// Main Content \\-->
<div class="ec-main-content">
    <!--// Main Section \\-->
    <div class="ec-main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-9 ec-custom-list">
                    


                    <div class="ec-event ec-event-listing">

                        <div ng-repeat="x in upcomingMatchesData">

                            <article class="ec-event-fixtures">
                                <div class="calendar-date">
                                    <figure>
                                        <a href="#"><img src="{{x.teambflag}}"  class="img-thumbnail margin-top20" alt=""></a>
                                    </figure>
                                </div>
                                <div class="text">
                                    <h2> 
                                        <a href=""> {{x.matchTeamA}} </a> 
                                        <span>VS</span> 
                                        <a href=""> {{x.matchTeamB}} </a> 
                                    </h2>
                                    <ul class="post-option">
                                        <li>
                                            <i class="icon-flag5"></i> 
                                            <a href="#">{{x.matchTitle}}</a>
                                        </li>
                                        <li><i class="fa fa-calendar"></i> {{x.startDate}} </li>
                                        <li><i class="fa fa-map-marker"></i> {{x.matchVenue}}</li>

                                    </ul>
                                </div>    
                                <div class="match-result">
                                    <!-- <span>H</span> -->
                                    <figure>
                                        <a href="#"><img src="{{x.teamaflag}}"  class="img-thumbnail margin-top20" alt=""></a>
                                    </figure>
                                </div>
                            </article>

                        </div>    

                    </div>
                    <!-- <ul class="ec-pagination">
                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li><span>. . .</span></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><span>. . .</span></li>
                        <li><a href="#">15</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul> -->
                </div>
                <aside class="col-md-3">
                    <div class="widget ec-match_widget">
                        <div class="ec-fancy-title">
                            <h2>Live Match</h2> </div>
                        <ul>
                            <li>
                                <div class="ec-cell">
                                    <span>Valenciaca 2</span>
                                </div>
                                <div class="ec-cell">
                                    <span class="ec-vs">vs</span>
                                </div>
                                <div class="ec-cell">
                                    <span>Real Marid 1</span>
                                </div>
                            </li>
                            <li>
                                <div class="ec-cell">
                                    <span>Bristol City 2</span>
                                </div>
                                <div class="ec-cell">
                                    <span class="ec-vs">vs</span>
                                </div>
                                <div class="ec-cell">
                                    <span>Real Socer 1</span>
                                </div>
                            </li>
                            <li>
                                <div class="ec-cell">
                                    <span>Valenciaca 2</span>
                                </div>
                                <div class="ec-cell">
                                    <span class="ec-vs">vs</span>
                                </div>
                                <div class="ec-cell">
                                    <span>Real Marid 1</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="widget widget_search">
                        <div class="ec-fancy-title">
                            <h2>Search</h2> </div>
                        <form>
                            <input type="text" placeholder="Search here..">
                            <label>
                                <input type="submit" value="">
                            </label>
                        </form>
                    </div>
                    <div class="widget widget_categories">
                        <div class="ec-fancy-title">
                            <h2>CATEGORIES</h2> </div>
                        <ul>
                            <li><a href="#">Boxing</a> 03</li>
                            <li><a href="#">Championship</a> 05</li>
                            <li><a href="#">Cycling</a> 03</li>
                            <li><a href="#">Football</a> 19</li>
                            <li><a href="#">NFL</a> 02</li>
                            <li><a href="#">Golf</a> 11</li>
                            <li><a href="#">Premier League</a> 12</li>
                            <li><a href="#">Tennis</a> 04</li>
                            <li><a href="#">Super Ball</a> 03</li>
                        </ul>
                    </div>
                     <div class="widget ec-recentnews_widget">
                        <div class="ec-fancy-title">
                           <a href="/app/index.html?#/app/news"> <h2>Recently News</h2></a> 
                        </div>
                        <ul>
                            <div ng-repeat="x in latestNews | limitTo : 3">
                                <li>
                                    <figure>
                                        <a href="#"><img alt="" src="../assets/website-content/extra-images/recent-widget-1.jpg"></a>
                                    </figure> 
                                    <section>
                                        <h6><a href="#"><p ng-bind-html="x.title">  {{ x.title}} </p></a></h6>
                                        <span><i class="fa fa-clock-o"></i>
                                            <!-- <p ng-bind-html="x.question">  {{ x.question}} </p> -->
                                        </span>
                                    </section>
                                </li>
                            </div>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <!--// Main Section \\-->
</div>