/***************
TITLE : CUSTOM STYLE SHEET;
AUTHOR : DINESH SAXENA;
PRODUCT : Game of Nerve;
*****************/

/* HELPER CLASSED */
/**MARGIN CLASSES**/
.nomargin-nopadding{margin: 0px !important; padding: 0px !important;}

.margin5{ margin: 5px;}
.margin10{ margin: 10px;}
.margin15{ margin: 15px;}
.margin20{ margin: 20px;}

.margin-bottom0{
	margin-bottom: 0px !important; 
}
.margin-top5{ margin-top: 5px;}
.margin-top10{ margin-top: 10px;}
.margin-top15{ margin-top: 15px;}
.margin-top20{ margin-top: 20px;}
.margin-top30{ margin-top: 30px;}
.margin-top40{ margin-top: 40px;}
.margin-top50{ margin-top: 50px;}

.margin-left0{ margin-left: 0px;}
.margin-left5{ margin-left: 5px;}
.margin-left10{ margin-left: 10px;}
.margin-left15{ margin-left: 15px;}
.margin-left20{ margin-left: 20px;}

.margin-right0{ margin-right: 0px;}
.margin-right5{ margin-right: 5px;}
.margin-right10{ margin-right: 10px;}
.margin-right15{ margin-right: 15px;}
.margin-right20{ margin-right: 20px;}

.margin-bottom5{ margin-bottom: 5px;}
.margin-bottom10{ margin-bottom: 10px;}
.margin-bottom15{ margin-bottom: 15px;}
.margin-bottom20{ margin-bottom: 20px;}
.margin-bottom30{ margin-bottom: 30px;}
.margin-bottom40{ margin-bottom: 40px;}
.margin-bottom50{ margin-bottom: 50px;}
.margin-bottom60{ margin-bottom: 60px;}
.margin-bottom70{ margin-bottom: 70px;}

/**PADDING CLASSES**/
.paddingZero{padding: 0px !important;}
.padding-top0{padding-top: 0px !important;}
.padding-left0{padding-left: 0px !important;}
.padding-right0{padding-right: 0px !important;}
.padding-bottom0{padding-bottom: 0px !important;}

.padding0{ padding: 0px;}
.padding5{ padding: 5px;}
.padding10{ padding: 10px;}
.padding15{ padding: 15px;}
.padding20{ padding: 20px;}
.padding30{ padding: 30px;}
.padding40{ padding: 40px;}

.padding-top5{ padding-top: 5px;}
.padding-top10{ padding-top: 10px;}
.padding-top15{ padding-top: 15px;}
.padding-top20{ padding-top: 20px;}
.padding-top25{ padding-top: 25px;}
.padding-top30{ padding-top: 30px;}
.padding-top35{ padding-top: 35px;}
.padding-top40{ padding-top: 40px;}
.padding-top50{ padding-top: 50px;}

.padding-left0{ padding-left: 0px;}
.padding-left5{ padding-left: 5px;}
.padding-left10{ padding-left: 10px;}
.padding-left15{ padding-left: 15px;}
.padding-left20{ padding-left: 20px;}

.padding-right5{ padding-right: 5px;}
.padding-right10{ padding-right: 10px;}
.padding-right15{ padding-right: 15px;}
.padding-right20{ padding-right: 20px;}
.padding-right30{ padding-right: 30px;}
.padding-right40{ padding-right: 40px;}

.padding-bottom5{ padding-bottom: 5px;}
.padding-bottom10{ padding-bottom: 10px;}
.padding-bottom15{ padding-bottom: 15px;}
.padding-bottom20{ padding-bottom: 20px;}
.padding-bottom30{ padding-bottom: 30px;}
.form-control{color: #555 !important;}
/****/


.upper-case{text-transform: uppercase !important;}
.inline-block{display: inline-block !important;}
.float-left{float: left !important;}
.float-right{float: right !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-left{text-align: left !important;}
.text-justify{text-align: justify !important;}

/**CUSTOM HEADER SYLE**/
.header-v8 .navbar-nav > li > a{font-weight: 100 !important;}
/****/

/**HOME PAGE BANNER SYLE**/
.interactive-slider-v2.img-v4 { background: url('../../../images/landing-page/main-background.jpg') !important;    background-position: center !important; background-size: cover !important; background-repeat: no-repeat !important; padding: 140px 0;}
.interactive-slider-v2 h1{font-weight: 100 !important; text-transform: none;}
.searchBlock{background-color: rgba(18, 18, 18, 0.8);    border: 1px solid black;  border-radius: 5px; padding: 10px;}
.interactive-slider-v2 .searchBlock{text-align: left;}
.interactive-slider-v2 .searchBlock a{color: #fff; font-size: 24px; font-weight: 200; font-family: "Open Sans", Arial, sans-serif; text-decoration: none !important;}
/****/

/**NEWEST LISTING BANNER SYLE**/
.newestListingBlock{padding-top: 40px; padding-bottom: 80px;}
.newestListingBlock h1{text-align: center; color: #333333; font-weight: 200; margin-bottom: 30px;font-size: 35px;}
.newestListingBlock .margin-remove-bottom{margin-bottom: 0px !important;}
.newestListingBlock h6{font-weight: 100;font-size: 14px; text-align: center;margin-bottom: 30px;}
.newestListingBlock .hotSpotBlock{    height: 200px; max-height: 200px; background-repeat: no-repeat; background-size: cover; background-position: center; border: 1px solid #f2f2f2; border-radius: 5px;}
.newestListingBlock .hotSpotBlock h1{color: #fff; text-shadow: 0 1px 3px black; line-height: 180px;}
/****/


/**BAR MAP SYLE**/
.fixFullWidth{position: relative; height: 100vh;}
.fixFullWidth .filterBlock{overflow-y: scroll;height: 100vh;}
#map{ height: 100%; width: 100%;}
#map{color: #000000 !important;}
/****/

/*SLIER CSS*/
#slides_control1 > div{height: 200px;}
img1{margin:auto;width: 400px;}
#slides_control1 {position:absolute;width: 400px;left:50%;top:20px;margin-left:-200px;}
/*END*/

.validation{text-align: left !important; color: red !important; font-size: 14px !important; font-weight: 400 !important;}
.datanotfound{margin-top: 10 !important; text-align: center !important; font-size: 24px !important; font-weight: 600!important;}
.invitestatus{vertical-align: middle !important;}
.filtercolor{color: #ffffff !important; text-align: center !important;}
.filterblock{padding: 40px 16px !important; background-color: #327ab7 !important;}
.resetblock{padding: 40px 5px !important;  background-color: #327ab7 !important;}
.btncolor{color: #ffffff !important;}
.createteam{padding: 20px 0px 5px !important; margin: 0px 6px 1px 0px !important;}
.upcomingmatch{padding: 32px 5px 30px 5px !important; background-color: #312322 !important;}
.joinbtn{color: #ffffff !important; background-color: #e95842 !important;}
.btnjoinblock{padding-top: 2px !important; padding-bottom: 31px !important;}
.tabsection{color: #ffffff; font-weight: bold; padding-top: 15px;}
.invitesection{color: #ffffff; font-weight: bold; padding-top: 0px;}
.invitesec{padding: 10px 0px 10px; margin-top: 0px;}
.sendsec{
	padding: 10px 0px 5px; 
	margin-top: 0px;
	text-align: center;
	min-height: 300px;
	font-family: monospace;
	max-height: 500px;
    overflow: scroll;
}
.sendinvite{margin: 10px 0px 10px 0px !important; padding: 10px 5px 0px 0px!important;}
.selectteam{margin: 10px 0px 10px 0px; padding: 10px 10px 0px 0px;}
.sliderimage{width: 30px !important; height: 20px !important;}
.nav > li > a:hover{background-color: #06a2da !important;}
.verifiedimg{width: 55px!important; height: 45px!important;}
.textwhite{color: #ffffff;}
.textblack{color: #000000;}
.height60{height: 60px;}

.dialogdemoBasicUsage #popupContainer {
	position: relative !important; }

.dialogdemoBasicUsage .footer {
	width: 100% !important;
	text-align: center !important;
	margin-left: 20px !important; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
	font-size: 0.8em !important;
	margin-top: 50px !important; }

.dialogdemoBasicUsage button {
	width: 230px !important; }

.dialogdemoBasicUsage div#status {
	color: #c60008 !important; }

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
	margin-bottom: 0 !important; }

.circle-add {
	/*background-color: #337ab7; 
	background-image: url(/assets/website-content/images/transparent-pattren.png);*/
	padding-top: 12px;
}  

.circle-add > a {
	color: #e95842; 
}

.circle-minus {
	/*background-image: url(/assets/website-content/images/transparent-pattren.png);*/
	padding-top: 12px;
}  

.circle-minus > a {
	color: 000000; 
}

.ul-none{
	list-style: none;
}

.create-team-match{
	color: 000000;
}

.credits{
	background-image: url(/assets/website-content/images/transparent-pattren.png);
	/*background-color: #337ab7;  */
	background-color: #343434;
	color: #fff; 
	padding: 10px 0px 10px 5px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: monospace;
}

.team-field{
	background-image: url(/assets/website-content/images/ground-2.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 90vh;
	background-size: contain;
}

.ec-services ul > li > .bg1{background:#E8687F;border:solid #ccc 1px;box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.1);padding:10px 20px; text-align: left !important;}
.ec-services ul > li > .bg2{background:#90BB4F;border:solid #ccc 1px;box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.1);padding:10px 20px; text-align: left !important;}
.ec-services ul > li > .bg3{background:#F5C147;border:solid #ccc 1px;box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.1);padding:10px 20px; text-align: left !important;}
.ec-services ul > li > .bg4{background:#38BEC9;border:solid #ccc 1px;box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.1);padding:10px 20px; text-align: left !important;}
.ec-services ul > li > .bg5{background:#01a5e9;border:solid #ccc 1px;box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.1);padding:10px 20px; text-align: left !important;}
.ec-services ul > li > .bg6{background:#f29e65;border:solid #ccc 1px;box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.1);padding:10px 20px; text-align: left !important;}


.contest-table{
	padding: 5px 0px 0px 0px !important;
}


.contest-table > table{
	padding: 0px 0px 0px 0px ;
	margin: 0px 0px 0px 0px ;
}

.contest-table > div > h5{
	text-align: center;
	color: #fff;
	background-color: #333 !important;
	border-color:  #e95842 !important;
	padding: 2px 0px 2px 0px ;

}

.contest-table-th > tbody > tr > th {
	background-color: #333 !important;
	border-color:  #e95842 !important;
}
.contest-button > li > a, .btn-primary {
	background-color: #fff;
	/*background-image: url(/assets/website-content/images/transparent-pattren.png);*/
	/*border-color:  #e95842;*/
	border-radius: 0px;
	padding: 5px 5px 5px 5px !important;
}

.contest-button > li.active > a, .btn-primary {
	background-color: #333;
	/*background-image: url(/assets/website-content/images/transparent-pattren.png);*/
	border-color:  #333;
	border-radius: 0px;
	padding: 5px 5px 5px 5px !important;
}

.contest-button > li > a, .btn-primary-box {
	background-color: #333;
	/*background-image: url(/assets/website-content/images/transparent-pattren.png);*/
	border-color:  #e95842;
	border-radius: 0px;
	padding: 5px 5px 5px 5px !important;
}



.vertical-table{overflow: auto; max-height: 300px;}

.team-button {
	background-color: #337ab7;
	background-image: url(/assets/website-content/images/transparent-pattren.png);
	border-color:  #337ab7;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
}

.chooseCaptain-error{
	display:none;
	color:#FF0000;
}

/*.bet-match{
		margin-left: 20px;
		margin-right: 20px;
		width: 200px;
}*/


.loader-background {
	background-color: #ffffff;
	opacity: 0.6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
	width: 1400px;
	height: 800px;
}

.team-player-image{
	width: 60px; height: 50px;
	border-radius: 50%;
}
 

.user-name-section > ul > li{
	padding: 0px 10px 0px 20px;
}

.ec-main-navsection .ec-logo {
		margin: 7px 0px 7px 0px !important; 
}


.ec-navigation > ul > li > a {
	padding: 15px 0px 15px 0px !important;
}

.ec-sticky .ec-main-navsection {
		height: 75px !important;
}

.logo-image{ height: 57px !important; max-width: 100%; }

.blog-image{
	height: 200px !important;
	max-width: 100% !important;
}
.img-testimonial{
 	height: 200px !important;
	max-width: 100% !important; 
}

.user-background{
	background-color: #eee;
	color: #e95842;
}

.match-list{
	margin-left: 0px;
	margin-right: 0px;
	background-image: url(/assets/website-content/images/transparent-pattren.png);
	background-color: #333;
	border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

.btn-join{
	background-image: url(/assets/website-content/images/transparent-pattren.png);
	background-color: #333;
	color: #fff;
}

.jumbotron {
	padding-right: 10px !important;
	padding-left: 10px !important;
	padding-top: 10px !important;
}

.filter-heading{
	font-size: 14px;
	color: #343434;
	padding: 10px 0px 5px 0px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	position: relative;
}

.panel-primary-match {
	border-color: #337ab7;
}

.panel-primary-match > .panel-heading-match {
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7;
}

.panel-heading-match {
	padding-top: 2px !important;
	padding-bottom: 31px !important;
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.match-active {
	border-color: #e95842;
}

.match-active > .panel-heading-match {
	color: #fff;
	background-color: #e95842;
	border-color: #e95842;
}

.panel-primary-match:hover {
	border-color: #e95842;
}

.panel-primary-match:hover > .panel-heading-match {
	color: #fff;
	background-color: #e95842;
	border-color: #e95842;
}

.tab-menu {
  color: #fff;
  background-color: #333 ;
  background-image: url(/assets/website-content/images/transparent-pattren.png);
  min-height: 50px;
  padding-top: 10px;
}

.tab-content-team{
	padding: 0px 0px 5px 0px !important;
}

.panel-body-team{
	padding: 0px 0px 2px 0px !important;	
	background-color: #333 !important;
}

.panel-heading-team{
	padding: 0px 0px 0px 0px !important;	
	/*background-color: #333 !important;*/
	background-color: #fff !important;
	border-color: #333 !important;
}

.panel-heading-team > .nav-tabs > .active{
	background-color: #333 !important;
}

.panel-heading-team > .nav-tabs > li > a{

	padding: 10px 10px 10px 10px !important;	
}

.panel-heading-team > .nav-tabs > li > a:hover{
	background-color: #333 !important;
	color: #fff !important;
	padding: 10px 10px 10px 10px !important;	
}

.panel-heading-team > .nav-tabs > li > a:active{
	background-color: #333 !important;
	color: #fff !important;
	padding: 10px 10px 10px 10px !important;	
}

.team-table-background{
	background-color: #fff !important;
}

.panel-danger > .panel-heading {
    color: #fff;
    background-color: #cc412c !important;
    border-color: #a94442 !important;
    border-radius: 4px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.panel-contest > .panel-heading {
    color: #fff;
	background-color: #483631 !important;
    border-color: #483631 !important;
    border-radius: 4px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.nav > li > a {
    position: relative;
    display: block; 
    padding: 5px 0px !important; 
}

.bet-loader-background{
	padding-top: 100px;
	padding-bottom: 100px;
}

.match-loader-background{
	padding-top: 0px;
	padding-bottom: 0px;
}

.series-loader-background{
	padding-top: 0px;
	padding-bottom: 0px;
}

.scroll-match{
	max-height: 70vh;
	overflow-y: scroll;
}

.team-create-panel{
    border: 0px solid transparent !important; ;
    border-radius: 0px !important; ;
    border-color: #333 !important; 
}

.select-team-modal{
	
	display: inherit !important; 
}

.scroll-bet-option-section{
	max-height: 80vh;
	overflow-y: scroll;
}

.show-time{
    color: #e95842;
}

.view-joined{
    color: #337ab7;
    text-decoration: none;
}

.error-info{
	color: #cc412c ;
}

.joined-league{
	border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

.leader-board {
    background-color: #e4c582;
    height: 60px;
    font-weight: bold;
    color: #483630;
    margin-left: 0px;
    padding-top: 19px;
    margin-right: 0px;
    margin-top: 6px;
    margin-bottom: 15px;
    border-radius: 4px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.player-point{
	color: #fff;
	 font-family: monospace;
}

.text-right{
	text-align: right !important;
}

.team-flag{
	width: 10vh !important;
}

.left-tab-heading {
    background: #ef4e57;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    border-radius: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}

.msg-left-tab .nav-tabs {
    border: 1px solid #ccc;
}

.msg-left-tab ul {
    margin: 0;
    padding: 0;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.msg-left-tab ul li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    float: none;
    margin-bottom: 0px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 11px;
}