/***************
TITLE : CUSTOM STYLE SHEET;
AUTHOR : DINESH SAXENA;
PRODUCT : BOOZE-OUT;
*****************/


/***************
TITLE : HEADER DESIGN;
*****************/



.landing-page-bg{ background: url('../../images/landing-page/background-1.jpg');  background-repeat: no-repeat;  background-size: cover;background-position: center;}