<div class="angularPageLoader">
        <!-- <div class="ball-scale-multiple"></div> -->
</div>


<div class="interactive-slider-v21 img-v41">
    <div ng-controller="CarouselSliderCtrl" id="slides_control">
        <div>
          <uib-carousel class="flexslider" interval="3000">
            <uib-slide ng-repeat="slide in slides" active="active">
              <img ng-src="{{slide.image}}" >
              <div class="carousel-caption">
     
                <div class="caption-inner-wrap">
                    {{ slide.description }}
                </div>
              </div>
            </uib-slide>
          </uib-carousel>
        </div>
    </div>
</div>

<!--// Main Wrapper \\-->
<div class="ec-main-wrapper">
    
    <!--// Main Content \\-->
    <div class="ec-main-content">
        <!--// Main Section \\-->
        <div ng-controller="breakingNewsCtrl"  id="news_control">
            <div class="ec-main-section ec-newsticker-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ec-newsticker">
                                <span class="ec-color"><small>Latest News</small></span>
                                <ul id="ec-news"  >
                                    <!-- <li ng-repeat="objNews in newsSlides">{{objNews.news}}</li> -->
                                    <li>A kind of firsts here at CCI as the Master Blaster @sachin_rt rings the bell before the start of play today </li>
                                    <li>Toss won. We will bat first 💪 #INDvWI </li>
                                    <li>Innings Break! #TeamIndia post a formidable total of 377/5 for the Windies to chase (Rohit 162, Rayudu 100) #INDvWI </li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--// Main Section \\-->

        <!--// Main Section \\-->
        <div class="ec-main-section ec-promofull">
            <div class="container">
       
                <div class="row">
                    <!--// Match Fixture \\-->
                    <div class="col-md-6">
                        <div class="ec-fancy-title">
                            <h2>Match Fixture</h2>
                        </div>
                        <div class="ec-fixture-list">
                            <ul>
                                <li>
                                    <div class="ec-cell"><span>03 Sep. Friday</span></div>
                                    <div class="ec-cell">
                                        <a href="#" class="ec-fixture-flag"><img src="../assets/website-content/extra-images/fixer-flag-1.png" alt=""> RR</a>
                                        <span class="ec-fixture-vs"><small>vs</small></span>
                                        <a href="#" class="ec-fixture-flag ec-next-flag"><img src="../assets/website-content/extra-images/fixer-flag-2.png" alt=""> KXIP</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="ec-cell"><span>03 Sep. Friday</span></div>
                                    <div class="ec-cell">
                                        <a href="#" class="ec-fixture-flag"><img src="../assets/website-content/extra-images/fixer-flag-3.png" alt=""> CSK</a>
                                        <span class="ec-fixture-vs"><small>vs</small></span>
                                        <a href="#" class="ec-fixture-flag ec-next-flag"><img src="../assets/website-content/extra-images/fixer-flag-4.png" alt=""> DD</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="ec-cell"><span>03 Sep. Sunday</span></div>
                                    <div class="ec-cell">
                                        <a href="#" class="ec-fixture-flag"><img src="../assets/website-content/extra-images/fixer-flag-5.png" alt=""> MI</a>
                                        <span class="ec-fixture-vs"><small>vs</small></span>
                                        <a href="#" class="ec-fixture-flag ec-next-flag"><img src="../assets/website-content/extra-images/fixer-flag-6.png" alt=""> RCB </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="ec-cell"><span>03 Sep. Friday</span></div>
                                    <div class="ec-cell">
                                        <a href="#" class="ec-fixture-flag"><img src="../assets/website-content/extra-images/fixer-flag-7.png" alt=""> KKR</a>
                                        <span class="ec-fixture-vs"><small>vs</small></span>
                                        <a href="#" class="ec-fixture-flag ec-next-flag"><img src="../assets/website-content/extra-images/fixer-flag-8.png" alt=""> S H</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--// TablePoint \\-->
                    <div class="col-md-6">
                        <div class="ec-fancy-title">
                            <h2>Table Points</h2>
                        </div>
                        <div class="ec-table-point">
                            <ul class="ec-table-head">
                                <li>
                                    <div class="ec-cell">S.#</div>
                                    <div class="ec-cell">Team</div>
                                    <div class="ec-cell">P</div>
                                    <div class="ec-cell">W</div>
                                    <div class="ec-cell">D</div>
                                    <div class="ec-cell">L</div>
                                </li>
                            </ul>
                            <ul class="ec-table-list">
                                <li>
                                    <div class="ec-cell">1</div>
                                    <div class="ec-cell">Sunrisers Hyderabad</div>
                                    <div class="ec-cell">20</div>
                                    <div class="ec-cell">28</div>
                                    <div class="ec-cell">5</div>
                                    <div class="ec-cell">5</div>
                                </li>
                                <li>
                                    <div class="ec-cell">2</div>
                                    <div class="ec-cell">Mumbai Indians</div>
                                    <div class="ec-cell">30</div>
                                    <div class="ec-cell">23</div>
                                    <div class="ec-cell">9</div>
                                    <div class="ec-cell">6</div>
                                </li>
                                <li>
                                    <div class="ec-cell">3</div>
                                    <div class="ec-cell">Kings XI Punjab</div>
                                    <div class="ec-cell">10</div>
                                    <div class="ec-cell">22</div>
                                    <div class="ec-cell">10</div>
                                    <div class="ec-cell">8</div>
                                </li>
                                <li>
                                    <div class="ec-cell">4</div>
                                    <div class="ec-cell">Delhi Daredevils</div>
                                    <div class="ec-cell">5</div>
                                    <div class="ec-cell">21</div>
                                    <div class="ec-cell">14</div>
                                    <div class="ec-cell">10</div>
                                </li>
                                <li>
                                    <div class="ec-cell">5</div>
                                    <div class="ec-cell">Rajasthan Royals</div>
                                    <div class="ec-cell">14</div>
                                    <div class="ec-cell">10</div>
                                    <div class="ec-cell">9</div>
                                    <div class="ec-cell">8</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--// TablePoint \\-->
                    <!--// Partner \\-->
                   <!--  <div class="col-md-12">
                        <div class="ec-sponsored">
                            <div class="item">
                                <a href="#"><img src="../assets/website-content/extra-images/partner-logo-1.jpg" alt=""></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="../assets/website-content/extra-images/partner-logo-2.jpg" alt=""></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="../assets/website-content/extra-images/partner-logo-3.jpg" alt=""></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="../assets/website-content/extra-images/partner-logo-4.jpg" alt=""></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="../assets/website-content/extra-images/partner-logo-5.jpg" alt=""></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="../assets/website-content/extra-images/partner-logo-6.jpg" alt=""></a>
                            </div>
                        </div>
                    </div> -->
                    <!--// Partner \\-->
                </div>
            </div>
        </div>
        <!--// Main Section \\-->
        <!--// Main Section \\-->
        <div class="ec-main-section ec-full-parallexbg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ec-parallex-info">
                            <span>ready to be Join</span>
                            <h2>Boss 'understands if striker wanted move</h2>
                            <p>Vardy has been one of the stars of the season so far and is currently the top scorer. in the Premier League with 10 goals to his name.</p>
                            <a href="#" class="ec-default-button">FREE ENTER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Main Section \\-->
        <!--// Main Section \\-->
        <div class="ec-main-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="ec-fancy-title">
                            <h2>Next Match</h2>
                        </div>
                        <div class="ec-nextmatch">
                            <div class="item">
                                <ul class="ec-team-matches">
                                    <li>
                                        <a href="#"><img src="../assets/website-content/extra-images/next-match-1.png" alt=""> <span>Royal Challengers Bangalore</span></a>
                                    </li>
                                    <li><small>Thursday</small>
                                        <time class="ec-color" datetime="2008-02-14 20:00">28 October</time> <small>15:00pm</small></li>
                                    <li>
                                        <a href="#"><img src="../assets/website-content/extra-images/next-match-2.png" alt=""> <span>Rajasthan Royals</span></a>
                                    </li>
                                </ul>
                                <div id="ec-Countdown" class="ec-match-countdown"></div>
                                <a href="#" class="ec-ticket-button">Less Than 600 Tickets Left For Match</a>
                            </div>
                            <div class="item">
                                <ul class="ec-team-matches">
                                    <li>
                                        <a href="#"><img src="../assets/website-content/extra-images/next-match-1.png" alt=""> <span>Royal Challengers Bangalore</span></a>
                                    </li>
                                    <li><small>Thursday</small>
                                        <time class="ec-color" datetime="2008-02-14 20:00">22 October</time> <small>15:00pm</small></li>
                                    <li>
                                        <a href="#"><img src="../assets/website-content/extra-images/next-match-2.png" alt=""> <span>Rajasthan Royals</span></a>
                                    </li>
                                </ul>
                                <div id="ec-Countdowntwo" class="ec-match-countdown"></div>
                                <a href="#" class="ec-ticket-button">Less Than 600 Tickets Left For Match</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ec-fancy-title">
                            <h2>Latest Result</h2>
                            <span>On Live</span>
                        </div>
                        <div class="ec-latest-result-wrap">
                            <div class="ec-latest-result">
                                <ul>
                                    <li>
                                        <span>Chennai Super Kings</span>
                                        <img src="../assets/website-content/extra-images/latest-result-1.png" alt="">
                                        <span>Win</span>
                                    </li>
                                    <li>
                                        <div class="ec-result-time">
                                            <div class="ec-time-wrap">
                                                3:1
                                                <small>14 October 2016 21:00 (FT)</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <span>Royal Challengers Bangalore</span>
                                        <img src="../assets/website-content/extra-images/latest-result-2.png" alt="">
                                        <span>Loss</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="ec-skillst">
                                <div class="skillbar" data-percent="40%">
                                    <div class="count-bar">
                                        <div class="count"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Main Section \\-->
        <!--// Main Section \\-->
        <div class="ec-main-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ec-simple-title">
                            <h2>Controlling Related Videos</h2>
                            <p>Bafe Gomis’ header sealed the comeback for Garry Monk’s side, who went on to complete the double over Arsenal later</p>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="ec-blog ec-blog-medium">
                            <ul class="row">
                                <li class="col-md-12">
                                    <div class="ec-blog-wrap">
                                        <figure>
                                            <a href="#"><img src="../assets/website-content/extra-images/blog-medium-1.jpg" alt=""></a>
                                            <figcaption>
                                                <span><small>8:12</small></span>
                                                <a href="#" class="fa fa-play ec-playbutton"></a>
                                            </figcaption>
                                        </figure>
                                        <div class="ec-blog-text">
                                            <ul class="ec-blog-option">
                                                <li><i class="fa fa-user"></i> Admin by. <a href="#" class="ec-colorhover">Alexander Protikhin</a></li>
                                            </ul>
                                            <h2><a href="#">Stamford Bridge contact information</a></h2>
                                            <p>Africa has some of the most incredible soccer teams (referre to as “football” for. <a href="#" class="ec-color">Watch</a></p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-12">
                                    <div class="ec-blog-wrap">
                                        <figure>
                                            <a href="#"><img src="../assets/website-content/extra-images/blog-medium-2.jpg" alt=""></a>
                                            <figcaption>
                                                <span><small>2:00</small></span>
                                                <a href="#" class="fa fa-play ec-playbutton"></a>
                                            </figcaption>
                                        </figure>
                                        <div class="ec-blog-text">
                                            <ul class="ec-blog-option">
                                                <li><i class="fa fa-user"></i> Admin by. <a href="#" class="ec-colorhover">Jonathan Yurek</a></li>
                                            </ul>
                                            <h2><a href="#">Barrow looking for a repeat Performance</a></h2>
                                            <p>Africa has some of the most incredible soccer teams (referre to as “football” for. <a href="#" class="ec-color">Watch</a></p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-12">
                                    <div class="ec-blog-wrap">
                                        <figure>
                                            <a href="#"><img src="../assets/website-content/extra-images/blog-medium-3.jpg" alt=""></a>
                                            <figcaption>
                                                <span><small>1:26</small></span>
                                                <a href="#" class="fa fa-play ec-playbutton"></a>
                                            </figcaption>
                                        </figure>
                                        <div class="ec-blog-text">
                                            <ul class="ec-blog-option">
                                                <li><i class="fa fa-user"></i> Admin by. <a href="#" class="ec-colorhover">Dino Henderson</a></li>
                                            </ul>
                                            <h2><a href="#">We'll have to be at our best</a></h2>
                                            <p>Africa has some of the most incredible soccer teams (referre to as “football” for. <a href="#" class="ec-color">Watch</a></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="ec-frame">
                            <iframe src="https://player.vimeo.com/video/165441527" height="374"></iframe>
                        </div>
                        <div class="ec-gallery-slider gallery">
                            <div class="item">
                                <a title="" rel="prettyPhoto[gallery1]" href="../assets/website-content/extra-images/banner-1.jpg"><img src="../assets/website-content/extra-images/slider-gallery-1.jpg" alt=""></a>
                            </div>
                            <div class="item">
                                <a title="" rel="prettyPhoto[gallery1]" href="../assets/website-content/extra-images/banner-2.jpg"><img src="../assets/website-content/extra-images/slider-gallery-2.jpg" alt=""></a>
                            </div>
                            <div class="item">
                                <a title="" rel="prettyPhoto[gallery1]" href="../assets/website-content/extra-images/banner-1.jpg"><img src="../assets/website-content/extra-images/slider-gallery-3.jpg" alt=""></a>
                            </div>
                            <div class="item">
                                <a title="" rel="prettyPhoto[gallery1]" href="../assets/website-content/extra-images/banner-2.jpg"><img src="../assets/website-content/extra-images/slider-gallery-4.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Main Section \\-->
        <!--// Main Section \\-->
        <div class="ec-main-section ec-full-counter">
            <span class="ec-transparent-bg"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ec-counter">
                            <ul class="row">
                                <li class="col-md-3">
                                    <i class="fa fa-globe"></i>
                                    <div class="ec-counter-info">
                                        <small>TOTAL GOALS</small>
                                        <span class="word-count ec-color">15,000</span>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <i class="fa fa-glass"></i>
                                    <div class="ec-counter-info">
                                        <small>Possession &nbsp; &nbsp;</small>
                                        <span class="word-count ec-color">7,000</span>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <i class="fa fa-hand-o-right"></i>
                                    <div class="ec-counter-info">
                                        <small>Win Match &nbsp; &nbsp; </small>
                                        <span class="word-count ec-color">3,000</span>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <i class="fa fa-heart-o"></i>
                                    <div class="ec-counter-info">
                                        <small>corner goal </small>
                                        <span class="word-count ec-color">1,000</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Main Section \\-->
        <!--// Main Section \\-->
        <div class="ec-main-section blog-grid-full">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ec-simple-title">
                            <a  href="#blog" ui-sref="bat11App.blog"> <h2>blogs</h2><p>Read expert's views in our blog section.</p></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="ec-blog ec-blog-grid">
                            <ul class="row">
                               <div ng-repeat="x in blogData | limitTo : 4">
                                    <li class="col-md-3">
                                        <div class="ec-blog-wrap">
                                            <figure>
                                                <a href="#"><img ng-src="{{x.featimage}}" alt="" class="blog-image" height="400px"></a>
                                                    <span class="ec-featured-star ec-bgcolor">
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                            </figure>
                                            <div class="ec-blog-text">
                                                <h2><a href="" ng-click="openBlog(x.slug)">
                                                        <p ng-bind-html="x.topic1">  {{ x.topic1 }}  </p>
                                                    </a></h2>
                                                <div class="ec-grid-time">
                                                    <span><i class="fa fa-clock-o"></i> {{x.created_at}} </span>
                                                    <a href="" class="fa fa-angle-right" ng-click="openBlog(x.slug)"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Main Section \\-->
       <!--  <div class="ec-main-section blog-grid-full">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ec-simple-title">
                            <h2>Meet Our Team</h2>
                            <p>Bafe Gomis’ header sealed the comeback for Garry Monk’s side, who went on to complete the double over Arsenal later</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="ec-team ec-team-grid">
                            <ul class="row">

                               

                                <li class="col-md-3">
                                    <div class="ec-team-wrap">
                                        <figure>
                                            <a href="#"><img src="../assets/website-content/extra-images/team-grid-1.jpg" alt=""></a>
                                        </figure>
                                        <div class="ec-team-info">
                                            <div class="ec-forinfo">
                                                <h3><a href="#">KELVIN DAVIS</a></h3>
                                                <small>gOALKEEPER</small>
                                            </div>
                                            <span class="ec-goal-counter ec-bgcolor">06</span>
                                            <span class="ec-plyer-info">Born August 31, 1988 <br> Medellin, Colombia</span>
                                        </div>
                                    </div>
                                </li>


                                <li class="col-md-3">
                                    <div class="ec-team-wrap">
                                        <figure>
                                            <a href="#"><img src="../assets/website-content/extra-images/team-grid-2.jpg" alt=""></a>
                                        </figure>
                                        <div class="ec-team-info">
                                            <div class="ec-forinfo">
                                                <h3><a href="#">Debuchy Profile</a></h3>
                                                <small>Defender</small>
                                            </div>
                                            <span class="ec-goal-counter ec-bgcolor">12</span>
                                            <span class="ec-plyer-info">Born August 31, 1988 <br> Medellin, Colombia</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <div class="ec-team-wrap">
                                        <figure>
                                            <a href="#"><img src="../assets/website-content/extra-images/team-grid-3.jpg" alt=""></a>
                                        </figure>
                                        <div class="ec-team-info">
                                            <div class="ec-forinfo">
                                                <h3><a href="#">Laurent Koscielny</a></h3>
                                                <small>Midfielder</small>
                                            </div>
                                            <span class="ec-goal-counter ec-bgcolor">10</span>
                                            <span class="ec-plyer-info">Born August 31, 1988 <br> Medellin, Colombia</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <div class="ec-team-wrap">
                                        <figure>
                                            <a href="#"><img src="../assets/website-content/extra-images/team-grid-4.jpg" alt=""></a>
                                        </figure>
                                        <div class="ec-team-info">
                                            <div class="ec-forinfo">
                                                <h3><a href="#">Tomas Rosicky</a></h3>
                                                <small>Striker</small>
                                            </div>
                                            <span class="ec-goal-counter ec-bgcolor">08</span>
                                            <span class="ec-plyer-info">Born August 31, 1988 <br> Medellin, Colombia</span>
                                        </div>
                                    </div>
                                </li>

                                  


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!--// Main Section \\-->
        <!--// Main Section \\-->
        <div class="ec-main-section blog-grid-full">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ec-simple-title ">
                            <h2>Testimonial</h2>
                            <p> Read what our user said about us. </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div ng-repeat="x in testimonial">
                        <div class="col-md-3">
                            <div class="panel">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <img class="img-thumbnail img-responsive img-testimonial " ng-src="{{ x.featuredimage }}" >
                                        <div>
                                            <h2>{{ x.author }} <br> <small>{{ x.designation }}</small></h2>
                                            <p ng-bind-html="x.description">{{ x.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--// Main Section \\-->
        <!--// Main Section \\-->
        <div class="ec-main-section blog-grid-full">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ec-simple-title">
                            <h2>Welcome To Our Gallery</h2>
                            <p>Look for our Gallery</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="ec-gallery ec-simple-gallery">
                            <ul class="row gallery">
                                <div ng-repeat="x in imgData | limitTo : 4  ">
                                    <li class="col-md-3">
                                        <figure>
                                            <a href="#"><img ng-src="{{x.name}}" alt="" class="img-gallery"></a>
                                            <figcaption>
                                                <a title="" rel="x.caption" href="" class="ec-color">
                                                    <i class="fa fa-compress"></i>
                                                </a>
                                            </figcaption>
                                        </figure>
                                    </li>
                                </div>    
                             </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Main Section \\-->
        <!--// Main Section \\-->
    <!--     <div class="ec-main-section shop-grid-full">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ec-section-heading">
                            <h2>Our Favourite Shop</h2></div>
                    </div>
                    <div class="col-md-12">
                        <div class="ec-shop ec-shop-list">
                            <ul class="row">
                                <li class="col-md-3">
                                    <figure>
                                        <a href="#" class="ec-shop-thumb"><img src="../assets/website-content/extra-images/shop-list-1.jpg" alt=""></a>
                                        <span class="ec-festured">Sale</span>
                                        <figcaption>
                                            <ul>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#"><i class="fa fa-search"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="ec-shopinfo">
                                        <h2><a href="#">Cricket Ball</a></h2>
                                        <span class="ec-price"><del><span class="amount">£300</span></del>
                                        <ins><span class="amount">£250</span></ins>
                                        </span>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <figure>
                                        <a href="#" class="ec-shop-thumb"><img src="../assets/website-content/extra-images/shop-list-2.jpg" alt=""></a>
                                        <figcaption>
                                            <ul>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#"><i class="fa fa-search"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="ec-shopinfo">
                                        <h2><a href="#">Cricket Bat</a></h2>
                                        <span class="ec-price"><del><span class="amount">£300</span></del>
                                        <ins><span class="amount">£250</span></ins>
                                        </span>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <figure>
                                        <a href="#" class="ec-shop-thumb"><img src="../assets/website-content/extra-images/shop-list-3.jpg" alt=""></a>
                                        <span class="ec-festured">Sale</span>
                                        <figcaption>
                                            <ul>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#"><i class="fa fa-search"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="ec-shopinfo">
                                        <h2><a href="#">Cricekt Gloues </a></h2>
                                        <span class="ec-price"><del><span class="amount">£300</span></del>
                                        <ins><span class="amount">£250</span></ins>
                                        </span>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <figure>
                                        <a href="#" class="ec-shop-thumb"><img src="../assets/website-content/extra-images/shop-list-4.jpg" alt=""></a>
                                        <figcaption>
                                            <ul>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#"><i class="fa fa-search"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="ec-shopinfo">
                                        <h2><a href="#">Cricket Stumps</a></h2>
                                        <span class="ec-price"><del><span class="amount">£300</span></del>
                                        <ins><span class="amount">£250</span></ins>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!--// Main Section \\-->
    </div>
    <!--// Main Content \\-->
</div>
<!--// Main Wrapper \\-->
    
<script>

    var options = {
        newsList: "#ec-news",
        startDelay: 10,
        placeHolder1: ""
    }
    jQuery().newsTicker(options);
</script>