<div class="ec-mini-header">
    <span class="ec-blue-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ec-mini-title">
                    <h1> Cricket Match Results </h1>
                </div>
                <div class="ec-breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>   Cricket Match Results </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ec-main-content">
    <!--// Main Section \\-->
    <div class="ec-main-section ec-full-service">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ec-simple-title">
                       
                        <div class="row margin-top20">
                           <div class="col-lg-12">
                              <div class="ibox float-e-margins">
                                 <div class="ibox-content">
                                    <div class="row margin-top0">
                                       <div class="col-md-12">
                                          <div class="container padding-bottom20">
                                             <ui-carousel 
                                                slides="ctrl.slides"
                                                slides-to-show="3"
                                                slides-to-scroll="1"
                                                on-init="ctrl.onCarouselInit()"
                                                on-before-change="ctrl.onCarouselBeforeChange()"
                                                on-after-change="ctrl.onCarouselAfterChange()">

                                                <carousel-item>
                                                   <img src="{{ item.image }}" alt="{{ item.title }}" />
                                                   <h3> {{ item.name }} </h3>
                                                   <p> {{ item.description }} </p>
                                                </carousel-item>

                                                <carousel-prev>
                                                   <button>Prev</button>
                                                </carousel-prev>

                                                <carousel-next>
                                                   <button>Next</button>
                                                </carousel-next>

                                             </ui-carousel>

                                             <div ng-repeat="x in item">
                                                <h3> {{ x.name }} </h3>
                                                <p> {{ x.description }} </p>
                                             </div>

                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
