<div class="ec-mini-header">
    <span class="ec-blue-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ec-mini-title">
                    <h1> News Description </h1>
                </div>
                <div class="ec-breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li> News Description </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ec-main-content">
    <!--// Main Section \\-->
    <div class="ec-main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-9 ec-spacer-section">
                        <div class="ec-detail-editor">
                            <figure class="ec-detail-thumb"><img src="{{ onelatestNews[0].image}}" alt=""></figure>
                            <h4> {{ onelatestNews[0].title }} </h4>
                            <p ng-bind-html="onelatestNews[0].description"> {{onelatestNews[0].description}} </p>
                           
                            <!-- <div class="ec-tags">
                                <span><i class="fa fa-tags"></i> Tags</span>
                                <a href="#">prestashop</a>
                                <a href="#">wordpress</a>
                                <a href="#">Supplies</a>
                                <a href="#">Techniques</a>
                            </div> -->
                        </div>
                    <!--// Related Post //-->
                    <div class="ec-blog ec-blog-grid ec-related-post">
                        <div class="ec-fancy-title">
                            <h2>Related Post</h2> </div>
                        <div class="ec-related-wrap">
                            <ul class="row">
                                <div ng-repeat="x in latestNews | limitTo : 3">
                                    <li class="col-md-4">
                                        <div class="ec-blog-wrap">
                                            <figure>
                                                <a href="#"><img src="{{x.image}}" alt=""></a> 
                                                <span class="ec-featured-star ec-bgcolor"><i class="fa fa-star"></i></span>
                                            </figure>
                                            <div class="ec-blog-text">
                                                <h2><a href="" ng-click="openNews(x.id)"> {{ x.title }} </a></h2>
                                                <div class="ec-grid-time">
                                                    <span><i class="fa fa-clock-o"></i> 3 hours ago</span>
                                                    <a href="" class="fa fa-angle-right" ng-click="openNews(x.id)"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </div>    
                            </ul>
                        </div>
                    </div>
                    <!--// Authore Post //-->
                    <!-- <div class="ec-authore-post">
                        <div class="ec-fancy-title">
                            <h2>author post</h2> </div>
                        <div class="authore-wrap">
                            <figure>
                                <a href="#"><img alt="" src="../assets/website-content/extra-images/team-grid-3.jpg"></a>
                            </figure>
                            <div class="ec-authore-info">
                                <h2><a href="#">{{ onelatestNews.firstname}} {{ onelatestNews.lastname}}</a></h2>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.</p>
                                <ul class="ec-authore-share">
                                    <li>
                                        <a class="fa fa-facebook" href="#"></a>
                                    </li>
                                    <li>
                                        <a class="fa fa-twitter" href="#"></a>
                                    </li>
                                    <li>
                                        <a class="fa fa-linkedin" href="#"></a>
                                    </li>
                                    <li>
                                        <a class="fa fa-pinterest-p" href="#"></a>
                                    </li>
                                    <li>
                                        <a class="fa fa-google-plus" href="#"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                    <!--// Authore Post //-->
                    <!--// User Comment //-->
                    <div id="eccomments">
                        <div class="ec-fancy-title">
                            <h2>4 Comments</h2> </div>
                        <ul>
                            <li>
                                <div class="thumblist">
                                    <ul>
                                        <li>
                                            <figure>
                                                <a href="#"><img src="../assets/website-content/extra-images/team-grid-3.jpg" alt=""></a>
                                            </figure>
                                            <div class="text">
                                                <a href="#">Juf Suit</a>
                                                <time datetime="2008-02-14 20:00"><i class="fa fa-clock-o"></i> 11 January 2015 9:26pm</time>
                                                <p>Wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in.</p>
                                                <a class="replay-button" href="#"><i class="fa fa-mail-reply"></i> Reply</a>
                                                <a href="#" class="comment-button"><i class="fa fa-comments"></i> 25 Comments</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="children">
                                    <li>
                                        <figure>
                                            <a href="#"><img src="../assets/website-content/extra-images/team-grid-3.jpg" alt=""></a>
                                        </figure>
                                        <div class="text">
                                            <a href="#">Kareem John</a>
                                            <time datetime="2008-02-14 20:00"><i class="fa fa-clock-o"></i> 18 January 2015 6:26pm</time>
                                            <p>Wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut wisi enim ad minim veniam, quis nostrud exerc.</p>
                                            <a class="replay-button" href="#"><i class="fa fa-mail-reply"></i> Reply</a>
                                            <a href="#" class="comment-button"><i class="fa fa-comments"></i> 25 Comments</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            
                        </ul>
                    </div>
                    <!--// User Comment //-->
                    <!--// Comment Form //-->
                    <div class="ec-form">
                        <div class="ec-fancy-title">
                            <h2>Leave a Replay</h2> </div>
                        <form>
                            <p>
                                <input type="text" value="Your Name" onblur="if(this.value == '') { this.value ='Your Name'; }" onfocus="if(this.value =='Your Name') { this.value = ''; }" name="usrname" required> </p>
                            <p>
                                <input type="text" value="Email" onblur="if(this.value == '') { this.value ='Email'; }" onfocus="if(this.value =='Email') { this.value = ''; }" name="usrname" required> </p>
                            <p>
                                <input type="text" value="Website" onblur="if(this.value == '') { this.value ='Website'; }" onfocus="if(this.value =='Website') { this.value = ''; }" name="usrname" required> </p>
                            <p class="ec-comment">
                                <textarea placeholder="Comment"></textarea>
                            </p>
                            <p class="ec-submit">
                                <input type="submit" value="Send" class="ec-bgcolor"> </p>
                        </form>
                    </div>
                    <!--// Comment Form //-->
                </div>
                <aside class="col-md-3">
                    <div class="widget ec-match_widget">
                        <div class="ec-fancy-title">
                            <h2>Live Match</h2> </div>
                        <ul>
                            <li>
                                <div class="ec-cell">
                                    <span>Valenciaca 2</span>
                                </div>
                                <div class="ec-cell">
                                    <span class="ec-vs">vs</span>
                                </div>
                                <div class="ec-cell">
                                    <span>Real Marid 1</span>
                                </div>
                            </li>
                            <li>
                                <div class="ec-cell">
                                    <span>Bristol City 2</span>
                                </div>
                                <div class="ec-cell">
                                    <span class="ec-vs">vs</span>
                                </div>
                                <div class="ec-cell">
                                    <span>Real Socer 1</span>
                                </div>
                            </li>
                            <li>
                                <div class="ec-cell">
                                    <span>Valenciaca 2</span>
                                </div>
                                <div class="ec-cell">
                                    <span class="ec-vs">vs</span>
                                </div>
                                <div class="ec-cell">
                                    <span>Real Marid 1</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="widget widget_search">
                        <div class="ec-fancy-title">
                            <h2>Search</h2> </div>
                        <form>
                            <input type="text" placeholder="Search here..">
                            <label>
                                <input type="submit" value="">
                            </label>
                        </form>
                    </div>
                    <div class="widget widget_categories">
                        <div class="ec-fancy-title">
                            <h2>CATEGORIES</h2> </div>
                        <ul>
                            <li><a href="#">One Day             </a> 03</li>
                            <li><a href="#">T20                 </a> 05</li>
                            <li><a href="#">Test Cricket        </a> 03</li>
                            <li><a href="#">IPL                 </a> 19</li>
                            <li><a href="#">One Day World Cup   </a> 02</li>
                            <li><a href="#">T20 World Cup       </a> 11</li>
                            <li><a href="#">Champions Trophy    </a> 12</li>
                            <li><a href="#">Asia Cup            </a> 04</li>
                            <li><a href="#">Ashes Series        </a> 03</li>
                        </ul>
                    </div>
                    <div class="widget ec-recentnews_widget">
                        <div class="ec-fancy-title">
                            <h2>Recently News</h2> </div>
                        <ul>
                            <div ng-repeat="x in latestNews | limitTo : 3">
                                <li>
                                    <figure>
                                        <a href="" ng-click="openNews(x.id)"><img alt="" src="../assets/website-content/extra-images/recent-widget-1.jpg"></a>
                                    </figure> 
                                    <section>
                                        <h6><a href="" ng-click="openNews(x.id)"><p ng-bind-html="x.title">  {{ x.title}} </p></a></h6>
                                        <span><i class="fa fa-clock-o"></i>
                                            <!-- <p ng-bind-html="x.question">  {{ x.question}} </p> -->
                                        </span>
                                    </section>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <!-- <div class="widget widget_gallery">
                        <div class="ec-fancy-title">
                            <h2>Flicker Gallery</h2> </div>
                        <ul class="gallery">
                            <li>
                                <a href="../assets/website-content/extra-images/team-grid-1.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/team-grid-1.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-2.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/team-grid-2.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-3.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/team-grid-3.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-4.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/team-grid-4.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-5.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/testimonial-1.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-6.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/testimonial-2.jpg" alt=""></a>
                            </li>
                        </ul>
                    </div> -->
                </aside>
            </div>
        </div>
    </div>
    <!--// Main Section \\-->
</div>
