<footer id="ec-footer">
    <!--// Twitter \\-->
    <div class="ec-twitter">
        <div class="container">
            <div class="row">
                <div class="col-md-2 twiiter-icon">
                    <i class="fa fa-twitter" aria-hidden="false"></i>
                 
                    <i class="fa fa-facebook" aria-hidden="false"></i>
                     <br>
                    <i class="fa fa-youtube" aria-hidden="false"></i>
            
                    <i class="fa fa-instagram" aria-hidden="false">  </i>
                        <span>
                            <a href="https://play.google.com/store?hl=en">
                                <img src="/assets/theme/assets/img/comingsoon-app (android).png">
                            </a>
                        </span>
                        <span>
                            <a href="https://www.apple.com/in/ios/app-store/">
                                <img src="/assets/theme/assets/img/comingsoon-app (ios).png">
                            </a>    
                        </span>    
                </div>
                <div class="col-md-10">
                    <div class="ec-twitter-slider">
                        <div class="item">
                            <div ng-repeat="x in footerPage">
                                <!-- <div class="row"> -->
                                    <div class="col-md-12 text-justify">
                                        <div >
                                            <p style="text-align: justify;" align="text-justify" ng-bind-html="x.description"> {{ x.description}} </p>
                                        </div>
                                    </div>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Twitter \\-->
    <!--// Footer Widget \\-->
    <div class="ec-footer-widget">
        <div class="container">
            <div class="row">
                <aside class="widget col-md-3 widget_categories">
                    <div class="ec-section-heading"><h2>Game of Nerve</h2></div>
                    <ul>
                        <li><a href="/app/index.html?#/app/about">About us</a></li>
                        <li><a href="/app/index.html#/app/contact">Contact us</a></li>
                        <li><a href="/app/index.html#/app/joinLeagues">Join Leagues</a></li>
                        <li><a href="/app/index.html?#/app/results">Cricket Match Result</a></li>
                        <li><a href="/app/index.html?#/app/liveScore">Cricket Live Score</a></li>
                        <li><a href="/app/index.html?#/app/termsConditions">Terms & Conditions</a></li>
                    </ul>
                </aside>

                 <aside class="widget col-md-3 widget_categories">
                    <div class="ec-section-heading"><h2>HELP</h2></div>
                    <ul>
                        <li><a href="/app/index.html?#/app/payment">Payment</a></li>
                        <li><a href="/app/index.html?#/app/howToPlay">How to Play?</a></li>
                        <li><a href="/app/index.html?#/app/job">Career</a></li>
                        <li><a href="/app/index.html?#/app/faq">FAQ's</a></li>
                        <li><a href="/app/index.html?#/app/siteMap">Site Map</a></li>
                        <li><a href="/app/index.html?#/app/privacyPolicy">Privacy Policy</a></li>
                    </ul>
                </aside>

                <aside class="widget col-md-3 widget_categories">
                    <div class="ec-section-heading"><h2>SUPPORT</h2></div>
                    <ul>
                        <li><a href="javascript:void(0);"> For Payment Withdrawals </a></li>
                        <!-- <li class="text-left "> <i class="fa fa-envelope padding-left20"></i> transactions@gameofnerve.co.in </li> -->
                        <li><a href="javascript:void(0);"> Customer Support </a></li>
                        <!-- <li class="text-left"><i class="fa fa-envelope padding-left20"></i> helpdesk@gameofnerve.co.in </li> -->
                        <li><a href="javascript:void(0);"> Media Enquiries  </a></li>
                        <!-- <li class="text-left"><i class="fa fa-envelope padding-left20"></i> pr@gameofnerve.co.in </li> -->
                    </ul>
                </aside>    

                <aside class="widget col-md-3 widget_text_info">
                    <div class="ec-section-heading">
                       <h2  >JOIN THE NEWSLETTER</h2>
                    </div>    
                    <div class="ec-newslatter">
                        <form>
                            <input type="text" value="Enter email address" onblur="if(this.value == '') { this.value ='Enter email address'; }" onfocus="if(this.value =='Enter email address') { this.value = ''; }">
                            <input type="submit" value="Sign up" class="ec-bgcolor">
                        </form>
                    </div>
                    <ul>
                        <li></li>
                        <li></li>
                    </ul>
                      <br> <br>

                     <div padding="15" >
                       <h2  >WE ACCEPT</h2>
                    </div>    
                    <div>
                        <img src="/assets/website-content/images/payment-method.jpg">
                    </div>  
                </aside>
                
            </div>
        </div>
    </div>
    <!--// Footer Widget \\-->
    <!--// CopyRight Section \\-->
    <div class="ec-bottom-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="#" class="ec-footer-logo">
                        <!-- <img src="../assets/website-content/extra-images/logo-1.png" width="100" height="100" alt=""> -->
                    </a>
                    <div class="ec-copyright">
                        <p>© copyright 2018 GameofNerve.com all rights reserved</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ec-right-section">
                        <a href="index.html" class="backtop-btn">Back to top <i class="fa fa-caret-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// CopyRight Section \\-->
</footer>

 