<div class="angularPageLoader">
    <!-- <div class="ball-scale-multiple"></div> -->
</div>
<!--// Main Header \\-->
<header id="ec-header" >
    <!--// TopSection \\-->
    <div ng-controller="headerMenuCtrl">
        <div class="ec-top-strip">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 hidden-xs">
                        <ul class="ec-strip-info ">
                            <li><i class="fa fa-phone"></i> +91-11-47052797</li>
                            <li><i class="fa fa-map-marker"></i> Shop No. 23, BG8, DDA Market, Paschim Vihar, New Delhi- 110063, India</li>
                            <!-- <li><i class="fa fa-envelope-o"></i> <a href="#">helpdesk@gameofnerve.co.in</a></li> -->
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="ec-login-section pull-right">
                            <div class="cd-log_reg">
                                <a href="#" class="ec-login-section-btn ec-bgcolor" data-toggle="modal" data-target="#ModalLogin" ng-click="loginCall()">
                                    <i class="fa fa-user"></i> Login 
                                </a> 
                                <a href="" ng-click="registrationDetails()" class="ec-login-section-btn ec-bgcolor" data-toggle="modal" data-target="#ModalRegister" > 
                                    <i class="fa fa-user"> </i>Register
                                </a>
                            </div>
                            <div class="hide ifUserLoggedIn home">
                                <nav class="ec-navigation-login user-name-section">
                                    <ul>
                                        <li  aria-hidden="false" color="#000000">
                                            <a href="/app/index.html?#/app/dashboard" class="userName ec-login-section-btn ec-bgcolor" >
                                            </a>
                                            <ul class="as-dropdown">
                                                <li> <a href="/app/index.html?#/app/dashboard">Dashboard </a> </li>
                                                <li> <a href="/app/index.html?#/app/mycontest">My Contest </a> </li>
                                                <li> <a ng-click="userProfile()">Manage Profile </a> </li>
                                                <li> <a data-toggle="modal" data-target="#ModelChangePassword"> Change Password </a> </li>
                                               <a href="#" class="ec-login-section-btn ec-bgcolor" ng-click="logoutCall()"> LogOut</a>
                                            </ul>
                                        </li>    
                                    </ul>
                                </nav>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// TopSection \\-->

    <!--// Main Header \\-->
    <div class="ec-main-navsection" >
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <a href="#" class="ec-logo pull-left"> 
                        <img src="../assets/website-content/extra-images/logo-1.png" class="logo-image" width="100" height="57" alt="">
                    </a>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8 ">
                    <div class=" ">
                        <!--// Web Menu Start Here//-->
                        <nav class="ec-navigation">
                            <ul>
                                <li id="home" class="active"><a href="index.html">Home</a></li>
                                <li ><a href=""> about us </a>
                                    <ul class="as-dropdown">
                                        <li><a href="#about" ui-sref="bat11App.about"> about us </a></li>
                                        <li><a href="#legality" ui-sref="bat11App.legality" > Legality </a></li>
                                        <li><a href="#pointSystem" ui-sref="bat11App.pointSystem" > Point System </a></li>
                                    </ul>
                                </li>
                                <li ><a href="">Fixtures</a>
                                    <ul class="as-dropdown">
                                        <li><a href="/app/index.html?#/app/upcoming">Upcoming Matches </a></li>
                                        <li><a href="/app/index.html?#/app/liveScore">Cricket Live Score</a></li>
                                        <li><a href="/app/index.html?#/app/results">Cricket Match Result</a></li>
                                        <li><a href="/app/index.html?#/app/players">Players</a></li>
                                        <li><a href="/app/index.html?#/app/teams">Teams</a></li>
                                    </ul>
                                </li>
                                <li ><a  href="" >Blog</a>
                                    <ul class="as-dropdown">
                                        <li><a href="#blog" ui-sref="bat11App.blog">Blogs Section</a></li>
                                        <li><a href="#news" ui-sref="bat11App.news">Latest News</a></li>
                                    </ul>
                                </li>
                                <li ><a href="">Gallery</a>
                                    <ul class="as-dropdown">
                                        <li><a href="#photos" ui-sref="bat11App.photos">Photos</a></li>
                                        <li><a href="#videos" ui-sref="bat11App.videos">Videos</a></li>
                                    </ul>
                                </li>
                                <li ><a  href="#contact" ui-sref="bat11App.contact">contact us</a>
                                </li>
                            </ul>
                        </nav><!--// Web Menu End Here//-->

                       <!--// Responsive Menu Start Here//-->
                       <div id="as-menu" class="as-menuwrapper pull-right">
                         
                            <!-- Nav menu button -->
                            <button class="as-trigger text-right">Open Menu</button>
                            <!-- Small screen menu bar -->
                            <ul class="as-menu">
                                <li id="home" class="active"><a href="index.html">Home</a></li>
                                <li><a href=""> about us </a>
                                    <ul class="as-submenu">
                                        <li><a href="#about" ui-sref="bat11App.about"> about us </a></li>
                                        <li><a href="#legality" ui-sref="bat11App.legality" > Legality </a></li>
                                        <li><a href="#pointSystem" ui-sref="bat11App.pointSystem" > Point System </a></li>
                                    </ul>
                                </li>    
                                <li ><a href="">Fixtures</a>
                                    <ul class="as-submenu">
                                       <li><a href="/app/index.html?#/app/upcoming">Upcoming Matches </a></li>
                                       <li><a href="/app/index.html?#/app/liveScore">Cricket Live Score</a></li>
                                       <li><a href="/app/index.html?#/app/results">Cricket Match Result</a></li>
                                       <li><a href="/app/index.html?#/app/players">Players</a></li>
                                       <li><a href="/app/index.html?#/app/teams">Teams</a></li>
                                    </ul>
                                </li>        
                                <li ><a  href="" >Blog</a>
                                    <ul class="as-submenu">
                                       <li><a href="#blog" ui-sref="bat11App.blog">Blogs Section</a></li>
                                       <li><a href="#news" ui-sref="bat11App.news">Latest News</a></li>
                                    </ul>
                                </li>
                                <li ><a href="">Gallery</a>
                                    <ul class="as-submenu">
                                       <li><a href="#photos" ui-sref="bat11App.photos">Photos</a></li>
                                       <li><a href="#videos" ui-sref="bat11App.videos">Videos</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a  href="#contact" ui-sref="bat11App.contact">contact us</a>
                                </li>
                            </ul>
                        </div> <!--// Responsive Menu End Here//-->
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <!--// Main Header \\-->
</header>
<!--// Main Header \\-->