<!-- ModalLogin Box  -->

<div class="modal fade" id="ModalLogin" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="cd-login"> <!-- log in form -->
                    <div class="ec-modallogin-form ec-login-popup" >
                        <span class="ec-color">Login to Your Account</span>
                        <form class="cd-form" ng-controller="userLogInCtrl">
                            <ul>
                                <li>
                                    <input type="text" ng-model="user.email" value="Your Username" onblur="if(this.value == '') { this.value ='Your Username'; }" onfocus="if(this.value =='Your Username') { this.value = ''; }" placeholder="Email"> </li>
                                <li>
                                    <input type="password" ng-model="user.password" value="password" onblur="if(this.value == '') { this.value ='password'; }" onfocus="if(this.value =='password') { this.value = ''; }" placeholder="Password"> 
                                </li>
                                <li> 
                                    <a href="#" data-toggle="modal" data-target="#ModelForgotPassword" data-dismiss="modal" > Forgot Password? </a> 
                                </li>
                                <li>
                                    <span class="alert doLoginError ec-color hide" id="error"  ng-click="doLogin(user)"> Wrong Email or Password
                                    </span>
                                </li>
                                <li>
                                    <button type="submit" ng-click="doLogin(user)" class="btn btn-primary">Sign In</button>
                                    <!-- <input type="submit" ng-click="doLogin(user)" value="Sign In"> -->

                                </li>
                            </ul>
                        </form>

                        <p> Not verify your mobile number yet?  
                            <a href="#" data-toggle="modal" data-target="#ModalOtpSend" data-dismiss="modal" > <u>Verify Now!</u> </a>
                        </p>

                        <p> Not a member yet? 
                            <a href="#" data-toggle="modal" data-target="#ModalRegister" data-dismiss="modal" > Sign-up Now!  </a>
                        </p>

                    </div>  
                </div>
                
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- ModalLogin Box -->

<!-- ModalRegister Box -->
<div class="modal fade" id="ModalRegister" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="cd-login"> <!-- log in form -->
                <div class="ec-modallogin-form ec-login-popup">
                    <span class="ec-color">create Account </span>
                    <form class="cd-form" ng-controller="userLogInCtrl">
                       <ul>
                            <li>
                                <input type="hidden" ng-model="user.hiddenfield" ng-value='value'> 
                                <input type="text" ng-model="user.firstname" ng-value=''  placeholder="First Name" required=""> 
                            </li>  
                            <li>
                                <input type="text" ng-model="user.lastname" value="" onblur="if(this.value == '') { this.value ='Enter Your Last Name'; }" onfocus="if(this.value =='Enter Your Last Name') { this.value = ''; }" placeholder="Last Name" required=""> 
                            </li>    
                            <li>
                                   <input type="email" class="form-control" id="email" ng-model="user.email"  class="form-control" placeholder="Email"> </li>
                            <li>
                                <input type="number" ng-model="user.mobile" value="" placeholder="Mobile Number" required="" class="form-control"> </li>   
                            <li>
                                <input type="password" ng-model="user.password1" value="" onblur="if(this.value == '') { this.value ='password'; }" onfocus="if(this.value =='password') { this.value = ''; }" placeholder="Password" required=""> </li>
                            <li>
                                <input type="password" ng-model="user.password2" value="" onblur="if(this.value == '') { this.value ='Confirm Password'; }" onfocus="if(this.value =='Confirm Password') { this.value = ''; }" placeholder="Confirm Password" required=""> </li>

                             <li>
                                <input type="date" id="datePicker" ng-model="user.dob" value="" onblur="if(this.value == '') { this.value ='Enter DOB'; }" onfocus="if(this.value =='Enter DOB') { this.value = ''; }" placeholder="DOB" required="" class="form-control" min="{{minDate | date:'yyyy-MM-dd'}}" max="{{yrRange | date:'yyyy-MM-dd'}}" > 
                            
                            </li>

                            <li>
                                <select name="selectedGender" id="repeatSelect" ng-model="user.selectedGender" required="">
                                    <option value="" disabled="" selected="selected">-- Select Gender --</option>
                                    <option ng-repeat="option in gender" value="{{option}}">{{option}}</option>
                                </select>
 
                            </li>
                           
                            <li>

                                <select name="selectedCountry" id="repeatselectedCountry" ng-model="user.selectedCountry" ng-change="getState(user.selectedCountry)" required="">
                                    <option value="" disabled="" selected="selected">-- Select Country --</option>
                                    <option ng-repeat="option in objCountry" value="{{option.id}}">{{option.name}}</option>
                                </select>

                            </li>

                            <li>

                                <select name="selectedState" id="repeatselectedState" ng-model="user.selectedState" required="">
                                    <option value="" disabled="" selected="selected">-- Select State --</option>
                                    <option ng-repeat="option in objState" value="{{option.id}}">{{option.name}}</option>
                                </select>

                            </li>    

                            <li>
                                <input type="checkbox" name="terms" value="1"> I agree to Gameofnerve.co.in's
                                <a href="/app/index.html?#/app/termsConditions">Terms &amp; Conditions  </a>
                            </li>

                            <li>
                                <input type="submit" value="Create Account" ng-click="doRegister(user)">
                            </li> 

                            <li>
                                <span class="alert doRegisterError ec-color hide" id="error"> Wrong Email or Password </span>
                            </li>
                            

                      </ul>
                    </form>
                    <p >
                        Already Member? 
                        <a href="#" data-toggle="modal" data-target="#ModalLogin" data-dismiss="modal" > Sign-in Now! </a>
                    </p>
                    <span class="ec-color">or try our socials</span>
                    <ul class="ec-login-social-media">
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                        <li class="ec-twitter-color"><a href="#"><i class="fa fa-twitter"></i> twitter</a></li>
                        <li class="ec-googleplus-color"><a href="#"><i class="fa fa-google-plus-square"></i> Google+</a></li>
                    </ul>
                </div>  
                </div>
                
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

</div>
<!-- ModalRegister Box -->

<!-- ModelChangePassword Box -->
<div class="modal fade" id="ModelChangePassword" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="cd-login"> <!-- log in form -->
                <div class="ec-modallogin-form ec-login-popup" >
                    <span class="ec-color">Change Password</span>
                    <form class="cd-form" ng-controller="userLogInCtrl">
                        <ul>
                            <li>
                                <input type="password" ng-model="user.passwordOld" value="password" onblur="if(this.value == '') { this.value ='password'; }" onfocus="if(this.value =='password') { this.value = ''; }" placeholder="Old Password"> 
                            </li>
                            <li>
                                <input type="password" ng-model="user.passwordNew1" value="password" onblur="if(this.value == '') { this.value ='password'; }" onfocus="if(this.value =='password') { this.value = ''; }" placeholder="New Password"> 
                            </li>
                             <li>
                                <input type="password" ng-model="user.passwordNew2" value="password" onblur="if(this.value == '') { this.value ='password'; }" onfocus="if(this.value =='password') { this.value = ''; }" placeholder="Confirm New Password"> 
                            </li>
                            
                            <li >
                                <span class="alert errorchangepassword ec-color hide" id="error"> Wrong Password. </span>
                            </li>
                            <li>
                                <input type="submit" ng-click="dochangePassword(user)" value="Update Password">
                            </li>
                        </ul>
                    </form>
                </div>  
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- ModelChangePassword Box -->


<!-- ModelEditProfile Box -->
<div class="modal fade" id="ModelEditProfile" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="cd-login"> <!-- log in form -->
                <div class="ec-modallogin-form ec-login-popup" >
                    <span class="ec-color">Update Profile</span>
                    <form class="cd-form" ng-controller="userLogInCtrl">
                        <ul>
                            <li>
                                <input type="text" ng-model="user.email" value="{{$cookies.get('firstname')}}" placeholder="{{loginemail}}"  readonly=""> 
                            </li>
                            <li>
                                <input type="text" ng-model="user.firstname" value="{{loginfirstname}}" readonly="" > 
                            </li>
                            <li>
                                <input type="text" ng-model="user.middlename" value="Enter Your Middle Name" onblur="if(this.value == '') { this.value ='Enter Your Middle Name'; }" onfocus="if(this.value =='Enter Your Middle Name') { this.value = ''; }" placeholder="Middle Name"> 
                            </li>
                            <li>
                                <input type="text" ng-model="user.lastname" value="{{loginlastname}}" readonly="" > 
                            </li>
                            <li>
                                <input type="text" ng-model="user.teamname" value="Enter Team Name" onblur="if(this.value == '') { this.value ='Enter Team Name'; }" onfocus="if(this.value =='Enter Team Name') { this.value = ''; }" placeholder="Team Name"> 
                            </li>
                            <li>
                                <input type="text" ng-model="user.mobile" value="Enter Mobile Number" onblur="if(this.value == '') { this.value ='Enter Mobile Number'; }" onfocus="if(this.value =='Enter Mobile Number') { this.value = ''; }" placeholder="Mobile Number"> 
                            </li>
                            <li>
                                <label>Upload Profile Picture</label>

                                <input type="file" ng-model="user.myFile" class="form-control" accept="image/*"  onchange="angular.element(this).scope().uploadedFile(this)">

                                <img ng-src="{{src}}" ng-model="user.image">
                            </li>
                            <li>
                                <label> Choose Date of Birth </label>
                                <select class="dob" ng-model="user.selectedDay"   ng-options="x for x in day"></select>
                                <select class="dob" ng-model="user.selectedMonth" ng-options="item as item.name for item in month track by item.id"></select>
                                <select class="dob" ng-model="user.selectedYear"  ng-options="x for x in year"></select>
                            </li>
                            <li>
                                <label> Select Gender</label>
                                <select class="gender"  ng-model="user.selectedGender" ng-options="x for x in gender"></select>
                            </li>
                            <li>
                                <input type="text" ng-model="user.address" value="Enter Address" onblur="if(this.value == '') { this.value ='Enter Address'; }" onfocus="if(this.value =='Enter Address') { this.value = ''; }" placeholder="Enter Address"> 
                            </li>
                            <li>
                                <label>Select Country</label>
                                <select ng-model="user.selectedCountry" ng-options="item as item.name for item in objCountry track by item.id"  ng-change="getState(user.selectedCountry)">
                                    <option>Select a Country</option>

                                </select>
                            </li>
                            <li>
                                <label>Select State</label>
                                <select ng-model="user.selectedState" ng-options="item as item.name for item in objState track by item.id"  ></select>
                            </li>
                            <li>
                                <input type="text" ng-model="user.city" value="Enter City" onblur="if(this.value == '') { this.value ='Enter City'; }" onfocus="if(this.value =='Enter City') { this.value = ''; }" placeholder="Enter City"> 
                            </li>
                            <li>
                                <input type="text" ng-model="user.pincode" value="Enter Pincode" onblur="if(this.value == '') { this.value ='Enter Pincode'; }" onfocus="if(this.value =='Enter Pincode') { this.value = ''; }" placeholder="Enter Pincode"> 
                            </li>

                            <li>
                                <span class="alert doUpdateProfileError ec-color hide" id="error"> </span>
                            </li>

                            <li>
                                <input type="submit" ng-click="doUpdateProfile(user)" value="Update">
                            </li>
                        </ul>
                    </form>
                </div>  
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- ModelEditProfile Box -->

<!-- ModelForgotPassword Box -->
<div class="modal fade" id="ModelForgotPassword" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="cd-login"> <!-- log in form -->
                <div class="ec-modallogin-form ec-login-popup" >
                    <span class="ec-color">Forgot Password</span>
                    <form class="cd-form" ng-controller="userLogInCtrl">
                        <ul>
                            <li>
                                <input type="text" ng-model="user.email" value="Enter Your Email Address" onblur="if(this.value == '') { this.value ='Enter Your Email Address'; }" onfocus="if(this.value =='Enter Your Email Address') { this.value = ''; }" placeholder="Enter Your Email Address"> 
                            </li>
                            <li> <span class="alert doForgotPasswordError ec-color hide" id="error"> </span> </li>
                            <li> <input type="submit" ng-click="doForgotPassword(user)" value="Send my Password"> </li>
                        </ul>
                    </form>
                </div>  
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- ModelForgotPassword Box -->


<!-- ModalTerms Box -->
<div class="modal fade" id="ModalTerms" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="cd-login">  
                    <div class="ec-modallogin-form ec-login-popup" >
                         <div ng-repeat="x in terms">
                            <div class="text-justify">
                                <p ng-bind-html="x.description">{{ x.description}}</p>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- ModalTerms Box -->


<!-- ModalOtpSend Box -->
<div class="modal fade" id="ModalOtpSend" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="cd-login">  
                    <div class="ec-modallogin-form ec-login-popup" >
                        <span class="ec-color">Account Verification Details</span>
                        <form class="cd-form" ng-controller="userLogInCtrl">
                            <ul>
                                <li>
                                    <input type="text" ng-model="mobile" value="Enter Your Mobile Number" onblur="if(this.value == '') { this.value ='Enter Your Mobile Number'; }" onfocus="if(this.value =='Enter Your Mobile Number') { this.value = ''; }" placeholder="Enter Your Mobile Number" required=""> 
                                </li>
                                
                                <li>
                                    <input type="text" ng-model="email" value="Enter Your Email" onblur="if(this.value == '') { this.value ='Enter Your Email'; }" onfocus="if(this.value =='Enter Your Email') { this.value = ''; }" placeholder="Enter Your Email" required=""> 
 
                                </li>

                                <li>
                                    <span class="alert sendOTPerror ec-color hide" id="error"> </span>
                                </li>

                                <li>  
                                    <input type="submit" ng-click="sendOTP(mobile, email)" value="Send my OTP Password">
                                </li>
                            </ul>
                        </form>
                    </div> 
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- ModalOtpSend Box -->


<!-- ModalOtpSumbit Box -->
<div class="modal fade" id="ModalOtpSumbit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="cd-login">  
                    <div class="ec-modallogin-form ec-login-popup" >
                        <span class="ec-color">Enter OTP to verify your mobile number</span>
                        <form class="cd-form" ng-controller="userLogInCtrl">
                            <ul>
                                <li>
                                    <input type="text" ng-model="otp" value="Enter Your OTP" onblur="if(this.value == '') { this.value ='Enter Your OTP'; }" onfocus="if(this.value =='Enter Your OTP') { this.value = ''; }" placeholder="Enter Your OTP" required=""> 
                                </li>
   
                                <li>  

                                    <span class="alert submitOTPerror ec-color hide" id="error"> </span> 
                                </li>

                                <li> 
                                    <input type="submit" ng-click="submitOTP(otp)" value="Submit" > 
                                    <a href="#" data-toggle="modal" data-target="#ModalOtpSend" data-dismiss="modal" style="float: right;"> Resend OTP </a>  
                                </li>     

                            </ul>
                        </form>
                    </div> 
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- ModalOtpSumbit Box-->


<!-- errorMessageShow Box -->
<div class="modal fade" id="errorMessageShow" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="cd-login"> <!-- log in form -->
                    <div class="ec-modallogin-form ec-login-popup" >
                        <form class="cd-form" ng-controller="userLogInCtrl">
                            <span class="alert errorchangepassword ec-color hide" id="error"></span>
                        </form>
                    </div>  
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- errorMessageShow Box -->

<script type="text/javascript">
    
</script>