.footercontent{margin-top: 30px !important;margin-bottom: 0px !important;padding-top: 75px !important;padding-bottom: 75px !important;background-image: url(../image/gallery-bg.jpg) !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}
.footerSection{ position: relative;left: -107px;box-sizing: border-box; width: 1384px;padding-left: 107px;    padding-right: 107px;}
.newslettercontent{margin-top: 0px !important;margin-bottom: 0px !important;padding-top: 40px !important;padding-bottom: 40px !important;background-image: url(../image/newsletter.jpg) !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}
.newslettersection{    position: relative; left: -107px;  box-sizing: border-box; width: 1384px; padding-left: 107px;  padding-right: 107px;}

#mailchimp-id{display:none;}
.sliderUl{width: 1400%; transition-duration: 0s;transform: translate3d(0px, 0px, 0px);}
.slideli{width: 458px; float: left;display: block;}

.user-background{
	background-color: #eee;
}