/*
Theme Name: wpsoccer
Theme URI: http://themeum.com/wordpress/wpsoccer
Author: Themeum
Author URI: http://themeum.com/
Description: Soccer Premium Sports Theme.
Version: 2.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, green, pink, purple, dark, right-sidebar, two-columns, responsive-layout
Text Domain: themeum
*/


@import url('../css/flexslider.css');

.btn-lg,.btn{
	border-radius: 0px;
}
.gallery-caption{  }

.bypostauthor{  }
#mailchimp-id{ display:none; }

.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
   width: 30.75%;
   margin-bottom: 30px;
}




