<div class="ec-mini-header">
    <span class="ec-blue-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ec-mini-title">
                    <h1> Players </h1>
                </div>
                <div class="ec-breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>   Players </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!--// Main Content \\-->
<div class="ec-main-content">
    <!--// Main Section \\-->
    <div class="ec-main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div ng-controller="paginationCtrl">    
                        <div class="ec-team ec-team-grid">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Number of result:</label>
                                </div>
                                <div class="col-md-4 col-offset-md-6 padding-bottom20">
                                    <select ng-model="pageSize" id="pageSize" class="form-control">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                     </select>
                                </div>
                            </div>
                            <ul class="row">

                                <div ng-repeat="x in playerDetailsData | filter:q | startFrom:currentPage*pageSize | limitTo:pageSize">
                                    <li class="col-md-4 padding-bottom10">
                                        <div class="ec-team-wrap">
                                            <figure>
                                                <a href="" ng-click="playerDetails(x.playerKey)"><img src="{{x.playerImage}}" alt="" style="height: 170px;"></a>
                                            </figure>
                                            <div class="ec-team-info">
                                                <div class="ec-forinfo">
                                                    <h3 style="padding-left: 5px; font-size: 15px;"><a href="" ng-click="playerDetails(x.playerKey)">{{x.fullName}}</a></h3>
                                                    <small class="padding-left5">{{x.playingRole}}</small>
                                                </div>
                                                <span class="ec-goal-counter ec-bgcolor padding-left5 margin-right5">{{x.playerCredits}}</span>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    <ul class="ec-pagination" style="padding-top: 20px; padding-left: 600px; ">
                        <li class="active"><a href="" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"><i class="fa fa-angle-left"></i></a></li>
                        
                        <li ><a href="">{{currentPage+1}}/{{numberOfPages()}}</a></li>
                        
                        <li class="active"><a href="" ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1"><i class="fa fa-angle-right"></i></a></li>

                    </ul>
                    </div>
                </div>
                <aside class="col-md-3">
                    <div class="widget widget_search">
                        <div class="ec-fancy-title">
                            <h2>Search</h2> </div>
                        <form>
                            <input type="text" placeholder="Search here..">
                            <label>
                                <input type="submit" value="">
                            </label>
                        </form>
                    </div>
                    <div class="widget widget_categories">
                        <div class="ec-fancy-title">
                            <h2>CATEGORIES</h2> </div>
                        <ul>
                            <li><a href="#">One Day             </a> 03</li>
                            <li><a href="#">T20                 </a> 05</li>
                            <li><a href="#">Test Cricket        </a> 03</li>
                            <li><a href="#">IPL                 </a> 19</li>
                            <li><a href="#">One Day World Cup   </a> 02</li>
                            <li><a href="#">T20 World Cup       </a> 11</li>
                            <li><a href="#">Champions Trophy    </a> 12</li>
                            <li><a href="#">Asia Cup            </a> 04</li>
                            <li><a href="#">Ashes Series        </a> 03</li>
                        </ul>
                    </div>
                   <div class="widget ec-recentnews_widget">
                        <div class="ec-fancy-title">
                           <a href="/app/index.html?#/app/blog"> <h2>Blogs</h2> </a>
                       </div>
                        <ul>
                            <div ng-repeat="x in blogData | limitTo : 3">
                                <li>
                                    <a href="" ng-click="openBlog(x.id)">
                                        <figure>
                                            <img src="{{x.featimage}}" alt="" >
                                        </figure> 
                                        <section>
                                            <h6>  {{ x.topic}} </h6>
                                            <span><i class="fa fa-clock-o"></i>
                                                3 hours ago
                                            </span>
                                        </section>
                                    </a>    
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="widget widget_gallery">
                        <div class="ec-fancy-title">
                            <h2>Flicker Gallery</h2> </div>
                        <ul class="gallery">
                            <li>
                                <a href="../assets/website-content/extra-images/team-grid-1.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/team-grid-1.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-2.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/team-grid-2.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-3.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/team-grid-3.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-4.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/team-grid-4.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-5.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/testimonial-1.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-6.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/testimonial-2.jpg" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <!--// Main Section \\-->
</div>
