<div class="ec-mini-header">
    <span class="ec-blue-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ec-mini-title">
                    <h1> Player Details </h1>
                </div>
                <div class="ec-breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>   Player Details </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--// Main Content \\-->
<div class="ec-main-content">
<!--// Main Section \\-->
    <div class="ec-main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="ec-fancy-title">
                        <h2>{{onePlayerDetails[0].fullName}}</h2> </div>
                    <div class="ec-plyer-information">
                        <figure>
                            <a href=""><img src="{{onePlayerDetails[0].playerImage}}" alt=""></a>
                        </figure>
                        <div class="ec-plyer-designation">
                            <ul>
                                <li><small>Team Name</small> <a href="" ng-click="teamDetails(x.teamId)"><span>{{onePlayerDetails[0].teamname}}</span></a></li>
                                <li><small>Player Role</small> <span>{{onePlayerDetails[0].playingRole}}</span></li>
                                <li><small>Batting Style</small> <span>{{onePlayerDetails[0].battingStyle}}</span></li>
                                <li><small>Bowling Style</small> <span>{{onePlayerDetails[0].bowlingStyle}}</span></li>
                                <li><small>Price</small> <span>{{onePlayerDetails[0].price}}</span></li>
                                <li><small>Player Credits</small> <span>{{onePlayerDetails[0].playerCredits}}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="ec-fancy-title">
                        <h2>CAREER STATISTICS</h2> 
                    </div>

                    <div class="ec-detail-editor ec-plyer-information-wrap" style="padding-right: 10px; padding-left: 10px;">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Batting Career</h5>
                                <table width="100%" >
                                    <thead>
                                        <th></th>
                                        <th>Matches</th>
                                        <th>Ings.</th>
                                        <th>Runs</th>
                                        <th>Balls</th>
                                        <th>Avg.</th>
                                        <th>S/R</th>
                                        <th>6s</th>
                                        <th>4s</th>
                                        <th>100s</th>
                                        <th>50s</th>
                                        <th>H.S.</th>
                                        <th>N.O.</th>
                                    </thead>
                                    <tr>
                                        <td>Test</td>
                                        <td>{{ objTest.batting.matches }}</td>
                                        <td>{{ objTest.batting.innings }}</td>
                                        <td>{{ objTest.batting.runs }}</td>
                                        <td>{{ objTest.batting.balls }}</td>
                                        <td>{{ objTest.batting.average }}</td>
                                        <td>{{ objTest.batting.strike_rate }}</td>
                                        <td>{{ objTest.batting.sixes }}</td>
                                        <td>{{ objTest.batting.fours }}</td>
                                        <td>{{ objTest.batting.hundreds }}</td>
                                        <td>{{ objTest.batting.fifties }}</td>
                                        <td>{{ objTest.batting.high_score }}</td>
                                        <td>{{ objTest.batting.not_outs }}</td>
                                    </tr>
                                
                                    <tr>
                                        <td>ODI</td>
                                        <td>{{ objOdi.batting.matches }}</td>
                                        <td>{{ objOdi.batting.innings }}</td>
                                        <td>{{ objOdi.batting.runs }}</td>
                                        <td>{{ objOdi.batting.balls }}</td>
                                        <td>{{ objOdi.batting.average }}</td>
                                        <td>{{ objOdi.batting.strike_rate }}</td>
                                        <td>{{ objOdi.batting.sixes }}</td>
                                        <td>{{ objOdi.batting.fours }}</td>
                                        <td>{{ objOdi.batting.hundreds }}</td>
                                        <td>{{ objOdi.batting.fifties }}</td>
                                        <td>{{ objOdi.batting.high_score }}</td>
                                        <td>{{ objOdi.batting.not_outs }}</td>
                                    </tr>
                                
                                    <tr>
                                        <td>T20</td>
                                        <td>{{ objT20.batting.matches }}</td>
                                        <td>{{ objT20.batting.innings }}</td>
                                        <td>{{ objT20.batting.runs }}</td>
                                        <td>{{ objT20.batting.balls }}</td>
                                        <td>{{ objT20.batting.average }}</td>
                                        <td>{{ objT20.batting.strike_rate }}</td>
                                        <td>{{ objT20.batting.sixes }}</td>
                                        <td>{{ objT20.batting.fours }}</td>
                                        <td>{{ objT20.batting.hundreds }}</td>
                                        <td>{{ objT20.batting.fifties }}</td>
                                        <td>{{ objT20.batting.high_score }}</td>
                                        <td>{{ objT20.batting.not_outs }}</td>
                                    </tr>
                                
                                    <tr>
                                        <td>IPL-T20</td>
                                        <td>{{ objIpl.batting.matches }}</td>
                                        <td>{{ objIpl.batting.innings }}</td>
                                        <td>{{ objIpl.batting.runs }}</td>
                                        <td>{{ objIpl.batting.balls }}</td>
                                        <td>{{ objIpl.batting.average }}</td>
                                        <td>{{ objIpl.batting.strike_rate }}</td>
                                        <td>{{ objIpl.batting.sixes }}</td>
                                        <td>{{ objIpl.batting.fours }}</td>
                                        <td>{{ objIpl.batting.hundreds }}</td>
                                        <td>{{ objIpl.batting.fifties }}</td>
                                        <td>{{ objIpl.batting.high_score }}</td>
                                        <td>{{ objIpl.batting.not_outs }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Bowling Career</h5>
                                <table width="100%" >
                                    <thead>
                                        <th></th>
                                        <th>Matches</th>
                                        <th>Ings.</th>
                                        <th>Wkts.</th>
                                        <th>Balls</th>
                                        <th>Runs</th>
                                        <th>Eco.</th>
                                        <th>Avg.</th>
                                        <th>S/R</th>
                                        <th>4W/I</th>
                                        <th>5W/I</th>
                                        <th>10/M</th>
                                        <th>B/I</th>
                                        <th>B/M</th>
                                    </thead>
                                    <tr>
                                        <td>Test</td>
                                        <td>{{ objTest.bowling.matches }}</td>
                                        <td>{{ objTest.bowling.innings }}</td>
                                        <td>{{ objTest.bowling.wickets }}</td>
                                        <td>{{ objTest.bowling.balls }}</td>
                                        <td>{{ objTest.bowling.runs }}</td>
                                        <td>{{ objTest.bowling.economy }}</td>
                                        <td>{{ objTest.bowling.average }}</td>
                                        <td>{{ objTest.bowling.strike_rate }}</td>
                                        <td>{{ objTest.bowling.four_wickets }}</td>
                                        <td>{{ objTest.bowling.five_wickets }}</td>
                                        <td>{{ objTest.bowling.ten_wickets }}</td>
                                        <td>{{ objTest.bowling.best_innings_bowling }}</td>
                                        <td>{{ objTest.bowling.best_match_bowling }}</td>
                                    </tr>
                                    <tr>
                                        <td>ODI</td>
                                        <td>{{ objOdi.bowling.matches }}</td>
                                        <td>{{ objOdi.bowling.innings }}</td>
                                        <td>{{ objOdi.bowling.wickets }}</td>
                                        <td>{{ objOdi.bowling.balls }}</td>
                                        <td>{{ objOdi.bowling.runs }}</td>
                                        <td>{{ objOdi.bowling.economy }}</td>
                                        <td>{{ objOdi.bowling.average }}</td>
                                        <td>{{ objOdi.bowling.strike_rate }}</td>
                                        <td>{{ objOdi.bowling.four_wickets }}</td>
                                        <td>{{ objOdi.bowling.five_wickets }}</td>
                                        <td>{{ objOdi.bowling.ten_wickets }}</td>
                                        <td>{{ objOdi.bowling.best_innings_bowling }}</td>
                                        <td>{{ objOdi.bowling.best_match_bowling }}</td>
                                    </tr>
                                    <tr>
                                        <td>T20</td>
                                        <td>{{ objT20.bowling.matches }}</td>
                                        <td>{{ objT20.bowling.innings }}</td>
                                        <td>{{ objT20.bowling.wickets }}</td>
                                        <td>{{ objT20.bowling.balls }}</td>
                                        <td>{{ objT20.bowling.runs }}</td>
                                        <td>{{ objT20.bowling.economy }}</td>
                                        <td>{{ objT20.bowling.average }}</td>
                                        <td>{{ objT20.bowling.strike_rate }}</td>
                                        <td>{{ objT20.bowling.four_wickets }}</td>
                                        <td>{{ objT20.bowling.five_wickets }}</td>
                                        <td>{{ objT20.bowling.ten_wickets }}</td>
                                        <td>{{ objT20.bowling.best_innings_bowling }}</td>
                                        <td>{{ objT20.bowling.best_match_bowling }}</td>
                                    </tr>
                                    <tr>
                                        <td>IPL-T20</td>
                                        <td>{{ objIpl.bowling.matches }}</td>
                                        <td>{{ objIpl.bowling.innings }}</td>
                                        <td>{{ objIpl.bowling.wickets }}</td>
                                        <td>{{ objIpl.bowling.balls }}</td>
                                        <td>{{ objIpl.bowling.runs }}</td>
                                        <td>{{ objIpl.bowling.economy }}</td>
                                        <td>{{ objIpl.bowling.average }}</td>
                                        <td>{{ objIpl.bowling.strike_rate }}</td>
                                        <td>{{ objIpl.bowling.four_wickets }}</td>
                                        <td>{{ objIpl.bowling.five_wickets }}</td>
                                        <td>{{ objIpl.bowling.ten_wickets }}</td>
                                        <td>{{ objIpl.bowling.best_innings_bowling }}</td>
                                        <td>{{ objIpl.bowling.best_match_bowling }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>        
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Fielding Career</h5>
                                <table width="100%" >
                                    <thead>
                                        <th></th>
                                        <th>Matches</th>
                                        <th>Catches</th>
                                        <th>Stumpings</th>
                                    </thead>
                                    <tr>
                                        <td>Test</td>
                                        <td>{{ objTest.bowling.matches }}</td>
                                        <td>{{ objTest.fielding.catches   }}</td>
                                        <td>{{ objTest.fielding.stumpings }}</td>
                                    </tr>
                                    <tr>
                                        <td>ODI</td>
                                        <td>{{ objOdi.bowling.matches }}</td>
                                        <td>{{ objOdi.fielding.catches   }}</td>
                                        <td>{{ objOdi.fielding.stumpings }}</td>
                                    </tr>
                                    <tr>
                                        <td>T20</td>
                                        <td>{{ objT20.bowling.matches }}</td>
                                        <td>{{ objT20.fielding.catches   }}</td>
                                        <td>{{ objT20.fielding.stumpings }}</td>
                                    </tr>
                                    <tr>
                                        <td>IPL-T20</td>
                                        <td>{{ objT20.bowling.matches }}</td>
                                        <td>{{ objIpl.fielding.catches   }}</td>
                                        <td>{{ objIpl.fielding.stumpings }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Last Played</h5>
                                <table width="100%" >
                                    
                                    <tr>
                                        <td>Test</td>
                                        <td style="text-align: left; padding-left: 15px;">
                                            {{ onePlayerDetails[0].lasttestmatch }}  
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>ODI</td>
                                        <td style="text-align: left; padding-left: 15px;">
                                            {{ onePlayerDetails[0].lastonedaymatch }} 
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>T20</td>
                                        <td style="text-align: left; padding-left: 15px;">
                                            {{ onePlayerDetails[0].lastt20match }} 
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>IPL-T20</td>
                                        <td style="text-align: left; padding-left: 15px;">
                                            {{ onePlayerDetails[0].lastiplt20match }} 
                                        </td>
                                        
                                    </tr>
                                </table>
                            </div>
                        </div>    
                    </div>
                   
                   <!--  <ul class="ec-pagination">
                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li><span>. . .</span></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><span>. . .</span></li>
                        <li><a href="#">15</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul> -->
                </div>
                <aside class="col-md-3">
                    <div class="widget widget_search">
                        <div class="ec-fancy-title">
                            <h2>Search</h2> </div>
                        <form>
                            <input type="text" placeholder="Search here..">
                            <label>
                                <input type="submit" value="">
                            </label>
                        </form>
                    </div>
                    <div class="widget widget_categories">
                        <div class="ec-fancy-title">
                            <h2>CATEGORIES</h2> </div>
                        <ul>
                            <li><a href="#">One Day             </a> 03</li>
                            <li><a href="#">T20                 </a> 05</li>
                            <li><a href="#">Test Cricket        </a> 03</li>
                            <li><a href="#">IPL                 </a> 19</li>
                            <li><a href="#">One Day World Cup   </a> 02</li>
                            <li><a href="#">T20 World Cup       </a> 11</li>
                            <li><a href="#">Champions Trophy    </a> 12</li>
                            <li><a href="#">Asia Cup            </a> 04</li>
                            <li><a href="#">Ashes Series        </a> 03</li>
                        </ul>
                    </div>
                   <div class="widget ec-recentnews_widget">
                        <div class="ec-fancy-title">
                           <a href="" ng-click="openBlog(x.slug)"> <h2>Blogs</h2> </a>
                       </div>
                        <ul>
                            <div ng-repeat="x in blogData | limitTo : 3">
                                <li>
                                    <a href="" ng-click="openBlog(x.slug)">
                                        <figure>
                                            <img src="{{x.featimage}}" alt="" >
                                        </figure> 
                                        <section>
                                            <h6>  {{ x.topic}} </h6>
                                            <span><i class="fa fa-clock-o"></i>
                                                3 hours ago
                                            </span>
                                        </section>
                                    </a>    
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="widget widget_gallery">
                        <div class="ec-fancy-title">
                            <h2>Flicker Gallery</h2> </div>
                        <ul class="gallery">
                            <li>
                                <a href="../assets/website-content/extra-images/team-grid-1.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/team-grid-1.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-2.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/team-grid-2.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-3.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/team-grid-3.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-4.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/team-grid-4.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-5.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/testimonial-1.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-6.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/testimonial-2.jpg" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <!--// Main Section \\-->
</div>
