<div class="ec-mini-header">
    <span class="ec-blue-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ec-mini-title">
                    <h1> Teams Details </h1>
                </div>
                <div class="ec-breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>   Teams Details </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--// Main Content \\-->
<div class="ec-main-content">
<!--// Main Section \\-->
    <div class="ec-main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="ec-fancy-title">
                        <h2>{{oneTeamDetails[0].oneTeamDetails}}</h2> </div>
                    <div class="ec-plyer-information">
                        <figure>
                            <a href="#"><img src="{{oneTeamDetails[0].teamflag}}" alt=""></a>
                        </figure>
                        <div class="ec-plyer-designation">
                            <ul>
                                <!-- <li><small>Captain</small> <span>Virat Kohli</span></li> -->
                                <!-- <li><small>Coach</small> <span>Ravi Shastri</span></li> -->
                                <li><small>ICC Test Ranking</small> <span>1st</span></li>
                                <li><small>ICC ODI Ranking</small> <span>2nd</span></li>
                                <li><small>ICC T20 Ranking</small> <span>5th</span></li>
                                <!-- <li><small>NATIONALITY</small> <span>Asian</span></li>
                                <li><small>HEIGHT</small> <span>1.01 M</span></li>
                                <li><small>WEIGHT</small> <span>60 KG</span></li>
                                <li><small>Nicknames</small> <span>Nole</span></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="ec-team ec-team-grid">
                        <ul class="row">
                            <div ng-repeat="x in oneTeamDetails">
                                <li class="col-md-4 padding-bottom10">
                                <div class="ec-team-wrap">
                                    <figure>
                                        <a href="" ng-click="playerDetails(x.playerKey)"><img src="{{x.playerImage}}" alt="" style="height: 170px;"></a>
                                    </figure>
                                    <div class="ec-team-info">
                                        <div class="ec-forinfo">
                                            <h3 style="padding-left: 5px; font-size: 15px;"><a href="" ng-click="playerDetails(x.playerKey)">{{x.fullName}}</a></h3>
                                            <small class="padding-left5">{{x.playingRole}}</small>
                                        </div>
                                        <span class="ec-goal-counter ec-bgcolor padding-left5 margin-right5">{{x.playerCredits}}</span>
                                        <!-- <span class="ec-plyer-info">Born August 31, 1988 <br> Medellin, Colombia</span> -->
                                    </div>
                                </div>
                            </li>

                            </div>    
                        </ul>
                    </div>        

                   <!--  <ul class="ec-pagination">
                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li><span>. . .</span></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><span>. . .</span></li>
                        <li><a href="#">15</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul> -->
                </div>
                <aside class="col-md-3">
                    <div class="widget widget_search">
                        <div class="ec-fancy-title">
                            <h2>Search</h2> </div>
                        <form>
                            <input type="text" placeholder="Search here..">
                            <label>
                                <input type="submit" value="">
                            </label>
                        </form>
                    </div>
                    <div class="widget widget_categories">
                        <div class="ec-fancy-title">
                            <h2>CATEGORIES</h2> </div>
                        <ul>
                            <li><a href="#">One Day             </a> 03</li>
                            <li><a href="#">T20                 </a> 05</li>
                            <li><a href="#">Test Cricket        </a> 03</li>
                            <li><a href="#">IPL                 </a> 19</li>
                            <li><a href="#">One Day World Cup   </a> 02</li>
                            <li><a href="#">T20 World Cup       </a> 11</li>
                            <li><a href="#">Champions Trophy    </a> 12</li>
                            <li><a href="#">Asia Cup            </a> 04</li>
                            <li><a href="#">Ashes Series        </a> 03</li>
                        </ul>
                    </div>
                   <div class="widget ec-recentnews_widget">
                        <div class="ec-fancy-title">
                           <a href="/app/index.html?#/app/blog"> <h2>Blogs</h2> </a>
                       </div>
                        <ul>
                            <div ng-repeat="x in blogData | limitTo : 3">
                                <li>
                                    <a href="" ng-click="openBlog(x.id)">
                                        <figure>
                                            <img src="{{x.featimage}}" alt="" >
                                        </figure> 
                                        <section>
                                            <h6>  {{ x.topic}} </h6>
                                            <span><i class="fa fa-clock-o"></i>
                                                3 hours ago
                                            </span>
                                        </section>
                                    </a>    
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="widget widget_gallery">
                        <div class="ec-fancy-title">
                            <h2>Flicker Gallery</h2> </div>
                        <ul class="gallery">
                            <li>
                                <a href="../assets/website-content/extra-images/team-grid-1.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/team-grid-1.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-2.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/team-grid-2.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-3.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/team-grid-3.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-4.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/team-grid-4.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-5.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/testimonial-1.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-6.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/testimonial-2.jpg" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <!--// Main Section \\-->
</div>
  

