<div class="ec-mini-header">
    <span class="ec-blue-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ec-mini-title">
                    <h1>   Photos </h1>
                </div>
                <div class="ec-breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>   Photos </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



  <div class="ec-main-content">
    <div class="ec-main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ec-gallery ec-simple-gallery">
                        <ul class="row gallery">
                            <div ng-repeat="x in imgData">
                                <li class="col-md-3">
                                    <figure>
                                        <a href="#"><img src="{{x.name}}" alt=""></a>
                                        <figcaption>
                                            <a title="" rel="x.caption" href="" class="ec-color">
                                                <i class="fa fa-compress">
                                                    <p ng-bind-html="x.caption">{{ x.caption}}</p>
                                                </i>
                                            </a>
                                        </figcaption>
                                    </figure>
                                </li>
                            </div>    
                        </ul>
                    </div>
                    <!-- <ul class="ec-pagination">
                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li><span>. . .</span></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><span>. . .</span></li>
                        <li><a href="#">15</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</div>