<div class="ec-mini-header">
    <span class="ec-blue-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ec-mini-title">
                    <h1>   Videos </h1>
                </div>
                <div class="ec-breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>   Videos </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ec-main-content">
    <div class="ec-main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-justify">
                    <div>
                        <div class="row">
                            <div ng-repeat="x in videosData">
                                <div class="col-md-6">
                                    <div class="ec-fancy-title">
                                        <h2>Youtube Video</h2> 
                                    </div>
                                    <div class="ec-map">
                                        <iframe ng-src="https://www.youtube.com/embed/nCHoHgGWPtk" height="380"></iframe>
                                        <!-- <iframe ng-src="{{x.name}}" height="380"></iframe> -->
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <pre>
                                        <p ng-bind-html="x.caption">{{ x.caption}}</p>
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

