<div class="ec-mini-header">
    <span class="ec-blue-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ec-mini-title">
                    <h1>   Gallery </h1>
                </div>
                <div class="ec-breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>   Gallery </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

 <div class="ec-main-content">
    <div class="ec-main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ec-404page">
                        <div class="ec-404wrap">
                            <h2>404 not found</h2>
                            <p>Look Like something wrong! The page you were looking for is not here <a href="index.html">Go Home</a> or try search:</p>
                            <div class="clear"></div>
                            <div class="widget_search">
                                <form>
                                    <input type="text" placeholder="Search here..">
                                    <label>
                                        <input type="submit" value="">
                                    </label>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
