<!-- Link to the AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

<!-- CSS -->
<style type="text/css">
		
	@import "//fonts.googleapis.com/css?family=Bangers";

	body {
	  margin: 0;
	}

	.wrap {
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-align: center;
	      -ms-flex-align: center;
	          align-items: center;
	  -webkit-box-pack: center;
	      -ms-flex-pack: center;
	          justify-content: center;
	  height: 100vh;
	  background: black;
	}

	.time-to {
	  text-align: center;
	  font-family: Bangers;
	  color: white;
	  font-size: 30px;
	  letter-spacing: 2px;
	}
	.time-to span {
	  display: block;
	  font-size: 80px;
	  color: red;
	}

</style>

 

<!-- HTML -->
	
<div class='wrap' ng-app='app'>
<div class='time-to'>
The world might end in...
<span countdown='' date='December 2, 2017 12:00:00'>&nbsp;</span>
<span model="countdown">
{{countdown}}
</span>
</div>
</div>



<!-- JS -->

<script type="text/javascript">

(function() {
  angular.module('app', [])


  .directive('countdown', [ 'Util', '$interval', function(Util, $interval) {

                        return {
                          restrict: 'A',
                          scope: {
                            date: '@'
                          },
                          link: function(scope, element) {
                            var future;
                            future = new Date(scope.date);
                            $interval(function() {
                              var diff;
                              diff = Math.floor((future.getTime() - new Date().getTime()) / 1000);
                              return element.text(Util.dhms(diff));
                            }, 1000);
                          }
                        };
                      }

          ])


  

  .factory('Util', [ function() {
      return {
        dhms: function(t) {
          var hours, minutes, seconds;
          hours = Math.floor(t / 3600);
          t -= hours * 3600;
          minutes = Math.floor(t / 60) % 60;
          t -= minutes * 60;
          seconds = t % 60;
          return [hours + ':', minutes + ':', seconds].join('');
        }
      };
    }
  ]);


}).call(this);

</script>