<div class="ec-mainbanner">
    <div class="flexslider">
        <div class="flex-viewport" style="overflow: hidden; position: relative;">
            <ul class="slides" style="width: 800%; transition-duration: 0s; transform: translate3d(-2846px, 0px, 0px);">
                <li class="clone" aria-hidden="true" style="width: 1423px; float: left; display: block;">
                    <img src="extra-images/banner-2.jpg" alt="" draggable="false">
                        <span class="ec-transparent-color"></span>
                    <div class="ec-caption">
                        <div class="container">
                            <div class="caption-inner-wrap">
                                <time class="ec-bgcolor" datetime="2008-02-14 20:00">From the March 7, 2014</time>
                                <div class="clearfix"></div>
                                <h1>Welcome to eyesports</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id justo a arcu viverra placerat in eget dolor. In hac habitasse platea dictumst. Etiam porta diam sed lacus pharetra, elementum molestie metus fermentum.</p>
                                <a href="#" class="ec-bgcolor">Read More</a>
                            </div>
                            <div class="ec-caption-image"> <img src="extra-images/banner-static.png" alt="" draggable="false"> </div>
                        </div>
                    </div>
                </li>
                <li style="width: 1423px; float: left; display: block;" class="">
                    <img src="extra-images/banner-1.jpg" alt="" draggable="false">
                    <span class="ec-transparent-color"></span>
                    <div class="ec-caption">
                        <div class="container">
                            <div class="caption-inner-wrap">
                                <time class="ec-bgcolor" datetime="2008-02-14 20:00">From the March 7, 2014</time>
                                <div class="clearfix"></div>
                                <h1>Welcome to eyesports</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id justo a arcu viverra placerat in eget dolor. In hac habitasse platea dictumst. Etiam porta diam sed lacus pharetra, elementum molestie metus fermentum.</p>
                                <a href="#" class="ec-bgcolor">Read More</a>
                            </div>
                            <div class="ec-caption-image"> <img src="extra-images/banner-static.png" alt="" draggable="false"> </div>
                        </div>
                    </div>
                </li>
                <li style="width: 1423px; float: left; display: block;" class="flex-active-slide">
                    <img src="extra-images/banner-2.jpg" alt="" draggable="false">
                    <span class="ec-transparent-color"></span>
                    <div class="ec-caption">
                        <div class="container">
                            <div class="caption-inner-wrap">
                                <time class="ec-bgcolor" datetime="2008-02-14 20:00">From the March 7, 2014</time>
                                <div class="clearfix"></div>
                                <h1>Welcome to eyesports</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id justo a arcu viverra placerat in eget dolor. In hac habitasse platea dictumst. Etiam porta diam sed lacus pharetra, elementum molestie metus fermentum.</p>
                                <a href="#" class="ec-bgcolor">Read More</a>
                            </div>
                            <div class="ec-caption-image"> <img src="extra-images/banner-static.png" alt="" draggable="false"> </div>
                        </div>
                    </div>
                </li>
                <li style="width: 1423px; float: left; display: block;" class="clone" aria-hidden="true">
                <img src="extra-images/banner-1.jpg" alt="" draggable="false">
                <span class="ec-transparent-color"></span>
                <div class="ec-caption">
                    <div class="container">
                        <div class="caption-inner-wrap">
                            <time class="ec-bgcolor" datetime="2008-02-14 20:00">From the March 7, 2014</time>
                            <div class="clearfix"></div>
                            <h1>Welcome to eyesports</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id justo a arcu viverra placerat in eget dolor. In hac habitasse platea dictumst. Etiam porta diam sed lacus pharetra, elementum molestie metus fermentum.</p>
                            <a href="#" class="ec-bgcolor">Read More</a>
                        </div>
                        <div class="ec-caption-image"> <img src="extra-images/banner-static.png" alt="" draggable="false"> </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <ol class="flex-control-nav flex-control-paging">
        <li>
            <a class="">1</a>
        </li>
        <li>
            <a class="flex-active">2</a>
        </li>
    </ol>
    <ul class="flex-direction-nav">
        <li class="flex-nav-prev">
            <a class="flex-prev" href="#"><em class="fa fa-angle-left"></em></a></li><li class="flex-nav-next"><a class="flex-next" href="#"><em class="fa fa-angle-right"></em></a></li></ul></div>
</div>