<div class="ec-mini-header-match-list">
    <span class="ec-blue-transparent-match-list"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ec-mini-title">
                    <h1> User Profile </h1>
                </div>
                <div class="ec-breadcrumb">
                    <ul>
                        <li><a href="/app/index.html?#/app/dashboard">Dashboard</a></li>
                        <li>   User Profile </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="margin-top20">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="container ">
                    <div class="row margin-top20">   
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 panel-body">
                            <div class="msg-left-tab">
                                <div class="left-tab-heading"> 
                                    <span>Manage Profile</span>
                                    <a class="visible-xs drp" data-toggle="collapse" data-target="#SearchParameters" aria-expanded="true">
                                        Manage Profile<i class="fa fa-caret-down pull-right"></i>
                                    </a>
                                </div>
                                <div class="collapse in" id="SearchParameters" aria-expanded="true" style="">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="/app/index.html?#/app/mobiledropdownmenu#basic-info" class="" data-toggle="tab" aria-expanded="true">Edit Personal Profile</a>
                                        </li>
                                        <li class="">
                                            <a href="/app/index.html?#/app/mobiledropdownmenu#edit_hobbies" class="" data-toggle="tab" aria-expanded="false">Edit Hobbies &amp; Interests</a>
                                        </li>
                                        <li>
                                            <a href="/app/index.html?#/app/mobiledropdownmenu#partner-basic-info" class="" data-toggle="tab">Edit Partner Profile</a>
                                        </li>                       
                                        <li>
                                            <a href="/app/index.html?#/app/mobiledropdownmenu#upload_story" class="" data-toggle="tab">Upload Success Stories</a>
                                        </li>
                                    </ul>
                                </div>          
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 profile-list profile_listing">
                            
                            <!--- Edit User Information-->
                            <div class="tab-pane active" id="basic-info"> 
                                <form action="/ProfileController/updateBasicInfo" class="form-horizontal" name="basic-info" id="updateBasicInfoAction" method="POST" onsubmit="editFormValidation()" novalidate="">
                                    <!-- Basic Information -->
                                    <div class="panel panel-primary" id="basic">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">Basic Info </h4>
                                        </div>
                                        <div class="panel-body">
                                            <p><span class="star">*</span>All fields are required.</p>
                                            <div class="form-group">
                                                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label"><span class="star">*</span>Name :</label>
                                                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                                                  <input type="text" name="fname" id="fname" class="form-control" value="Sajid" data-parsley-trigger="change" data-parsley-error-message="Please enter your first name" data-parsley-pattern="^[a-zA-Z\s.]*$" required="">
                                                  <span class="errorcls" id="span_fname"></span>
                                                </div>
                                                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                                                  <input type="text" name="mname" pattern="/^[a-zA-Z\s]+$/" class="form-control" value="" data-parsley-error-message="Only Correct Allowed">
                                                  <span class="errorcls" id="span_mname"></span>
                                                </div>

                                                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                                                  <input type="text" name="lname" id="lname" class="form-control" value="Ansari" data-parsley-trigger="change" data-parsley-error-message="Please enter your last name" data-parsley-pattern="^[a-zA-Z\s .]*$" required="">
                                                  <span class="errorcls" id="span_lname"></span>
                                                </div>
                                            </div>
                                          
                                        
                                              
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label"><span class="star">*</span>Gender : </label>
                                                <div class="col-sm-6">
                                                    <label class="radio-inline">
                                                        <input type="radio" name="gender" value="1" data-parsley-trigger="change" data-parsley-error-message="Please select gender" required="" checked="" readonly="" disabled="" data-parsley-multiple="gender">Male
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="gender" value="2" data-parsley-trigger="change" data-parsley-error-message="Please select gender" required="" readonly="" disabled="" data-parsley-multiple="gender">Female
                                                    </label>
                                                </div>
                                            </div>

                                          
                                        </div>
                                    </div>

                                </form>
                            </div>

                            <!--- Edit User Hobbies & Interest-->
                            <div class="tab-pane" id="edit_hobbies">        
                                <form action="/ProfileController/updateHobbiesInterest" class="form-horizontal" name="userHobbies" id="updateHobbiesInterestAction" method="POST" novalidate="">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">Hobbies</h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" value="1" name="hobbies[]" data-parsley-multiple="hobbies">
                                                            Acting                    
                                                        </label>
                                                    </div>
                                                </div>              
                                            </div>
                                        </div>
                                    </div>
                                      
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <button class="btn btn-danger" type="submit">Save Changes</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                                                            
                            <!-- Edit partner information-->
                            <div class="tab-pane " id="partner-basic-info">
                                <form action="/ProfileController/updatePartnerBasicDetails" class="form-horizontal" name="partner-basic-info" id="updatePartnerBasicDetailsAction" method="POST" novalidate="">
                                    <!-- Partner Basic Information -->
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">Partner Basic Info </h4>
                                        </div>
                                        <div class="panel-body">
                                            <p><span class="star">*</span> All fields are required.</p>
                                            <div class="form-group">
                                                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label"><span class="star">*</span>Age :</label>
                                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-5 ">
                                                    
                                                </div>
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 text-center">
                                                    to
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-5 ">
                                                    
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label"><span class="star">*</span>Height :</label>
                                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-5 ">
                                                   
                                                </div>
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 text-center">
                                                    to
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-5 ">
                                                         
                                                </div>
                                            </div>
   

                                            <div class="form-group">
                                                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label"><span class="star">*</span>Eye Color :</label>
                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="partner_eyecolor[]" id="partner_eyecolor1" value="1" onclick="eyecolor(this)" data-parsley-trigger="change" data-parsley-error-message="Please select partner eye color" required="" data-parsley-multiple="partner_eyecolor">Black                    
                                                    </label>
                                                         
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-danger">Save Changes
                                        </button></div>
                                    </div>
                                </form>
                            </div>
                         
                            <!-- Upload Succes Story -->
                            <div class="tab-pane" id="upload_story">

                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3>Upload Success Stories</h3>
                                    </div>
                               
                                    <div class="panel panel-body">
                                        <form action="http://localhost:86/myprofile/upload-success-stories" method="post" name="usersuccessstory" id="usersuccessstory" enctype="multipart/form-data" novalidate="">
                                            <div class="row">
                                                <div class="tab-content">
                                                    <div class="col-sm-8">
                                                        <div class="form-group">
                                                            <label>Bride/Groom Name</label>
                                                            <input type="text" name="name" id="name" class="form-control" required="" data-parsley-error-message="Please enter valid bride/groom name" pattern="[a-zA-Z\s]*$">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Wedding Date</label>
                                                            <input class="form-control" type="date" max="2018-12-10" name="wedding_date" id="wedding_date" required="" data-parsley-error-message="Please select your wedding date">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Wedding Location</label>
                                                            <input type="text" class="form-control" name="location" id="location" required="" data-parsley-error-message="Please enter wedding location">
                                                        </div>
                                                        <div class="form-group" style="position: relative;">
                                                            <label>Upload Your Wedding Images</label>
                                                            
                                                            Browse <input type="file" id="file" name="image[]" required="" data-parsley-error-message="Please select at least one image" multiple="">
                                                        </div> 
                                                        <div class="form-group margin-top30">
                                                            <label>Description</label>
                                                            <textarea class="form-control" id="description" name="description" style="height:100px;" required="" data-parsley-error-message="Please enter valid description"></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-danger" name="submitUser">Submit</button>
                                                        </div>
                                                    </div>  
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>    
                            </div>  
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>                