<ul class="list-group list-inline" >
      <div>
          <li class="list-group-item">
              <div>
                  <div class="">
                  
                      <div class="flagsBox m1" >
                          <div class='match'>
                              <div class="team"> 
                                  <span >
                                      <img width="22" height="13" data-src="/assets/website-content/extra-images/IND-CR1.png" src="/assets/website-content/extra-images/IND-CR1.png" class="lazy">
                                  </span> 
                                  <span class="tmName">{{upcomingMatchesData[0].matchTeamA}}</span> 
                              </div>
                              <div class="vs">VS</div>
                              <div class="team"> 
                                  <span >
                                      <img width="22" height="13" data-src="/assets/website-content/extra-images/NZ-CR1.png" src="/assets/website-content/extra-images/NZ-CR1.png" class="lazy">
                                  </span> 
                                  <span class="tmName">{{upcomingMatchesData[0].matchTeamB}}</span> 
                              </div>
                          </div>
                          <div class="mtType">{{upcomingMatchesData[0].matchName}}</div>
                      </div>
                  </div>
              
                  <div class="mtdetail">
                      <span > <i class="fa fa-clock-o" aria-hidden="true"></i>Closed</span> 
                      <a href="" class="">View Points</a> 
                  </div>
              </div>
          </li>
      </div>
  </ul>




<div style="background-color: red;">
    
    <ui-carousel  slides="ctrl.slides" >

      <!-- For slider render -->
      <carousel-item>
        <!-- placed your item content here -->

        <h3> Test </h3>

        <!-- end -->
      </carousel-item>

      <!-- For customize carousel next, previous button -->
      <carousel-prev>
        <!-- placed your previous button here -->
        <button class="btn btn-primary">Prev</button>
        <!-- end -->
      </carousel-prev>

      <carousel-next>
        <!-- placed your next button here -->
        <button class="btn btn-primary">Next</button>
        <!-- end -->
      </carousel-next>

    </ui-carousel>
  
</div> 