<div class="card jsmasonry sLgBox public" data-win="1200" data-entryfee="25" data-leaguesize="60" style="position: absolute; left: 0px; top: 139px;">
   <span class="fetu BookMark" title="Recommended"></span>
   <div class="win">Win <span class="sWinTitle">Rs.1,200</span></div>
   <div class="pay">Pay <span class="sEntryFee">Rs.25</span></div>
   <div class="lgType">
      <!-- <a href="javascript:;" class="lgOption fav">Favourite</a> -->
      <a href="javascript:;" class="lgOption gLeague" style="display: none;">Confirmed</a>
      <a href="javascript:;" class="lgOption mEntry" data-id="MultipleEntryLeagueTp">Multi Entry</a>
   </div>
   <div class="lgFillCnt">
      <span class="lgFillTxt"><span class="sCurrentSize">18</span>/<span class="sLeagueSize">60</span> teams</span>
      <div class="lgFilled"><span style="width: 30%;"></span></div>
   </div>
   <div class="actionBtn"><a href="javascript:;" class="darkerBlueBtn leagueJoinBttn leagueJoinClickBttn" data-leagueposition="1" data-tourid="745" data-leagueid="30543517" data-invitecode="GHK1511602860" data-roundid="8636" data-price="25" data-win="1200" data-leaguetype="special" data-teamid="1" data-isrecommended="1" data-leaguesize="60" data-multientry="true" data-confirmed="false">Join</a></div>
   <div class="multiWinner" data-tourid="745" data-roundid="8636" data-leagueid="30543517" data-leaguetype="special" data-price="25" data-invitecode="GHK1511602860" data-win="1200">
      <div class="winDesc">
         <span>
            <a href="javascript:;" class="lgOption mWinner">Multi Winner</a>
            <p class="winnerCnt">50 Winners</p>
         </span>
      </div>
      <div class="winDet">
         <div class="MultiWinnerTemplate"></div>
      </div>
   </div>
</div>


  <div ng-repeat="x in objLeagueMatches">
            
    <div class="col-md-3" style="padding-top: 20px;">
        <ul class="list-group list-inline" >
            <div>
                <li class="list-group-item">
                    <div>
                        <div class="">
                            <div class="flagsBox m1" >
                                <div class='match'>
                                    <div class="team"> 
                                        <span >
                                            <img width="22" height="13" data-src="/assets/website-content/extra-images/IND-CR1.png" src="/assets/website-content/extra-images/IND-CR1.png" class="lazy">
                                        </span> 
                                        <span class="tmName">{{x.match[0].teamsaname}}</span> 
                                    </div>
                                    <div class="vs">VS</div>
                                    <div class="team"> 
                                        <span >
                                            <img width="22" height="13" data-src="/assets/website-content/extra-images/NZ-CR1.png" src="/assets/website-content/extra-images/NZ-CR1.png" class="lazy">
                                        </span> 
                                        <span class="tmName">{{x.match[0].teamsbname}}</span> 
                                    </div>
                                </div>
                                <div class="mtType">{{x.match[0].name}}</div>
                            </div>
                        </div>
                        <div class="mtdetail">
                            <span > <i class="fa fa-clock-o" aria-hidden="true"></i>Closed</span> 
                                <a href="" class="">View Points</a> 
                        </div>
                    </div>
                </li>
            </div>
        </ul>
    </div>    
</div> 



<!-- Counter -->

<script type="text/javascript">
  

  function timerCtrl($scope,$timeout,$interval){
                Adding initial value for counter
                 $scope.counter = 1000;
                
                 var stopped = 0;

                 //timeout function
                 //1000 milliseconds = 1 second
                 //Every second counts
                 //Cancels a task associated with the promise. As a result of this, the //promise will be resolved with a rejection.  
                 $scope.countdown = function() {
                     stopped = $timeout(function() {
                         $scope.counter--;   
                         $scope.countdown();   
                     }, 1000);
                 };
                
                 $scope.countdown();   

                 $scope.stop = function(){
                    $timeout.cancel(stopped);
                } 
 
                var future;
 
                      
 

            }
  
</script>