<div ng-controller="MainCtrlUpcomingMatchesSlider">
	<data-owl-carousel class="owl-carousel" data-options="{navigation: true, pagination: false, rewindNav : false, autoPlay : true}">
  <div owl-carousel-item="" ng-repeat="item in ::items1" class="item">
    <p>{{::item.id}}</p>
  </div>
</data-owl-carousel>
<!-- <data-owl-carousel class="owl-carousel" data-options="{navigation: false, pagination: true, rewindNav : false}">
  <div owl-carousel-item="" ng-repeat="item in ::items2" class="item">
    <p>{{::item}}</p>
  </div>
</data-owl-carousel>	 -->
</div>
