 <div ng-controller="timerCtrl">
    <div ng-repeat="x in objLeagueMatches | limitTo : 13 | filter:q as results ">
       <a href="" ng-click="getBetOptions(x.id, x.matchKey)" >
          <div class="col-md-3 col-lg-3 margin-top10">

             <div class="panel panel-primary">
                <div class="panel-heading btnjoinblock"> 
                   <div class="float-left timer textwhite" >
                     <i class="fa fa-clock-o" aria-hidden="true"></i>
                     <span ng-if="counter[$index] > 0" class="textwhite">{{countdown[$index]}}</span> 
                     <span ng-if="counter[$index] < 0" class="textwhite">Closed</span> 
                   </div>
                   <div class="float-right">
                      <div ng-if="counter[$index] > 0">
                         <a class="btn btn-primary btn-sm joinbtn" href="/app/index.html?#/app/createTeam"  > Join </a> 
                      </div>  
                      <div ng-if="counter[$index] < 0">
                         <a class="btn btn-primary btn-sm joinbtn" href="/app/index.html?#/app/mycontest" > View Points </a> 
                      </div>   
                   </div>   
                </div>
                <div class="padding10" >
                   <span class="inline-block"> 
                      <img src="{{x.teamaflag}}" class="lazy sliderimage"> 
                      <span class="upper-case textblack"><b>{{x.teamsakey}}</b></span>
                   </span>
                   <span class="text-danger"><b> Vs </b></span>
                   <span> 
                      <span class="upper-case textblack"><b>{{x.teamsbkey}}</b></span> 
                      <img src="{{x.teambflag}}" class="lazy sliderimage">
                   </span><br>
                   <small class="textblack">{{x.relatedName}}</small> <br>
                   <small class="textblack">{{x.seasonName}}</small> 
                </div>
             </div>
          </div>
       </a>    
    </div> 
 </div>