<div class="bg-color-light container-fluid fixFullWidth">
    <div class="row">
        <div class="col-md-3 filterBlock">
            <h2 class="text-center margin-top10 margin-bottom10">Filter your today's plan</h2>
            <div ng-controller="AccordionDemoCtrl">
                <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-default" is-open="status.openDate">
                        <uib-accordion-heading>
                        Select Date <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openDate, 'glyphicon-chevron-right': !status.openDate}"></i>
                        </uib-accordion-heading>
                        <input class="form-control" name="" placeholder="Select date to check availability" ui-date>
                    </div>

                    <div uib-accordion-group class="panel-default" is-open="status.openPriceRange">
                        <uib-accordion-heading>
                        Select Price Range <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openPriceRange, 'glyphicon-chevron-right': !status.openPriceRange}"></i>
                        </uib-accordion-heading>
                        <rzslider rz-slider-model="slider.min" rz-slider-high="slider.max" rz-slider-options="slider.options"></rzslider>
                    </div>

                    <div uib-accordion-group class="panel-default" is-open="status.openDrinkType">
                        <uib-accordion-heading>
                        Types of Drinks <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openDrinkType, 'glyphicon-chevron-right': !status.openDrinkType}"></i>
                        </uib-accordion-heading>
                        <select class="form-control select2" multiple="">
                            <option>Select drink type</option>
                            <option>Cocktail</option>
                            <option>Soft drink</option>
                            <option>Hard Drink</option>
                        </select>
                    </div>

                    <div uib-accordion-group class="panel-default"  is-open="status.openPartyOrganizers">
                        <uib-accordion-heading>
                        Searching for party organizers <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openPartyOrganizers, 'glyphicon-chevron-right': !status.openPartyOrganizers}"></i>
                        </uib-accordion-heading>
                        <div>
                            <label>
                                <input type="radio" name="partyOrganizers" value="yes"> Yes, i want party organizers
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="partyOrganizers" value="no" checked=""> No, i want party organizers
                            </label>
                        </div>
                    </div>

                    <div uib-accordion-group class="panel-default" is-open="status.openArea">
                        <uib-accordion-heading>
                        Area <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openArea, 'glyphicon-chevron-right': !status.openArea}"></i>
                        </uib-accordion-heading>
                        
                    </div>

                    <div uib-accordion-group class="panel-default" is-open="status.parkingAvilable">
                        <uib-accordion-heading>
                        Parking Available <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.parkingAvilable, 'glyphicon-chevron-right': !status.parkingAvilable}"></i>
                        </uib-accordion-heading>
                        <div>
                            <label>
                                <input type="radio" name="parkingAvalable" value="yes"> Yes, i want parking space
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="parkingAvalable" value="no" checked=""> No, i'll manage
                            </label>
                        </div>
                    </div>

                    <div uib-accordion-group class="panel-default" is-open="status.openSmokeZone">
                        <uib-accordion-heading>
                        Smoking Zone Available <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openSmokeZone, 'glyphicon-chevron-right': !status.openSmokeZone}"></i>
                        </uib-accordion-heading>
                        <div>
                            <label>
                                <input type="radio" name="smokingZoneAvail" value="yes"> Yes, i do smoke 
                            </label>
                        </div>
                        <div>
                            <label>
                            <input type="radio" name="smokingZoneAvail" value="no" checked=""> No, i don't smoke 
                        </label>
                        </div>
                    </div>

                    <div uib-accordion-group class="panel-default" is-open="status.openHappyHours">
                        <uib-accordion-heading>
                        Happy Hours <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openHappyHours, 'glyphicon-chevron-right': !status.openHappyHours}"></i>
                        </uib-accordion-heading>
                        <div>
                            <label>
                                <input type="radio" name="happyHours" value="yes"> Yes, i want to go in happy hours
                            </label>
                        </div>
                        <div>
                            <label>
                            <input type="radio" name="happyHours" value="no" checked=""> No, i want to go anytime as on my mood 
                        </label>
                        </div>
                    </div>

                    <div uib-accordion-group class="panel-default" is-open="status.openClosedBars">
                        <uib-accordion-heading>
                        Open / Closed Bars <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openClosedBars, 'glyphicon-chevron-right': !status.openClosedBars}"></i>
                        </uib-accordion-heading>
                        <div>
                            <label>
                                <input type="radio" name="openClosedBars" value="yes"> Yes, lets check open bars
                            </label>
                        </div>
                        <div>
                            <label>
                            <input type="radio" name="openClosedBars" value="no" checked=""> Yes, lets check closed bars
                        </label>
                        </div>
                    </div>

                    <div uib-accordion-group class="panel-default" is-open="status.restaurantBarType">
                        <uib-accordion-heading>
                        Restaurant / Bars Type <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.restaurantBarType, 'glyphicon-chevron-right': !status.restaurantBarType}"></i>
                        </uib-accordion-heading>
                        <select class="form-control select2" multiple="">
                            <option>Select restaurant / bars type</option>
                            <option>Disco</option>
                            <option>Bar</option>
                            <option>Grill</option>
                            <option>Pub</option>
                            <option>Family Club</option>
                        </select>
                    </div>

                </uib-accordion>
            </div>
        </div>
        <div class="col-md-9 paddingZero">
            <div id="map"></div>
        </div>
    </div>
</div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvARVB2eJWR7OM9uCUHzI6Om7jn6du-Jo&libraries=places&callback=initMap" async defer></script>