
<div class="ec-modallogin-form" >
    <form class="cd-form" ng-controller="userLogInCtrl" name="bankDetailForm">
        <ul>
            <li>
	        	<div class="row">
	        		<div class="col-md-4">
	        			<label>Name of the Bank:</label>
	        		</div>
	        		<div class="col-md-8">
		                <input type="text" value="{{bankname}}" name="bankname" ng-model="bankname" placeholder="Please enter bank name" required ng-minlength="3" ng-maxlength="80"> 
					    <p class="validation" ng-show="bankDetailForm.bankname.$error.required">Your bank name is required.</p>
					    <p class="validation" ng-show="bankDetailForm.bankname.$error.minlength">bank name is too short.</p>
					    <p class="validation" ng-show="bankDetailForm.bankname.$error.maxlength">bank name is too long.</p>
	        		</div>
	        	</div>
            </li>
            <li>
            	<div class="row">
	        		<div class="col-md-4">
	        			<label>Name of the Branch:</label>
	        		</div>
	        		<div class="col-md-8">
		                <input type="text"  ng-value="{{branch}}" name="branch" ng-model="branch" placeholder="Please enter branch name" required> 
		                <p class="validation" ng-show="bankDetailForm.branch.$error.required">Your branch name is required.</p>
	        		</div>
	        	</div>
            </li>
            <li>
            	<div class="row">
	        		<div class="col-md-4">
	        			<label>Name of Account Holder:</label>
	        		</div>
	        		<div class="col-md-8">
		                <input type="text" name="holdername" ng-value="{{holdername}}" ng-model="holdername" placeholder="Please enter account holder name" required ng-minlength="1" ng-maxlength="80"> 
		                <p class="validation" ng-show="bankDetailForm.holdername.$error.required">Your account holder name is required.</p>
					    <p class="validation" ng-show="bankDetailForm.holdername.$error.minlength">account holder name is too short.</p>
					    <p class="validation" ng-show="bankDetailForm.holdername.$error.maxlength">account holder name is too long.</p>
	        		</div>
	        	</div>
            </li>
            <li>
            	<div class="row">
	        		<div class="col-md-4">
	        			<label>Account Number:</label>
	        		</div>
	        		<div class="col-md-8">
		                <input type="text" ng-value="{{accountnumber}}" name="accountnumber" ng-model="accountnumber" placeholder="Please enter account number" required ng-minlength="8" ng-maxlength="20"> 
		                <p class="validation" ng-show="bankDetailForm.accountnumber.$error.required">Your account number is required.</p>
					    <p class="validation" ng-show="bankDetailForm.accountnumber.$error.minlength">account number is too short.</p>
					    <p class="validation" ng-show="bankDetailForm.accountnumber.$error.maxlength">account number is too long.</p>
	        		</div>
	        	</div>
            </li>
            <li>
            	<div class="row">
	        		<div class="col-md-4">
	        			<label>IFSC Code:</label>
	        		</div>
	        		<div class="col-md-8">
		                <input type="text" name="ifsccode" ng-model="ifsccode" ng-value="{{ifsccode}}" placeholder="Please enter ifsc code" required ng-minlength="8" ng-maxlength="11" ng-pattern="/^[A-Za-z]{4}[a-zA-Z0-9]{7}$/"> 
		                <p class="validation" ng-show="bankDetailForm.ifsccode.$error.required">Your ifsc code is required.</p>
					    <p class="validation" ng-show="bankDetailForm.ifsccode.$error.minlength">ifsc code is too short.</p>
					    <p class="validation" ng-show="bankDetailForm.ifsccode.$error.maxlength">ifsc code is too long.</p>
					    <p class="validation" ng-show="bankDetailForm.ifsccode.$error.pattern">ifsc code is not valid.</p>
	        		</div>
	        	</div>
            </li>
            
            <li> <span class="alert bankerror ec-color hide text-right" id="error"> </span> </li>
            <li> <input type="submit" class="pull-right" ng-click="doUpdateBankDetails(bankname, branch, holdername, accountnumber, ifsccode)" value="Update"> </li>

        </ul>
    </form>
</div>  

 