<div class="ec-modallogin-form" >
    <form class="cd-form" ng-controller="userLogInCtrl" name="changePasswordForm">
        <ul>

        	<li>
        		<div class="row">
	        		<div class="col-md-4">
	        			<label>Old Password:</label>
	        		</div>
	        		<div class="col-md-8">
		                <input type="password" name="passwordOld" ng-model="user.passwordOld" value="password" onblur="if(this.value == '') { this.value ='password'; }" onfocus="if(this.value =='password') { this.value = ''; }" placeholder="Old Password" required> 
		                <p class="validation" ng-show="changePasswordForm.passwordOld.$error.required">Your old password is required.</p>
		            </div>
	        	</div>
            </li>
            <li>
            	<div class="row">
	        		<div class="col-md-4">
	        			<label>Old Password:</label>
	        		</div>
	        		<div class="col-md-8">
		                <input type="password" name="passwordNew1" ng-model="user.passwordNew1" value="password" onblur="if(this.value == '') { this.value ='password'; }" onfocus="if(this.value =='password') { this.value = ''; }" placeholder="New Password" required ng-minlength="4"> 
		                <p class="validation" ng-show="changePasswordForm.passwordNew1.$error.required">Your new password is required.</p>
						<p class="validation" ng-show="changePasswordForm.passwordNew1.$error.minlength">Your new password is too short.</p>
					</div>
				</div>
            </li>
             <li>
             	<div class="row">
	        		<div class="col-md-4">
	        			<label>Old Password:</label>
	        		</div>
	        		<div class="col-md-8">
		                <input type="password" match-password="passwordNew1" name="passwordNew2" ng-model="user.passwordNew2" value="password" onblur="if(this.value == '') { this.value ='password'; }" onfocus="if(this.value =='password') { this.value = ''; }" placeholder="Confirm New Password" required ng-minlength="4"> 
		                <p class="validation" ng-show="changePasswordForm.passwordNew2.$error.required">Your confirm new password is required.</p>
						<p class="validation" ng-show="changePasswordForm.passwordNew2.$error.minlength">Your confirm new password is too short.</p>
					</div>
				</div>
            </li>
            
            <li >
                <span class="alert errorchangepassword1 ec-color hide text-right" id="error"> Wrong Password. </span>
            </li>
            <li>
                <input class="pull-right" type="submit" ng-click="dochangePassword(user)" value="Update Password">
            </li>

        </ul>
    </form>
</div>  
