<!-- teamCtrl starts here  -->
<div ng-controller="teamCtrl">

    <div class="ec-mini-header-match-list">
        <span class="ec-blue-transparent-match-list"></span>
        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <div class="ec-mini-title">
                        <h1> Create Team </h1>
                    </div>
                    <div class="ec-breadcrumb">
                        <ul>
                            <li><a href="/app/index.html?#/app/dashboard">Dashboard</a></li>
                            <li> Create Team </li>
                        </ul>
                    </div>
                </div>
            </div>    
        </div>
    </div>

    <!--// Main Section \\-->
    <div class="ec-main-section">
        <!-- Loader section -->
        <div class="bet-loader-background hide">
            <div class="text-center margin-top10 teamLoader">
                <i class="fa fa-spinner fa-pulse fa-5x fa-fw text-danger"></i>
            </div>
        </div><!-- End Loader Section -->
        
        <div class="container create-team-section hide">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-danger margin-bottom0" id="current-match-section"> 
                            <div class="panel-heading text-center"> 
                               
                                <div class="row ">
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <h5 class="textwhite" >Create Team for</h5>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <img src="{{objMatchDetails[0]['teamaflag']}}" class="lazy team-flag"> <br>
                                                <span class="upper-case"><b>{{objMatchDetails[0]['teamsakey']}}</b></span>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <div class=" timer " >
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                    <span ng-if="matchCounter > 0" >{{matchCountdown}}</span> 
                                                    <span ng-if="matchCounter < 0">Closed</span>  
                                                </div> 
                                          
                                                <span class="textblack"><b> Vs </b></span>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <img src="{{objMatchDetails[0]['teambflag']}}" class="lazy team-flag">
                                                <span class="upper-case"><b>{{objMatchDetails[0]['teamsbkey']}}</b></span> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <small class="">{{objMatchDetails[0]['seasonName']}}</small> <br>
                                        (<small class="">{{objMatchDetails[0]['relatedName']}}</small>)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
         
            <div class="row padding-bottom20">
                <div class="col-md-6">
                    <div class="row credits margin-bottom10">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="creditShow"> 
                                <span class="totalPoints">Total Credits (100)  </span>
                                <!-- <span class="creditSpent"> Credit Spent (0) = </span>  -->
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <span class="creditLeft"> Remaining (100)</span>
                        </div>    
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="playerShow">
                                Players 
                                <span>0/11</span> 
                            </div>
                            <div class="playerError hide">
                                <span></span>
                            </div>
                        </div>
                        <div class="creditError hide">
                            <span></span>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel with-nav-tabs panel-primary team-create-panel">
                                <div class="panel-heading panel-heading-team">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a  id="numWK" href="/app/index.html?#/app/createTeam#tab1primary" class="padding-right20" data-toggle="tab">WK (0)</a>
                                        </li>
                                        <li class="">
                                            <a  id="numBatsman" href="/app/index.html?#/app/createTeam#tab2primary" class="padding-right20" data-toggle="tab">Batsman (0)</a>
                                        </li>
                                        <li class="">
                                            <a  id="numAllRounder" href="/app/index.html?#/app/createTeam#tab3primary" class="padding-right20" data-toggle="tab">All-Rounders (0)</a>
                                        </li>
                                        <li class="">
                                            <a  id="numBowlers" href="/app/index.html?#/app/createTeam#tab4primary" class="padding-right20" data-toggle="tab">Bowlers (0)</a>
                                        </li>
                                        <li class="">
                                            <a  id="numALL" href="/app/index.html?#/app/createTeam#tab5primary" class="padding-right20" data-toggle="tab">All (0)</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel-body panel-body-team">
                                    <div class="tab-content tab-content-team">
                                        <div class="tab-pane fade active in" id="tab1primary">
                                            <div class=" sendsec" >
                                                <h5 class="tab-menu"> Select only 1 player from the list below.</h5>
                                                <div class="vertical-table hide">
                                                    <table class="team-table-background" width="100%">
                                                        <thead>
                                                            <th>Info</th>
                                                            <th>Player</th>
                                                            <th>Team</th>
                                                            <th>Points</th>
                                                            <th colspan="2">Credits</th>
                                                        </thead>
                                                        <tr ng-repeat="keeper in objWicketKeeper">
                                                            <td>{{keeper.playingRole}}</td>
                                                            <td>{{keeper.playerName}}</td>
                                                            <td>{{keeper.teamname}}</td>
                                                            <td></td>
                                                            <td>{{keeper.playerCredits}} </td>
                                                            <td class="{{keeper.playingRole}}{{keeper.id}}">
                                                                <div class="circle-add">
                                                                    <a ng-click="addPlayer(keeper.id, keeper.teamId, keeper.playingRole, keeper.playerCredits, keeper.playerName, keeper.playerImage)">
                                                                        <img src="../assets/website-content/images/plus.png">
                                                                    </a>    
                                                                </div>
                                                                <div class="circle-minus hide">
                                                                    <a ng-click="removePlayer(keeper.id, keeper.teamId, keeper.playingRole, keeper.playerCredits, keeper.playerName, keeper.playerImage)">
                                                                        <img src="../assets/website-content/images/cancel.png">
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab2primary">
                                            <div class=" sendsec" >
                                                <h5 class="tab-menu">Select min 3 &amp; max 5 players from the list below.</h5>
                                                <div class="vertical-table ">
                                                    <table class="team-table-background" width="100%" >
                                                        <thead>
                                                            <th>Info</th>
                                                            <th>Player</th>
                                                            <th>Team</th>
                                                            <th>Points</th>
                                                            <th colspan="2">Credits</th>
                                                        </thead>
                                                        <tr class="batsman" ng-repeat="batsman in objBatsman">
                                                            <td>{{batsman.playingRole}}</td>
                                                            <td>{{batsman.playerName}}</td>
                                                            <td>{{batsman.teamname}}</td>
                                                            <td></td>
                                                            <td>{{batsman.playerCredits}} </td>
                                                            <td class="{{batsman.playingRole}}{{batsman.id}}">
                                                                <div class="circle-add">
                                                                    <a ng-click="addPlayer(batsman.id, batsman.teamId, batsman.playingRole, batsman.playerCredits, batsman.playerName, batsman.playerImage)">
                                                                        <img src="../assets/website-content/images/plus.png">
                                                                    </a>    
                                                                </div>
                                                                <div class="circle-minus hide">
                                                                    <a ng-click="removePlayer(batsman.id, batsman.teamId, batsman.playingRole, batsman.playerCredits, batsman.playerName, batsman.playerImage )">
                                                                        <img src="../assets/website-content/images/cancel.png">
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </div>    
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab3primary">
                                            <div class=" sendsec" >
                                                <h5 class="tab-menu">Select min 1 &amp; max 3 players from the list below.</h5>
                                                <div class="vertical-table ">
                                                    <table class="team-table-background" width="100%">
                                                        <thead>
                                                            <th>Info</th>
                                                            <th>Player</th>
                                                            <th>Team</th>
                                                            <th>Points</th>
                                                            <th colspan="2">Credits</th>
                                                        </thead>
                                                        <tr class="allRounder" ng-repeat="allRounder in objAllRounder">
                                                            <td>{{allRounder.playingRole}}</td>
                                                            <td>{{allRounder.playerName}}</td>
                                                            <td>{{allRounder.teamname}}</td>
                                                            <td></td>
                                                            <td>{{allRounder.playerCredits}} </td>
                                                            <td class="{{allRounder.playingRole}}{{allRounder.id}}">
                                                                <div class="circle-add">
                                                                    <a ng-click="addPlayer(allRounder.id, allRounder.teamId, allRounder.playingRole, allRounder.playerCredits, allRounder.playerName, allRounder.playerImage)">
                                                                        <img src="../assets/website-content/images/plus.png">
                                                                    </a>    
                                                                </div>
                                                                <div class="circle-minus hide">
                                                                    <a ng-click="removePlayer(allRounder.id, allRounder.teamId, allRounder.playingRole, allRounder.playerCredits, allRounder.playerName, allRounder.playerImage)">
                                                                        <img src="../assets/website-content/images/cancel.png">
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>    
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab4primary">
                                            <div class=" sendsec" >
                                                <h5 class="tab-menu">Select min 3 &amp; max 5 players from the list below.</h5>
                                                <div class="vertical-table ">
                                                    <table class="team-table-background" width="100%">
                                                        <thead>
                                                            <th>Info</th>
                                                            <th>Player</th>
                                                            <th>Team</th>
                                                            <th>Points</th>
                                                            <th colspan="2">Credits</th>
                                                        </thead>
                                                        <tr class="bowler" ng-repeat="bowler in objBowler">
                                                            <td>{{bowler.playingRole}}</td>
                                                            <td>{{bowler.playerName}}</td>
                                                            <td>{{bowler.teamname}}</td>
                                                            <td></td>
                                                            <td>{{bowler.playerCredits}} </td>
                                                            <td class="{{bowler.playingRole}}{{bowler.id}}">
                                                                <div class="circle-add">
                                                                    <a ng-click="addPlayer(bowler.id, bowler.teamId, bowler.playingRole, bowler.playerCredits, bowler.playerName, bowler.playerImage)">
                                                                        <img src="../assets/website-content/images/plus.png">
                                                                    </a>    
                                                                </div>
                                                                <div class="circle-minus hide">
                                                                    <a ng-click="removePlayer(bowler.id, bowler.teamId, bowler.playingRole, bowler.playerCredits, bowler.playerName, bowler.playerImage)">
                                                                        <img src="../assets/website-content/images/cancel.png">
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab5primary">
                                            <div class=" sendsec" >
                                                <h5 class="tab-menu">Select 11 Players to create your fantasy cricket team from the list below</h5>
                                                <div class="vertical-table ">
                                                    <table class="team-table-background" width="100%" >
                                                        <thead>
                                                            <th>Info</th>
                                                            <th>Player</th>
                                                            <th>Team</th>
                                                            <th>Points</th>
                                                            <th colspan="2">Credits</th>
                                                        </thead>
                                                        <tr class="allPlayer" ng-repeat="player in objAllPlayer">
                                                            <td>{{player.playingRole}}</td>
                                                            <td>{{player.playerName}}</td>
                                                            <td>{{player.teamname}}</td>
                                                            <td></td>
                                                            <td>{{player.playerCredits}} </td>
                                                            <td class="{{player.playingRole}}{{player.id}}">
                                                                <div class="circle-add">
                                                                    <a ng-click="addPlayer(player.id, player.teamId, player.playingRole, player.playerCredits, player.playerName, player.playerImage)">
                                                                        <img src="../assets/website-content/images/plus.png">
                                                                    </a>    
                                                                </div>
                                                                <div class="circle-minus hide">
                                                                    <a ng-click="removePlayer(player.id, player.teamId, player.playingRole, player.playerCredits, player.playerName, player.playerImage)">
                                                                        <img src="../assets/website-content/images/cancel.png">
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-padding" id="popupContainer" ng-cloak="">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-8 ">
                                        <ul class="nav nav-pills nav-stacked text-center">
                                            <li>
                                                <button class="btn btn-sm team-button" ng-click="chooseCaptainViceCaptain($event)" >Select Captain &amp; Vice Captain</button>
                                            </li>
                                        </ul>
                                        <!-- Choose Captain & vice Captain popup Template -->
                                        <script type="text/ng-template" id="testCaptain.tmpl">
                                            <md-dialog aria-label="Team Creation Error">
                                                <md-dialog-content>
                                                    <form ng-cloak name="teamCreationError" >
                                                        <md-toolbar>
                                                            <div class="md-toolbar-tools">
                                                            <h2 class="textwhite">Choose Captain &amp; Vice Captain</h2>
                                                            <span flex></span>
                                                            <md-button class="md-icon-button" ng-click="closeDialog()">
                                                                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog">
                                                            </md-icon>
                                                            </md-button>
                                                            </div>
                                                        </md-toolbar>
                                                        <md-content>
                                                            <div class="md-dialog-content">
                                                                <p><select name="chooseCaptain" id="chooseCaptain" ng-model="chooseCaptain" ng-change="" required="" class="form-control">
                                                                        <option value="" disabled="" selected="selected">--Choose Captain--</option>
                                                                        <option ng-repeat="obj in error" value="{{obj.id}}">{{obj.name}}</option>
                                                                    </select>
                                                                </p>
                                                                <p><select name="chooseViceCaptain" id="chooseViceCaptain" ng-model="chooseViceCaptain" ng-change="" required="" class="form-control">
                                                                        <option value="" disabled="" selected="selected">--Choose Vice Captain--</option>
                                                                        <option ng-repeat="obj in error" value="{{obj.id}}">{{obj.name}}</option>
                                                                    </select>
                                                                </p>
                                                                <p><input type="text" name="teamName" ng-model="teamName" placeholder="Team Name" class="form-control"></p>
                                                                <p class="teamCreation-error" style="display:none;color:#FF0000;"></p>
                                                            </div>
                                                        </md-content>
                                                        <div class="md-actions" >
                                                            <md-button ng-click="answer('You cancelled the add fund dialog')">
                                                                Cancel </md-button>
                                                            <md-button class="btn btn-sm team-button" ng-click="saveTeam(chooseCaptain, chooseViceCaptain, teamName)">
                                                                Save Team </md-button>
                                                        </div>
                                                    </form>
                                                </md-dialog-content>
                                            </md-dialog>
                                        </script>

                                        <!-- Display Team Creation Error popup Template -->
                                        <script type="text/ng-template" id="error.tmpl">
                                            <md-dialog aria-label="Team Creation Error">
                                                <md-dialog-content>
                                                    <form ng-cloak name="teamCreationError" >
                                                        <md-toolbar>
                                                            <div class="md-toolbar-tools">
                                                                <h2 class="textwhite">Plaese fix the following</h2>
                                                                <span flex></span>
                                                                <md-button class="md-icon-button" ng-click="closeDialog()">
                                                                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog">
                                                                    </md-icon>
                                                                </md-button>
                                                            </div>
                                                        </md-toolbar>
                                                        <md-content>
                                                            <div class="md-dialog-content">
                                                                <p> {{error}} </p>
                                                            </div>
                                                        </md-content>
                                                        <div class="md-actions">
                                                            <md-button class="md-icon-button" ng-click="closeDialog()"> 
                                                                OK 
                                                            </md-button>
                                                        </div> 
                                                    </form>
                                                </md-dialog-content>
                                            </md-dialog>
                                        </script>
                                    </div>   
                                    <div class="col-md-6 col-sm-6 col-xs-4">
                                        <ul class="nav nav-pills nav-stacked text-center">
                                            <li>
                                                <button class="btn btn-sm team-button" ng-click="saveTeam()" disabled="">
                                                Save Team</button>
                                            </li>
                                        </ul>  
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-if="status" id="status">
                            <b layout="row" layout-align="center center" class="md-padding">
                              {{status}}
                            </b>
                        </div>
                        </div>
                    </div>
                </div>
                    
                <div class="col-md-6">
                   
                    <div class="team-field" >

                        <div class="row"> 
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div style="padding-left: 75px; padding-top: 55px;" class="player1 hide">
                                    <img src="{{player1}}" id="player1" ng-model="player1" class="team-player-image">
                                </div>
                            </div>       
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <div style="padding-top: 10px; padding-left: 30px; color: red;" class="player2 hide">
                                    <img src="{{player2}}" id="player2" ng-model="player2" class="team-player-image">
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                <div style="padding-left: 20px; padding-top: 30px;" class="player3 hide">
                                    <img src="{{player3}}" id="player3" ng-model="player3" class="team-player-image">
                                </div>
                            </div>
                        </div>

                         <div class="row" style="padding-top: 66px; padding-top: 20px;" >
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div style=" padding-left: 60px; padding-top: 15px;"class="player4 hide" >
                                    <img src="{{player4}}" id="player4" ng-model="player4" class="team-player-image">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div style="padding-left: 45px; padding-top: 15px;" class="player5 hide">
                                    <img src="{{player5}}" id="player5" ng-model="player5" class="team-player-image">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div style="padding-left: 30px; padding-top: 0px;" class="player6 hide">
                                    <img src="{{player6}}" id="player6" ng-model="player6" class="team-player-image">
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-top: 15px;" >
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div style=" padding-left: 50px; padding-top: 20px;" class="player7 hide">
                                    <img src="{{player7}}" id="player7" ng-model="player7" class="team-player-image">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div style="padding-left: 20px; padding-top: 25px;" class="player8 hide">
                                    <img src="{{player8}}" id="player8" ng-model="player8" class="team-player-image">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div style="padding-left: 5px; padding-top: 10px;" class="player9 hide">
                                    <img src="{{player9}}" id="player9" ng-model="player9" class="team-player-image">
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-top: 15px;" >
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div style="padding-left: 140px; padding-top: 0px;" class="player10 hide">
                                    <img src="{{player10}}" id="player10" ng-model="player10" class="team-player-image">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div style="padding-left: 22px; padding-top: 0px;" class="player11 hide">
                                    <img src="{{player11}}" id="player11" ng-model="player11" class="team-player-image">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> <!-- teamCtrl Ends here 