 <div ng-controller="TabController">
    <div class="row" >
        <div data-tab-menu class="margin-right20 margin-left15">
            <!-- Tab Menu  -->
            <ul  class="nav nav-pills nav-stacked">
                <div class="col-md-3 tab-menu text-center" >
                    <li ng-class="{ active: isSet(1) }" style="list-style: none;">
                        <a class="tab-menu invitesection" href ng-click="setTab(1)">Send Request</a>
                    </li>
                </div>
                <div class="col-md-3 tab-menu text-center">    
                    <li ng-class="{ active: isSet(2) }" style="list-style: none;">
                        <a class="tab-menu invitesection" href ng-click="setTab(2)">Accept Request</a>
                    </li>
                </div>
                <div class="col-md-3 tab-menu text-center">        
                    <li ng-class="{ active: isSet(3) }" style="list-style: none;">
                        <a class="tab-menu invitesection" href ng-click="setTab(3)">All Send Request</a>
                    </li>
                </div>
                <div class="col-md-3 tab-menu text-center">        
                    <li ng-class="{ active: isSet(4) }" style="list-style: none;">
                        <a class="tab-menu invitesection" href ng-click="setTab(4)">All Received Request</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>

    <div class="row nomargin-nopadding">
        <!-- Tab menu content -->
        <div class="col-md-12 nomargin-nopadding">
            <div class="jumbotron sendinvite">
                <div ng-show="isSet(1)" >
                    <div class="match-list" >
                        <center>
                          <h5 class="tab-menu">Please send invites only to people you know personally who will be glad to get them.</h5>
                        </center>
                    </div>  
                    <div class="ec-modallogin-form margin-top20" >
                        <form class="cd-form" ng-controller="userLogInCtrl" name="inviteFriendForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Email Address:</label>
                                </div>
                                <div class="col-md-8 padding-bottom10">
                                    <input type="text" name="referemail" ng-model="referemail" value="referemail" placeholder="Please enter email address" required> 
                                    <p class="validation" ng-show="inviteFriendForm.referemail.$error.required">Your email address is required.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Message:</label>
                                </div>
                                <div class="col-md-8 padding-bottom10">
                                    <textarea class="form-control" name="message" ng-model="message" value="message" placeholder="Please enter message" required rows="4"> </textarea>
                                    <p class="validation" ng-show="inviteFriendForm.message.$error.required">Your message is required.</p>
                                </div>
                            </div>
                            <span class="alert errorinvitation ec-color hide text-right" id="error"> Something went wrong. </span>
                            <input type="submit" class="pull-right" ng-click="sendInvitation(referemail, message)" value="Send Invitation">
                            <p><label class="pull-left">OR type out the social media:</label> </p>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Invite Social Media</label>
                                    <p><div class="addthis_native_toolbox"></div><script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-531833694e0b6c37"></script></p>
                                </div>
                            </div>
                        </form>
                    </div> 

                </div>
                <div ng-show="isSet(2)">
                    <div class="match-list" >
                        <center>
                          <h5 class="tab-menu">Accept Friend request referal code.</h5>
                        </center>
                    </div> 
                    
                    <div class="ec-modallogin-form margin-top20" >
                        <form class="cd-form" ng-controller="userLogInCtrl" name="inviteFriendForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Referal Code:</label>
                                </div>
                                <div class="col-md-8 padding-bottom10">
                                    <input type="text" class="form-control referalcode" name="referalcode" ng-model="referalcode" value="referalcode" placeholder="Please enter referal code" required> 
                                    <p class="validation" ng-show="inviteFriendForm.referalcode.$error.required">Your referal code is required.</p>
                                </div>
                            </div>
                            <span class="alert erroracceptinvitation ec-color hide text-right"  id="error"> Something went wrong. </span>
                            <input type="submit" class="pull-right" ng-click="acceptInvitation(referalcode)" value="Accept Invitation">
                        </form>
                    </div> 
                </div>
                <div ng-show="isSet(3)">
                    <div class="match-list " >
                        <center>
                          <h5 class="tab-menu">All send friend request</h5>
                        </center>
                    </div> 
                    <div class="table-responsive vertical-table">
                        <table width="100%" class="senderrequest hide">
                            <thead>
                                <th>Receiver Name</th>
                                <th>Receiver Email</th>
                                <th>Status</th>
                                <th>Action</th>
                            </thead>
                            <tr ng-repeat="x in objSendRequestObj" ng-controller="userLogInCtrl">
                                <td>{{ x.firstname }} {{ x.lastname }}</td>
                                <td>{{ x.referemail }}</td>
                                <td class="invitestatus">
                                    <div ng-if="x.requeststatus == 0">
                                        <span class="label label-warning">Pending</span>
                                    </div>
                                    <div ng-if="x.requeststatus == 1">
                                       <span class="label label-success">Accepted</span>
                                    </div>
                                </td>
                                <td class="invitestatus">
                                    <input type="submit" class="btn btn-xs btn-danger" ng-click="deleteSendInvitation(x.inviteid)" value="Delete">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="alert information-message alert-dismissible fade in errordeletesendinvitation hide datanotfound" role="alert">
                    <span class="errordeletesendinvitation ec-color hide"> Your have not send any invitation yet! </span>
                </div>
                </div>
                <div ng-show="isSet(4)">
                    <div class="match-list ">
                        <center>
                          <h5 class="tab-menu">All accept friend request</h5>
                        </center>
                    </div> 
                    <div class="table-responsive vertical-table">
                        <table width="100%" class="reciverrequest hide table-responsive">
                            <thead>
                                <th>Requester Name</th>
                                <th>Requester Email</th>
                                <th>Status</th>
                                <th>Action</th>
                            </thead>
                                <tr ng-repeat=" x in objRecieveRequestObj" ng-controller="userLogInCtrl">
                                    <td>{{ x.firstname }} {{ x.lastname }}</td>
                                    <td>{{ x.email }}</td>
                                    <td class="invitestatus">
                                        <div ng-if="x.requeststatus == 0">
                                            <span class="label label-warning">Pending</span>
                                        </div>
                                        <div ng-if="x.requeststatus == 1">
                                           <span class="label label-success">Accepted</span>
                                        </div>
                                    </td>
                                    <td class="invitestatus">
                                        <input type="submit" class="btn btn-xs btn-danger" ng-click="deleteAcceptInvitation(x.inviteid)" value="Delete">
                                    </td>
                                </tr>
                        </table>
                    </div>

                    <div class="alert information-message alert-dismissible fade in errordeleteacceptinvitation hide datanotfound" role="alert">
                        <span class="alert errordeleteacceptinvitation ec-color hide"> Your have not any invitation yet!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>