<div class="ec-mini-header">
    <span class="ec-blue-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ec-mini-title">
                    <h1> OTP Verification </h1>
                </div>
                <div class="ec-breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>   OTP Verification </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row margin-top20">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row margin-top20">
                    <div class="col-md-12">
                      <div class="container padding-bottom20">
                        <div class="row">
                            <div class="col-md-6">
                                <p> “Please take a moment to verify your phone number."" </p>
                                <p> This helps us confirm your identity and secure your account </p>
                                <p>
                                    Enter your Mobile Number: <input type="text" name="mobile" model="mobile" id="mobile">
                                </p>
                                <p align="right">
                                    <button type="submit" name="Verify" value="Verify" class="btn btn-primary" ng-click="sendOTP(mobile)"> Next </button>
                                </p>

                            </div>

                            <div class="col-md-6 hide" id="enterCode" >
                                <p>  Enter your OTP sending on your mobile no: <input type="text" name="mobile" model="mobile"> </p>
                                <p align="right">
                                    <button type="submit" name="Verify" value="Verify" class="btn btn-primary" ng-click="otpVerify(mobile)"> Submit </button>
                                </p>


                            </div>    

                        </div>

                       </div>   
                    </div> 
                </div>  
            </div>
        </div>
    </div>
</div>