
<div class="ec-modallogin-form" >
    <form class="cd-form" ng-controller="userLogInCtrl" name="userProfileForm">
        <ul>
        	<!-- <li>
            	<div class="row">
	        		<div class="col-md-12">
	        			<figure>
                            <a href="" class="pull-right"><img src="{{image}}" style="width: 120px;" alt=""></a>
                        </figure>
	        		</div>
	        	</div>
            </li> -->
            <li>
	        	<div class="row">
	        		<div class="col-md-4">
	        			<label>Email:</label>

	        		</div>
	        		<div class="col-md-8">
		                <input type="text" value="{{email}}" name="email" ng-model="email" readonly=""> 
	        		</div>
	        	</div>
            </li>
            <li>
            	<div class="row">
	        		<div class="col-md-4">
	        			<label>First Name:</label>
	        		</div>
	        		<div class="col-md-8">
		                <input type="text"  ng-value="{{firstname}}" name="firstname" ng-model="firstname" > 
	        		</div>
	        	</div>
            </li>
            <li>
            	<div class="row">
	        		<div class="col-md-4">
	        			<label>Middle Name:</label>
	        		</div>
	        		<div class="col-md-8">
		                <input type="text" name="middlename" ng-value="{{middlename}}" ng-model="middlename" > 
	        		</div>
	        	</div>
            </li>
            <li>
            	<div class="row">
	        		<div class="col-md-4">
	        			<label>Last Name:</label>
	        		</div>
	        		<div class="col-md-8">
		                <input type="text" ng-value="{{lastname}}" name="lastname" ng-model="lastname"> 
	        		</div>
	        	</div>
            </li>
            <li>
            	<div class="row">
	        		<div class="col-md-4">
	        			<label>Team Name:</label>
	        		</div>
	        		<div class="col-md-8">
		                <input type="text" ng-model="teamname" ng-value="{{teamname}}" > 
	        		</div>
	        	</div>
            </li>
            <li>
            	<div class="row">
	        		<div class="col-md-4">
	        			<label>Mobile Number:</label>
	        		</div>
	        		<div class="col-md-8">
		                <input type="text" class="form-control" name="phonenumber" ng-model="phonenumber" ng-value="{{phonenumber}}" placeholder="Please enter phone number" required ng-minlength="10" ng-maxlength="10" ng-pattern="/^[7-9][0-9]{9}$/"> 
		                <p class="validation" ng-show="userProfileForm.phonenumber.$error.required">Your mobile number is required.</p>
					    <p class="validation" ng-show="userProfileForm.phonenumber.$error.minlength">mobile number is too short.</p>
					    <p class="validation" ng-show="userProfileForm.phonenumber.$error.maxlength">mobile number is too long.</p>
					    <p class="validation" ng-show="userProfileForm.phonenumber.$error.pattern">mobile number is not valid.</p>
	        		</div>
	        	</div>
            </li>
            <li>
            	<div class="row">
	        		<div class="col-md-4">
	        			<label>Upload Profile Picture</label>
	        		</div>
	        		<div class="col-md-8">
		                <input type="file" ng-model="myFile" class="form-control" accept="image/*"  onchange="angular.element(this).scope().uploadedFile(this)">
		                <img ng-src="{{src}}" ng-model="image">
	        		</div>
	        	</div>
            </li>
           
            <li>
            	<div class="row">
	        		<div class="col-md-4">
	        			<label> Choose Date of Birth </label>
	        		</div>
	        		<div class="col-md-8">
	        			<input type="text" ng-model="dob" ng-value="{{dob}}" > 
	        		</div>
	        	</div>
            </li>
            <li>
            	<div class="row">
	        		<div class="col-md-4">
	        			<label> Select Gender</label>
	        		</div>
	        		<div class="col-md-8">
		                <select  ng-selected="{{gender}}"  ng-model="gender" >
		                	<option value="Male">Male</option>
		                	<option value="Female">Female</option>
		                </select>
	        		</div>
	        	</div>
            </li>
            <li>
            	<div class="row">
	        		<div class="col-md-4">
	        			<label> Address</label>
	        		</div>
	        		<div class="col-md-8">
		                <input type="text" ng-model="address" value="{{address}}" > 
	        		</div>
	        	</div>
            </li>
            <li>
            	<div class="row">
	        		<div class="col-md-4">
	        			<label>Select Country</label>
	        		</div>
	        		<div class="col-md-8">
						<select name="country" id="country" ng-model="country" ng-change="getState(country)" >
			               <option value="" disabled="" selected="selected">-- Select Country --</option>
			               <option ng-repeat="option in objCountry"  value="{{option.id}}">{{option.name}}</option>
			            </select>
	        		</div>
	        	</div>
            </li>
            <li>
            	<div class="row">
	        		<div class="col-md-4">
	        			<label>Select State</label>
	        		</div>
	        		<div class="col-md-8">
	        			<select name="state" id="state"  ng-model="state" >
			               <option value="" disabled="" selected="selected">-- Select State --</option>
			               <option ng-repeat="option in objState" value="{{option.id}}">{{option.name}}</option>
			            </select>	
	        		</div>
	        	</div>
            </li>
            <li>
            	<div class="row">
	        		<div class="col-md-4">
	        			<label>City:</label>
	        		</div>
	        		<div class="col-md-8">
		                <input type="text" ng-model="city" value="{{city}}" > 
	        		</div>
	        	</div>
            </li>
            <li>
            	<div class="row">
	        		<div class="col-md-4">
	        			<label>Pincode:</label>
	        		</div>
	        		<div class="col-md-8">
		                <input type="text" ng-model="pincode" ng-value="{{pincode}}" > 
	        		</div>
	        	</div>
            </li>
            <li> <span class="alert doUpdateProfileError ec-color hide text-right" id="error"> </span> 
            </li>
            <li> <input type="submit" ng-click="doUpdateProfile(email, firstname, middlename, lastname, teamname, phonenumber, myFile, dob, gender, address, country, state, city, pincode)" value="Update"> </li>

        </ul>
    </form>
</div>  

 