<!-- teamCtrl starts here  -->
<div ng-controller="teamCtrl">
	<div class="loader-background hide">
		<div class="text-center margin-top10 teamLoader">
			<i class="fa fa-spinner fa-pulse fa-5x fa-fw text-danger"></i>
		</div>
	</div>
	<div class="ec-mini-header-match-list">
		<span class="ec-blue-transparent"></span>
		<div class="container " >
			<div class="row">
	            <div class="col-md-12">
	                <div class="ec-mini-title"> <h1> Dashboard </h1> </div>
	                <div class="ec-breadcrumb">
	                    <ul>
	                        <li> Dashboard </li>
	                    </ul>
	                </div>
	            </div>
	        </div> 
		</div>
	</div>

	<div class="container margin-top20">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="padding-bottom20">
						<div class="row" ng-controller="TabController">
							<div class="col-md-3 col-sm-4 text-center">
								<label class="filter-heading"> <i class="fa fa-filter" aria-hidden="true"></i> Filter By Series </label>
								<select name="selectedSeries" ng-model="selectedSeries" ng-change="getMatches(selectedSeries)" required="" class="form-control">
									<option value="" disabled="" selected="" >-- All Series --</option>
									<option value="allseason">-- All Series --</option>
									<option ng-repeat="option in sessionData" value="{{option.seasonKey}}" >{{option.season}}</option>
								</select>

								<!-- Loader section -->
						        <div class="series-loader-background margin-top30 hide">
						            <div class="text-center margin-top10 ">
						                <i class="fa fa-spinner fa-pulse fa-5x fa-fw text-danger"></i>
						            </div>
						        </div><!-- End Loader Section -->

								<div class="scroll-match " id="scroll-match" >
		                            <div class="margin-top10"  ng-repeat="item in objLeagueMatches">
		                            	<div class="bet-match text-center" ng-click="changeMatch(item.id, item.matchKey)">
											<div class="panel panel-primary panel-primary-match" id="match-panel{{item.id}}" >
												<div class="panel-heading panel-heading-match" id="match-panel-heading{{item.id}}" > 
													<div class="float-left timer textwhite" >
														<i class="fa fa-clock-o" aria-hidden="true"></i>
														<span ng-model="countdown[$index]" ng-if="counter[$index] > 0" class="textwhite">{{countdown[$index]}}</span> 
														<span ng-model="countdown[$index]" ng-if="counter[$index] < 0" class="textwhite">Closed</span> 
													</div>
													<div class="float-right">
														<div ng-model="counter[$index]" ng-if="counter[$index] > 0">
															<a class="textwhite"  ng-click="joinMatch(item.id)" > Join </a> 
														</div>  
														<div ng-model="counter[$index]" ng-if="counter[$index] < 0">
															<a class="textwhite" href="/app/index.html?#/app/mycontest" > View Points </a> 
														</div>   
													</div>   
												</div>
												<div class="panel-body">
													<span class="inline-block"> 
														<img ng-model="item.teamaflag" src="{{item.teamaflag}}" class="lazy sliderimage"> 
														<span ng-model="item.teamsakey" class="upper-case textblack"><b>{{item.teamsakey}}</b></span>
													</span>
													<span class="text-danger"><b> Vs </b></span>
													<span class=""> 
														<span class="upper-case textblack" ng-model="item.teamsbkey" ><b>{{item.teamsbkey}}</b></span> 
														<img src="{{item.teambflag}}" ng-model="item.teambflag" class="lazy sliderimage">
													</span><br>
													<small class="textblack" ng-model="item.relatedName" >{{item.relatedName}}</small> <br>
													<small class="textblack" ng-model="item.seasonName" >{{item.seasonName}}</small> 
												</div>
											</div>
										</div>
		                            </div>
	                            </div>
							</div>
							<!-- Tab menu content -->
							<div class="col-md-9 col-sm-8 user-background">
								<div class="padding-top10">
									<!-- Filter Band start -->

									<!-- Loader section -->
							        <div class="match-loader-background hide">
							            <div class="text-center margin-top10 teamLoader">
							                <i class="fa fa-spinner fa-pulse fa-5x fa-fw text-danger"></i>
							            </div>
							        </div><!-- End Loader Section -->

									<div class="panel panel-danger margin-top10" id="current-match-section"> 
									    <div class="panel-heading text-center"> 							        
											<div class="row ">
											    <div class="col-md-3 col-sm-3 col-xs-3">
											        <h5 class="textwhite" >Joined League for </h5>
											    </div>
											    <div class="col-md-5 col-sm-5 col-xs-5">
											        <div class="row text-center">
											            <div class="col-md-3 col-sm-3 col-xs-3">
											                <img src="{{objMatchDetails[0]['teamaflag']}}" ng-model="objMatchDetails[0]['teamaflag']" class="lazy "> <br>
											                <span class="upper-case" ng-model="objMatchDetails[0]['teamsakey']" ><b>{{objMatchDetails[0]['teamsakey']}}</b></span>
											            </div>
											            <div class="col-md-6 col-sm-6 col-xs-6">
											                <div class=" timer " >
											                    <i class="fa fa-clock-o" aria-hidden="true"></i>
											                    <span ng-if="matchCounter > 0" ng-model="matchCountdown" >{{matchCountdown}}</span> 
											                    <span ng-if="matchCounter < 0">Closed</span>  
											                </div> 
											          
											                <span class="textblack"><b> Vs </b></span>
											            </div>
											            <div class="col-md-3 col-sm-3 col-xs-3">
											                <img src="{{objMatchDetails[0]['teambflag']}}" ng-model="objMatchDetails[0]['teambflag']" class="lazy ">
											                <span class="upper-case" ng-model="objMatchDetails[0]['teamsbkey']" ><b>{{objMatchDetails[0]['teamsbkey']}}</b></span> 
											            </div>
											        </div>
											    </div>
											    <div class="col-md-4 col-sm-4 col-xs-4">
											        <small ng-model="objMatchDetails[0]['seasonName']">{{objMatchDetails[0]['seasonName']}}</small> <br>
											        (<small ng-model="objMatchDetails[0]['relatedName']">{{objMatchDetails[0]['relatedName']}}</small>)
											    </div>
											</div>
										</div>
									</div>		
																		 
									<div class="row match-list padding-bottom10">

									    <div class="col-md-3 col-sm-3 padding-top20">
									        <div class="filtercolor"> 
									          <i class="fa fa-filter" aria-hidden="true"></i> Filter
									        </div>
									    </div>

									    <div class="col-md-3 col-sm-3">
									        <div class="filtercolor"> Win <i class="fa fa-rupee"></i></div>
									        <select name="winAmount" class="form-control" ng-model="amount" ng-change="filterByWin()" >
									          <option value="" disabled="" selected="selected">All</option>
									          <option>Practice</option>
									          <option>1-10000</option>
									          <option>10,001-50,000</option>
									        </select>
									    </div>  

									    <div class="col-md-3 col-sm-3">
									        <div class="filtercolor"> Pay <i class="fa fa-rupee"></i></div>
									        <select name="payAmount" class="form-control" ng-model="payAmount" ng-change="filterByPay()">
									          <option value="" disabled="" selected="selected">All</option>
									          <option>0</option>
									          <option>1-100</option>
									          <option>101-1,000</option>
									          <option>1001-5,000</option>
									          <option>5001 &amp; More</option>
									        </select>
									    </div>

									    <div class="col-md-3 col-sm-3">
									        <div class="filtercolor"> Size (Teams)</div>
									        <select name="teamSize" class="form-control" ng-model="teamSize" ng-change="filterByTeamSize()">
									          <option value="" disabled="" selected="selected">All</option>
									          <option>2</option>
									          <option>3-10</option>
									          <option>11-20</option>
									          <option>21-100</option>
									        </select>
									    </div>

									</div>

									<!-- Filter Band End -->
									<div class="bet-loader-background hide">
										<div class="text-center margin-top10 teamLoader">
											<i class="fa fa-spinner fa-pulse fa-5x fa-fw text-danger"></i>
										</div>
									</div>

									<div class="user-background " id="bet-section">
									   	<div class="row margin-top10">
									      	<div class="col-lg-3 col-md-3 col-sm-6" ng-repeat="bet in objBetDetails">
									         	<div class="ibox ">
									            	<div class="ibox-content ">
									               		<div class="panel panel-primary">
										                  	<div class="panel-heading"> 
									               				<span ng-if="bet.winamount > 0" > 
										                  			Win 
										                     		<i class="fa fa-rupee"></i> 
										                     		{{bet.winamount}}
										                     		<i class="fa fa-star float-right" ></i>
									               				</span>

										               			<span ng-if="bet.winamount == 0"> Practice </span>
									                  		</div>
									                  		<div class="panel-body">
									                     		<h5 class="no-margins">Pay 
									                        		<i class="fa fa-rupee"></i> {{bet.playamount}}
									                     		</h5>                 
									                     		<small>{{bet.joined_player}}/{{bet.maxplayer}} teams</small> 
									                  		</div>
									                  		<div class="panel-footer">
									                  			<span ng-if="bet.multiwin == 0" >1 </span> 
									                  			<span ng-if="bet.multiwin != 0" >{{bet.maxplayer}}</span> 
									                  			Winner

									                  			<span ng-if="bet.is_user_join_league == 0" > 
										                     		<button class="btn btn-join" ng-click="joinBet($event, bet.id, bet.playamount, bet.availableSlotIndex)">Join</button>
									                  			</span> 

									                  			<span ng-if="bet.is_user_join_league == 1" >
									                     			<button class="btn btn-join" ng-click="inviteFriends($event)">Invite</button>
									                  			</span> 

									                  		</div>
									               		</div>
									            	</div>
									         	</div>
									      	</div>
									   </div>
									</div>
								 </div>
							</div>
						</div>
					</div>   
				</div>
			</div>
		</div>
	</div>
 

	<div class="md-padding" id="popupContainer" ng-cloak="">
		<!-- Team Selection template starts here -->
		
		<script type="text/ng-template" id="selectTeamToJoin.tmpl">
		    <md-dialog aria-label="Team Creation Error">
		        <md-dialog-content>
		            <form ng-cloak name="teamCreationError" >
		                <md-toolbar>
		                    <div class="md-toolbar-tools">
		                    <h2 class="textwhite">Select Team to join league</h2>
		                    <span flex></span>
		                    <md-button class="md-icon-button" ng-click="closeDialog()">
		                        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog">
		                    </md-icon>
		                    </md-button>
		                    </div>
		                </md-toolbar>
		                <md-content>
		                    <div class="md-dialog-content">
		                        <div class="row">
									<div class="col-md-4">
										SELECT TEAM
									</div>
									<div class="col-md-8">
										<select name="teamId" id="teamId" ng-model="teamId" ng-change="" required="" class="form-control">
							                <option value="" disabled="" selected="selected">--Choose Team--</option>
							                <option ng-repeat="obj in error" value="{{obj.id}}">{{obj.teamName}}</option>
							            </select>
									</div>
								</div>
		                    </div>
		                </md-content>
		                <div class="md-actions" >
		                    <md-button class="btn btn-danger btn-sm" ng-click="answer('You cancelled the add fund dialog')">
		                        Cancel </md-button>
		                    <md-button class="btn btn-primary btn-sm" ng-click="saveLeagueJoining(teamId)">
		                        Save Team </md-button>
		                </div>
		            </form>
		        </md-dialog-content>
		    </md-dialog>
		</script>

		<!-- Team Selection template End here -->
	
		<!-- Team creation message template starts here -->
		<script type="text/ng-template" id="createTeamToJoin.tmpl">
		    <md-dialog aria-label="Team Creation Error">
		        <md-dialog-content>
		            <form ng-cloak name="teamCreationError" >
		                <md-toolbar>
		                    <div class="md-toolbar-tools">
		                    <span flex></span>
		                    <md-button class="md-icon-button" ng-click="closeDialog()">
		                        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog">
		                    </md-icon>
		                    </md-button>
		                    </div>
		                </md-toolbar>
		                <md-content>
		                    <div class="md-dialog-content">
		                        <p> Please create atleast one team to join league </p>
		                    </div>
		                </md-content>
		                <div class="md-actions" >
							<a href="/app/index.html?#/app/createTeam" ng-click="closeDialog()" class="btn btn-primary btn-sm">Create Team</a>
		                </div>
		            </form>
		        </md-dialog-content>
		    </md-dialog>
		</script>
		<!-- Team creation message template End here -->
	
		<!-- Bet joining success message template starts here -->
		<script type="text/ng-template" id="successJoinBet.tmpl">
		    <md-dialog aria-label="Team Creation Error">
		        <md-dialog-content>
		            <form ng-cloak name="teamCreationError" >
		                <md-toolbar>
		                    <div class="md-toolbar-tools">
		                    <span flex></span>
		                    <md-button class="md-icon-button" ng-click="closeDialog()">
		                        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog">
		                    </md-icon>
		                    </md-button>
		                    </div>
		                </md-toolbar>
		                <md-content>
		                    <div class="md-dialog-content">
		                        <p> {{error}} </p>
		                    </div>
		                </md-content>
		                <div class="md-actions" >
							<md-button class="md-icon-button" ng-click="closeDialog()"> OK </md-icon>
		                </div>
		            </form>
		        </md-dialog-content>
		    </md-dialog>
		</script>
		<!-- Bet joining success message template End here -->
	
		<!-- insufficient fund notification template starts here  -->
		<script type="text/ng-template" id="addFundToJoin.tmpl">
		    <md-dialog aria-label="Team Creation Error">
		        <md-dialog-content>
		            <form ng-cloak name="teamCreationError" >
		                <md-toolbar>
		                    <div class="md-toolbar-tools">
		                    <span flex></span>
		                    <md-button class="md-icon-button" ng-click="closeDialog()">
		                        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog">
		                    </md-icon>
		                    </md-button>
		                    </div>
		                </md-toolbar>
		                <md-content>
		                    <div class="md-dialog-content">
		                        <p> You have insufficient balance in your wallet, Please add more fund to join this bet.</p>
		                    </div>
		                </md-content>
		                <div class="md-actions" >
							<button class="btn btn-sm" ng-click="addFunds($event) ">Add Funds</button>
		                </div>
		            </form>
		        </md-dialog-content>
		    </md-dialog>
		</script>
		<!-- insufficient fund notification template End here  -->
	 
		<!-- Add fund teamplate Start here -->
		<script type="text/ng-template" id="addfund.tmpl.html">
			<md-dialog aria-label="User Add Funds">
				<form ng-cloak name="addUserFundForm" ng-controller="userLogInCtrl">
				    <md-toolbar>
				      <div class="md-toolbar-tools">
				        <h2 class="textwhite">Add Fund And Play Leagues Matches</h2>
				        <span flex></span>
				        <md-button class="md-icon-button" ng-click="cancel()">
				          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
				        </md-button>
				      </div>
				    </md-toolbar>

				    <md-dialog-content>
				      <div class="md-dialog-content">
				        <h2>Enter Information</h2>
				        <p class="withdraw-error" style="display:none;color:#FF0000;"></p>
				        <p>Enter Amount:</p>
				        <p><input type="number" class="form-control" name="fund" ng-value="" ng-model="fund" placeholder="Please enter amount" required ng-minlength="3" ng-maxlength="10" min="100"> </p>
				        <p class="validation" ng-show="addUserFundForm.fund.$error.required">Enter amount is required.</p>
				        <p class="validation" ng-show="addUserFundForm.fund.$error.min">Enter minimum withdraw amount is 100</p>
					    <p class="validation" ng-show="addUserFundForm.fund.$error.minlength">Add Fund amount is too short.</p>
					    <p class="validation" ng-show="addUserFundForm.fund.$error.maxlength">Add Fund amount is too long.</p>
				      </div>
				    </md-dialog-content>

				    <md-dialog-actions layout="row">
				      <span flex></span>
				      <md-button ng-click="answer('You cancelled the add fund dialog')">
				       Cancel
				      </md-button>
				      <md-button ng-click="userFundAmount(fund)">
				        Submit
				      </md-button>
				    </md-dialog-actions>
				</form>
			</md-dialog>
		</script>
		<!-- Add fund teamplate End here -->
	
	</div>

</div> <!-- teamCtrl Ends here  -->  