<!-- teamCtrl starts here  -->
<div ng-controller="teamCtrl">
 

	<div class="ec-mini-header-match-list">
        <span class="ec-blue-transparent-match-list"></span>
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="ec-mini-title">
                        <h1> My contest </h1>
                    </div>
                    <div class="ec-breadcrumb">
                        <ul>
                            <li><a href="/app/index.html?#/app/dashboard">Dashboard</a></li>
                            <li> <a href="/app/index.html?#/app/mycontest"> Contest Matches </a></li>
                            <li> <a href="/app/index.html?#/app/matchcontestbets"> Contest </a> </li>
                            <li> Contest Teams </li>
                        </ul>
                    </div>
                </div>
            </div>    
        </div>
    </div>

	<!--// Main Section \\-->
	<div class="ec-main-section margin-top10">
		<!-- Loader section -->
        <div class="bet-loader-background hide">
            <div class="text-center margin-top10 teamLoader">
                <i class="fa fa-spinner fa-pulse fa-5x fa-fw text-danger"></i>
            </div>
        </div><!-- End Loader Section -->
		<div class="container user-contest-section ">
            <div class="row padding-bottom20">
                <div class="col-md-6">
        			<div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-danger margin-bottom0" id="current-match-section"> 
                                <div class="panel-heading text-center"> 
                                   
                                    <div class="row ">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <h5 class="textwhite" >Match Details  </h5>
                                        </div>
                                        <div class="col-md-5 col-sm-5 col-xs-5">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3 col-xs-3">
                                                    <img src="{{contestMatch[0]['teamaflag']}}" class="lazy "> <br>
                                                    <span class="upper-case"><b>{{contestMatch[0]['teamsakey']}}</b></span>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <div class=" timer " >
                                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        <span ng-if="contestMatchCounter > 0" >{{contestMatchCountdown}}</span> 
                                                        <span ng-if="contestMatchCounter < 0">Closed</span>  
                                                    </div> 
                                              
                                                    <span class="textblack"><b> Vs </b></span>
                                                </div>
                                                <div class="col-md-3 col-sm-3 col-xs-3">
                                                    <img src="{{contestMatch[0]['teambflag']}}" class="lazy ">
                                                    <span class="upper-case"><b>{{contestMatch[0]['teamsbkey']}}</b></span> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                            <small class="">{{contestMatch[0]['seasonName']}}</small> <br>
                                            (<small class="">{{contestMatch[0]['relatedName']}}</small>)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel panel-contest margin-bottom0" id="current-match-section"> 
                                <div class="panel-heading text-center"> 
                                    <div class="row ">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <h5 class="textwhite" >Contest Details </h5>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <span class="inline-block"> 
                                                <span class="upper-case"><b>{{contestDetails[0]['betname']}}</b></span>
                                            </span>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                             {{contestDetails[0]['joined_player']}} / {{contestDetails[0]['maxplayer']}}
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            Pay : <span class="upper-case">{{contestDetails[0]['playamount']}}</span> <br>
                                            Win : <span class="upper-case">{{contestDetails[0]['winamount']}}</span> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row leader-board">
                        <div class="col-md-3 col-sm-3 col-xs-3 text-center">User      </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 text-center">Team Name </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 text-center">Rank      </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 text-center">Team Details    </div>
                    </div>
                    <div class="sendsec">
                        <div ng-if="getUserContestTeams.length > 0">
                            <div ng-repeat="option in getUserContestTeams">
                                <div class="row ">
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <img src="{{contestMatch[0]['teamaflag']}}" class="lazy sliderimage"> 
                                    </div>      
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        {{option.teamName}} <br>
                                        {{option.points}}
                                    </div>      
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        {{option.rank}}
                                    </div>      
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <a class="view-joined" ng-click="viewUserContestTeamPlayer(option.leagueId, option.batId, option.slotIndex, option.user_team_id, option.userId)">View </a>
                                    </div>      
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="padding-top50" ng-if="userContest.length <= 0">
                            You haven't joined any contest for this Match
                        </div>
                    </div>
                </div>
	 

				<div class="col-md-6">
									
					<div class="team-field padding-top20" >
                        <div class="row"> 
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div style="padding-left: 75px; padding-top: 55px;" class="bet-player hide">
                                    <img src="{{player0}}" id="player0" ng-model="player0" class="team-player-image">
                                    <br>
                                    <span class="player-point" ng-model="player0_point">Points ({{player0_point}})</span>
                                </div>
                            </div>       
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <div style="padding-top: 10px; padding-left: 30px; color: red;" class="bet-player hide">
                                    <img src="{{player1}}" id="player1" ng-model="player1" class="team-player-image">
                                    <br>
                                    <span class="player-point" ng-model="player1_point">Points ({{player1_point}})</span>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                <div style="padding-left: 20px; padding-top: 30px;" class="bet-player hide">
                                    <img src="{{player2}}" id="player2" ng-model="player2" class="team-player-image">
                                    <br>
                                    <span class="player-point" ng-model="player2_point">Points ({{player2_point}})</span>
                                </div>
                            </div>
                        </div>

                         <div class="row" style="padding-top: 66px; padding-top: 20px;" >
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div style=" padding-left: 60px; padding-top: 15px;"class="bet-player hide" >
                                    <img src="{{player3}}" id="player3" ng-model="player3" class="team-player-image">
                                    <br>
                                    <span class="player-point" ng-model="player3_point">Points ({{player3_point}})</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div style="padding-left: 45px; padding-top: 15px;" class="bet-player hide">
                                    <img src="{{player4}}" id="player4" ng-model="player4" class="team-player-image">
                                    <br>
                                    <span class="player-point" ng-model="player4_point">Points ({{player4_point}})</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div style="padding-left: 30px; padding-top: 0px;" class="bet-player hide">
                                    <img src="{{player5}}" id="player5" ng-model="player5" class="team-player-image">
                                    <br>
                                    <span class="player-point" ng-model="player5_point">Points ({{player5_point}})</span>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-top: 15px;" >
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div style=" padding-left: 50px; padding-top: 20px;" class="bet-player hide">
                                    <img src="{{player6}}" id="player6" ng-model="player6" class="team-player-image">
                                    <br>
                                    <span class="player-point" ng-model="player6_point">Points ({{player6_point}})</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div style="padding-left: 20px; padding-top: 25px;" class="bet-player hide">
                                    <img src="{{player7}}" id="player7" ng-model="player7" class="team-player-image">
                                    <br>
                                    <span class="player-point" ng-model="player7_point">Points ({{player7_point}})</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div style="padding-left: 5px; padding-top: 10px;" class="bet-player hide">
                                    <img src="{{player8}}" id="player8" ng-model="player8" class="team-player-image">
                                    <br>
                                    <span class="player-point" ng-model="player8_point">Points ({{player8_point}})</span>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-top: 15px;" >
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div style="padding-left: 140px; padding-top: 0px;" class="bet-player hide">
                                    <img src="{{player9}}" id="player9" ng-model="player9" class="team-player-image">
                                    <br>
                                    <span class="player-point" ng-model="player9_point">Points ({{player9_point}})</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div style="padding-left: 22px; padding-top: 0px;" class="bet-player hide">
                                    <img src="{{player10}}" id="player10" ng-model="player10" class="team-player-image">
                                    <br>
                                    <span class="player-point" ng-model="player10_point">Points ({{player10_point}})</span>
                                </div>
                            </div>
                        </div>
                        
                    </div>

			 	</div>
			</div>
		</div>
	</div><!--// Main Section Ends Here \\-->

</div> <!-- teamCtrl Ends here