<!-- teamCtrl starts here  -->
<div ng-controller="teamCtrl">

	<div class="ec-mini-header-match-list">
        <span class="ec-blue-transparent-match-list"></span>
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="ec-mini-title">
                        <h1> My contest </h1>
                    </div>
                    <div class="ec-breadcrumb">
                        <ul>
                            <li><a href="/app/index.html?#/app/dashboard">Dashboard</a></li>
                            <li> Contest Matches </li>
                        </ul>
                    </div>
                </div>
            </div>    
        </div>
    </div>

	<!--// Main Section \\-->
	<div class="ec-main-section margin-top10">
		<!-- Loader section -->
        <div class="bet-loader-background hide">
            <div class="text-center margin-top10 teamLoader">
                <i class="fa fa-spinner fa-pulse fa-5x fa-fw text-danger"></i>
            </div>
        </div><!-- End Loader Section -->
		<div class="container user-contest-section hide">
			
			<div class="row padding-bottom20">
				<div class="col-md-6">
					  <div class="row">
                        <div class="col-md-12">
                            <div class="panel with-nav-tabs panel-primary team-create-panel">
                                <div class="panel-heading panel-heading-team">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a  id="upcoming-matches" href="/app/index.html?#/app/mycontest#tab1primary" class="" data-toggle="tab">Upcoming (0)</a>
                                        </li>
                                        <li class="">
                                            <a  id="live-matches" href="/app/index.html?#/app/mycontest#tab2primary" class="" data-toggle="tab">Live (0)</a>
                                        </li>
                                        <li class="">
                                            <a  id="archive-matches" href="/app/index.html?#/app/mycontest#tab3primary" class="" data-toggle="tab">Archive (0)</a>
                                        </li>
                                       
                                    </ul>
                                </div>
                                <div class="panel-body panel-body-team">
                                    <div class="tab-content tab-content-team">
                                        <div class="tab-pane fade active in" id="tab1primary">
                                            <div class=" sendsec" >
                                                <div ng-if="betJoinedUpcomingMatches.length > 0">
                                                    <div ng-repeat="option in betJoinedUpcomingMatches">
                                                        <div class="row" >
                                                            <div class="col-md-3 col-sm-3 col-xs-4">
                                                                <img src="{{option.teamaflag}}" class="lazy sliderimage"> <br>
                                                                <span class="upper-case">{{option.teamsaname}}</span>
                                                            </div>      
                                                            <div class="col-md-3 col-sm-3 col-xs-4">
                                                                <!-- <i class="fa fa-clock-o" aria-hidden="true"></i> -->
                                                                <span class="show-time">{{countdownUpcoming[$index]}}</span> 
                                                                <br>
                                                                <span>{{option.relatedName}}</span>
                                                            </div>      
                                                            <div class="col-md-3 col-sm-3 col-xs-4">
                                                                <img src="{{option.teambflag}}" class="lazy sliderimage"> <br>
                                                                <span class="upper-case">{{option.teamsbname}}</span> 
                                                            </div>      
                                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                                <span> Joined ({{option.joined_bet}}) </span>
                                                                <a ng-click="viewUserContest(option.id)" class="view-joined" href="">View Contest</a>
                                                            </div>      
                                                        </div>
                                                        <hr>
                                                    </div>
                                                </div>
                                                <div class="error-info padding-top50" ng-if="betJoinedUpcomingMatches.length <= 0">
                                                    You haven't joined any upcoming contest 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab2primary">
                                            <div class=" sendsec" >
                                                <div ng-if="betJoinedLiveMatches.length > 0">
                                                    <div ng-repeat="option in betJoinedLiveMatches">
                                                        <div class="row" >
                                                            <div class="col-md-3 col-sm-3 col-xs-4">
                                                                <img src="{{option.teamaflag}}" class="lazy sliderimage"> <br>
                                                                <span class="upper-case">{{option.teamsaname}}</span>
                                                            </div>      
                                                            <div class="col-md-3 col-sm-3 col-xs-4">
                                                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                                <span class="show-time">{{countdownUpcoming[$index]}}</span> 
                                                                <br>
                                                                <span>{{option.relatedName}}</span>
                                                            </div>      
                                                            <div class="col-md-3 col-sm-3 col-xs-4">
                                                                <img src="{{option.teambflag}}" class="lazy sliderimage"> <br>
                                                                <span class="upper-case">{{option.teamsbname}}</span> 
                                                            </div>      
                                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                                <span> Joined ({{option.joined_bet}}) </span>
                                                                <a class="view-joined" href="">View Contest</a>
                                                            </div>      
                                                        </div>
                                                        <hr>
                                                    </div>
                                                </div>
                                                <div class="error-info padding-top50" ng-if="betJoinedLiveMatches.length <= 0">
                                                    You haven't joined any live contest 
                                                </div>
                                            </div>    
                                        </div>
                                        <div class="tab-pane fade" id="tab3primary">
                                            <div class=" sendsec" >
                                                <div ng-if="betJoinedArchiveMatches.length > 0">
                                                    <div ng-repeat="option in betJoinedArchiveMatches">
                                                        <div class="row" >
                                                            <div class="col-md-3 col-sm-3 col-xs-4">
                                                                <img src="{{option.teamaflag}}" class="lazy sliderimage"> <br>
                                                                <span class="upper-case">{{option.teamsaname}}</span>
                                                            </div>      
                                                            <div class="col-md-3 col-sm-3 col-xs-4">
                                                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                                <span class="show-time">{{countdownUpcoming[$index]}}</span> 
                                                                <br>
                                                                <span>{{option.relatedName}}</span>
                                                            </div>      
                                                            <div class="col-md-3 col-sm-3 col-xs-4">
                                                                <img src="{{option.teambflag}}" class="lazy sliderimage"> <br>
                                                                <span class="upper-case">{{option.teamsbname}}</span> 
                                                            </div>      
                                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                                <span> Joined ({{option.joined_bet}}) </span>
                                                                <a class="view-joined" href="">View Contest</a>
                                                            </div>      
                                                        </div>
                                                        <hr>
                                                    </div>
                                                </div>
                                                <div class="error-info padding-top50" ng-if="betJoinedArchiveMatches.length <= 0">
                                                    You haven't joined any completed contest 
                                                </div>
                                            </div>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>

				<div class="col-md-6 padding-top50">
									
					<div class="team-field" >
                        <div class="row"> 
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div style="padding-left: 75px; padding-top: 55px;" class="bet-player hide">
                                    <img src="{{userExistingTeamPlayers[0].playerImage}}" id="player1" ng-model="player1" class="team-player-image">
                                </div>
                            </div>       
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <div style="padding-top: 10px; padding-left: 30px; color: red;" class="bet-player hide">
                                    <img src="{{userExistingTeamPlayers[1].playerImage}}" id="player2" ng-model="player2" class="team-player-image">
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                <div style="padding-left: 20px; padding-top: 30px;" class="bet-player hide">
                                    <img src="{{userExistingTeamPlayers[2].playerImage}}" id="player3" ng-model="player3" class="team-player-image">
                                </div>
                            </div>
                        </div>

                         <div class="row" style="padding-top: 66px; padding-top: 20px;" >
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div style=" padding-left: 60px; padding-top: 15px;"class="bet-player hide" >
                                    <img src="{{userExistingTeamPlayers[3].playerImage}}" id="player4" ng-model="player4" class="team-player-image">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div style="padding-left: 45px; padding-top: 15px;" class="bet-player hide">
                                    <img src="{{userExistingTeamPlayers[4].playerImage}}" id="player5" ng-model="player5" class="team-player-image">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div style="padding-left: 30px; padding-top: 0px;" class="bet-player hide">
                                    <img src="{{userExistingTeamPlayers[5].playerImage}}" id="player6" ng-model="player6" class="team-player-image">
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-top: 15px;" >
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div style=" padding-left: 50px; padding-top: 20px;" class="bet-player hide">
                                    <img src="{{userExistingTeamPlayers[6].playerImage}}" id="player7" ng-model="player7" class="team-player-image">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div style="padding-left: 20px; padding-top: 25px;" class="bet-player hide">
                                    <img src="{{userExistingTeamPlayers[7].playerImage}}" id="player8" ng-model="player8" class="team-player-image">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div style="padding-left: 5px; padding-top: 10px;" class="bet-player hide">
                                    <img src="{{userExistingTeamPlayers[8].playerImage}}" id="player9" ng-model="player9" class="team-player-image">
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-top: 15px;" >
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div style="padding-left: 140px; padding-top: 0px;" class="bet-player hide">
                                    <img src="{{userExistingTeamPlayers[9].playerImage}}" id="player10" ng-model="player10" class="team-player-image">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div style="padding-left: 22px; padding-top: 0px;" class="bet-player hide">
                                    <img src="{{userExistingTeamPlayers[10].playerImage}}" id="player11" ng-model="player11" class="team-player-image">
                                </div>
                            </div>
                        </div>
                        
                    </div>

			 	</div>
			</div>
		</div>
	</div><!--// Main Section Ends Here \\-->

</div> <!-- teamCtrl Ends here