<div class="ec-mini-header-match-list">
    <span class="ec-blue-transparent-match-list"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ec-mini-title">
                    <h1> User Profile </h1>
                </div>
                <div class="ec-breadcrumb">
                    <ul>
                        <li><a href="/app/index.html?#/app/dashboard">Dashboard</a></li>
                        <li>   User Profile </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="margin-top20">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row margin-top20">
                    <div class="col-md-12 col-sm-12">
                        <div class="container padding-bottom20">
                          <!-- Tab Menu Start Here-->
                            <div class="row" ng-controller="TabController">
                                <!-- Tab Menu  -->
                                <div class="col-md-2 col-sm-3">  
                                    <ul class="nav nav-pills nav-stacked text-center">
                                        <div ng-if="image != null">
                                            <li class="margin-bottom15 padding-left20 list-unstyled">
                                                <img ng-src="{{image}}" style="width: 120px;" alt="">
                                            </li>
                                        </div>
                                            
                                        <li ng-class="{ active: isSet(1) }">
                                            <a id="editprofile" href ng-click="setTab(1)">Edit Profile</a>
                                        </li>
                                        <li ng-class="{ active: isSet(2) }">
                                            <a id="bankdetails" href ng-click="setTab(2)">Bank Details</a>
                                        </li>
                                        <li ng-class="{ active: isSet(3) }">
                                            <a id="invitefriends" href ng-click="setTab(3)">Invite Friends</a>
                                        </li>
                                        <li ng-class="{ active: isSet(4) }">
                                            <a id="changepassword" href ng-click="setTab(4)">Change Password</a>
                                        </li>
                                        <li ng-class="{ active: isSet(5) }">
                                            <a id="withdrawfund" href ng-click="setTab(5)">Withdraw</a>
                                        </li>
                                        <li ng-class="{ active: isSet(6) }">
                                            <a id="joinleague" href="/app/index.html?#/app/dashboard" class="btncolor">Join Leagues</a>
                                        </li>
                                        <li ng-class="{ active: isSet(7) }">
                                            <a id="createteam" href="/app/index.html?#/app/createTeam" class="btncolor">Create Team</a>
                                        </li>
                                    </ul>
                                </div>

                                <!-- Tab menu content -->
                                <div class="col-md-10 col-sm-9 user-background">
                                    <div class="jumbotron">
                                        <div ng-show="isSet(1)">
                                            <h2>Edit Profile</h2>
                                            <div class="user-background">
                                                <div  ng-include="'/app/views/userInformation/registrationForm.html'"></div>
                                            </div>
                                        </div>
                                        <div ng-show="isSet(2)">
                                            <h2>Bank Details</h2>
                                            <div ng-include="'/app/views/userInformation/bankDetails.html'"></div>
                                        </div>
                                        <div ng-show="isSet(3)">
                                            <h2>Invite Friends</h2>
                                            <div ng-include="'/app/views/userInformation/inviteFriends.html'"></div>
                                        </div>
                                        <div ng-show="isSet(4)">
                                            <h2>Change Password</h2>
                                            <div ng-include="'/app/views/userInformation/changePassword.html'"></div>
                                        </div>
                                        <div ng-show="isSet(5)">
                                            <h2>Withdraw</h2>
                                            <div ng-include="'/app/views/userInformation/withdraw.html'"></div>
                                        </div>
                                        <div ng-show="isSet(6)">
                                            <h2>Join Leagues</h2>
                                            <div ng-include="'/app/views/userInformation/joinLeagues.html'"></div>
                                        </div>
                                        
                                        <div ng-show="isSet(7)">
                                            <h2>Create Team</h2>
                                            <div ng-include="'/app/views/userInformation/createTeam.html'"></div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Tab Menu End here-->
                       </div>   
                    </div> 
                </div>  
            </div>
        </div>
    </div>
</div>


 
