<div ng-controller="userWithdrawCtrl">
	<div ng-controller="TabController">
	    <div class="row nomargin-nopadding">
	        <!-- Tab menu content -->
	        <div class="col-md-12 nomargin-nopadding">
	            <div class="jumbotron sendinvite" class="md-padding dialogdemoBasicUsage" id="popupContainer" ng-cloak="">
	                <div class="match-list" >
	                	<div class="row">
	                		<div class="col-md-5 margin-left10">
	                            <h5 class="tab-menu padding-top10">Account Balance</h5>
	                        </div>
	                        <div class="col-md-6">
	                        	<div ng-if="notverified != 0">
	                               	<h5 class="tab-menu pull-right padding-top10"><a href class="textwhite" ng-click="showVarifyBox($event)">Not Verified</a></h5>
	                        		<img class="pull-right verifiedimg" src="/assets/website-content/images/Not-Verified.png">
	                            </div>
	                        	<div ng-if="notverified == 0">
	                               	<h5 class="tab-menu pull-right padding-top10">
	                               		<div ng-if="objUserProof[0].status == 0">Under Review</div>
	                               		<div ng-if="objUserProof[0].status == 1">Approved</div>
	                               		<div ng-if="objUserProof[0].status == 2"><a href class="textwhite" ng-click="showVarifyBox($event)">Rejected Re-try</a></div>
	                               	</h5>
	                               	<div ng-if="objUserProof[0].status == 0 || objUserProof[0].status == 2">
	                               		<img class="pull-right verifiedimg" src="/assets/website-content/images/Not-Verified.png">
	                               	</div>
	                               	<div ng-if="objUserProof[0].status == 1">
	                        			<img class="pull-right verifiedimg" src="/assets/website-content/images/Verified.png">
	                        		</div>
	                            </div>
	                        </div>
	                	</div>
	                </div> 
	                <div class="ec-modallogin-form margin-top20" >
	                    <div class="ec-services">
	                        <ul class="row">
	                            <li class="col-md-3">
	                                <div class="bg1">
	                                    <h6 class="textwhite">Your Deposits<i class="fa fa-question-circle padding-left5"><md-tooltip md-delay="withdraw.delayTooltip" md-direction="right">Deposits are safe! But we'll charge 5% if you withdraw</md-tooltip></i></h6>
	                                    <h6 class="textwhite"><i class="fa fa-rupee"></i> {{objUserDeposit}}</h6>
	                                    <h6 class="textwhite">Your Withdraw<i class="fa fa-question-circle padding-left5"><md-tooltip md-delay="withdraw.delayTooltip" md-direction="right">Deposits are safe! But we'll charge 5% if you withdraw</md-tooltip></i></h6>
	                                    <h6 class="textwhite"><i class="fa fa-rupee"></i> {{objUserWithdraw}}</h6>

	                                    <h6 class="textwhite">Main Amount<i class="fa fa-question-circle padding-left5"><md-tooltip md-delay="withdraw.delayTooltip" md-direction="right">Your total deposits amount minus total withdraw amount</md-tooltip></i><br> <i class="fa fa-rupee"></i>  {{objUserDeposit-objUserWithdraw}}</h6>


	                                    <div ng-if="objUserProof[0].status == 0">
										    <button class="btn btn-sm" ng-click="showPatient($event)">Withdraw</button>
		                               	</div>
		                               	<div ng-if="objUserProof[0].status == 1">
										    <button class="btn btn-sm" ng-click="showWithdraw($event)">Withdraw</button>
		                               	</div>
		                               	<div ng-if="objUserProof[0].status == 2">
										    <button class="btn btn-sm" ng-click="showVarifyBox($event)">Withdraw</button>
		                               	</div>
	                                </div>
	                            </li>
	                            <li class="col-md-1 padding-top30">
	                            	<img class="padding-top30" src="/assets/website-content/images/add.png">
	                            </li>                                    
	                            <li class="col-md-2">
	                                <div class="bg2">
	                                    <h6 class="textwhite">Your Winnings<i class="fa fa-question-circle padding-left5"><md-tooltip md-delay="withdraw.delayTooltip" md-direction="right">It's all yours! No charges on withdrawal, Enjoy!</md-tooltip></i></h6>
	                                    <h6 class="textwhite"><i class="fa fa-rupee"></i> {{objUserWinnings}}</h6>
	                                    <div ng-if="objUserProof[0].status == 0">
										    <button class="btn btn-sm" ng-click="showPatient($event)">Withdraw</button>
		                               	</div>
		                               	<div ng-if="objUserProof[0].status == 1">
										    <button class="btn btn-sm" ng-click="showWithdraw($event)">Withdraw</button>
		                               	</div>
		                               	<div ng-if="objUserProof[0].status == 2">
										    <button class="btn btn-sm" ng-click="showVarifyBox($event)">Withdraw</button>
		                               	</div>
	                                </div>
	                            </li>
	                            <li class="col-md-1 padding-top30">
	                            	<img class="padding-top30" src="/assets/website-content/images/add.png">
	                            </li>
	                            <li class="col-md-2">
	                                <div class="bg3">
	                                    <h6 class="textwhite">Cash Bonus<i class="fa fa-question-circle padding-left5"><md-tooltip md-delay="withdraw.delayTooltip" md-direction="right">This is a surprise feature so watch out for our newsletters. Pending bonuses are released gradually after you enter and complete paid leagues. But you can’t withdraw this!</md-tooltip></i></h6>
	                                    <h6 class="textwhite"><i class="fa fa-rupee"></i> {{cashbonous}}</h6>
	                                    <h6 class="textwhite">Pending Bonus: Rs.0</h6>
	                                </div>
	                            </li>
	                            <li class="col-md-1 padding-top30">
	                            	<img class="padding-top30" src="/assets/website-content/images/final.png">
	                            </li>
	                            <li class="col-md-2">
	                                <div class="bg4">
	                                    <h6 class="textwhite">Total Balance<i class="fa fa-question-circle padding-left5"><md-tooltip md-delay="withdraw.delayTooltip" md-direction="right">This is your total balance</md-tooltip></i></h6>
	                                    
	                                    <h6 class="textwhite userFund"></h6>
	                                    <div class="padding-bottom10">
											<button class="btn btn-sm" ng-click="showAddFunds($event)">Add Funds</button>
										</div>
	                                    <div ng-if="objUserProof[0].status == 0">
										    <button class="btn btn-sm" ng-click="showPatient($event)">Withdraw</button>
		                               	</div>
		                               	<div ng-if="objUserProof[0].status == 1">
										    <button class="btn btn-sm" ng-click="showWithdraw($event)">Withdraw</button>
		                               	</div>
		                               	<div ng-if="objUserProof[0].status == 2">
										    <button class="btn btn-sm" ng-click="showVarifyBox($event)">Withdraw</button>
		                               	</div>
	                                </div>
	                            </li>
	                        </ul>
	                        <div ng-if="status" id="status">
							    <b layout="row" layout-align="center center" class="md-padding">
							      {{status}}
							    </b>
							</div>
	                    </div>
		            </div> 
		            <div class="ec-modallogin-form margin-top20" >
	                    <div class="ec-services">
	                        <ul class="row">
	                            <li class="col-md-6">
	                                <div class="bg5">
	                                    <h2 class="textwhite">Total Cash Won</h2>
	                                    <h2 class="textwhite"><i class="fa fa-rupee"></i> {{objUserTotalCashWon}}</h2>
	                                </div>
	                            </li>
	                                                              
	                            <li class="col-md-6">
	                                <div class="bg6">
	                                    <h2 class="textwhite">Total Leagues Won</h2>
	                                    <h2 class="textwhite">{{objUserTotalLeaguesWon}}</h2>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
		            </div> 
	            </div>
	        </div>
	    </div>
	</div>
	<div class="match-list invitesec" >
        <center>
          <h5 class="tab-menu">Most Recent Transactions</h5>
        </center>
    </div> 
    <div class="table-responsive vertical-table">
        <table width="100%" class="senderrequest">
            <thead>
                <th>Date</th>
                <th>Transaction Type</th>
                <th>Remark</th>
                <th>Amount</th>
                <th>Fund Amount</th>
                <th>Details</th>
            </thead>

            <tr ng-repeat="x in objUserRecentTransactions" class="md-padding dialogdemoBasicUsage" id="popupContainer" ng-cloak="">
                <td>{{ x.date }} </td>
                <td class="invitestatus">
                    <div ng-if="x.activity == 'cr'">
                        <span class="label label-success">Credit</span>
                    </div>
                    <div ng-if="x.activity == 'dr'">
                       <span class="label label-danger">Debit</span>
                    </div>
                </td>
                <td>{{ x.remarks }}</td>
                <td><i class="fa fa-rupee"></i>{{ x.amount }} /-</td>
                <td><i class="fa fa-rupee"></i>{{ x.funds }} /-</td>
                <td>
                	<div ng-if="x.remarks == 'League joined'">
            			<a href class="" ng-click="showTransactionDetails($event, x.id)"><i class="fa fa-eye" aria-hidden="true"></i></a>
                		<a href class="" ng-click="downloadTransactionInvoice($event, x.id)"><i class="fa fa-download" aria-hidden="true"></i></a>
                		<a href class="" ng-click="sendTransactionEmail($event, x.id)"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                    </div>
                    <div ng-if="x.remarks == 'Funds Added' || x.remarks == 'Winning prize' ||  x.remarks == 'Funds Withdraw'">
                		<a href class="" ng-click="showTransactionDetails($event, x.id)"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    </div>
                </td>
            </tr>
            <tfoot>
                <th>Date</th>
                <th>Transaction Type</th>
                <th>Remark</th>
                <th>Amount</th>
                <th>Fund Amount</th>
                <th>Details</th>
            </tfoot>
        </table>
    </div>
    <div class="alert information-message alert-dismissible fade in errorverifydocument hide datanotfound" role="alert">
	    <span class="errorverifydocument ec-color hide"> Your have not send any details yet! </span>
	</div>
	<script type="text/ng-template" id="withdraw.tmpl.html">
		<md-dialog aria-label="Amount Withdraw">
			<form ng-cloak name="withdrawDetailForm" ng-controller="userLogInCtrl">
			    <md-toolbar>
			      <div class="md-toolbar-tools">
			        <h2 class="textwhite">Request for the withdraw</h2>
			        <span flex></span>
			        <md-button class="md-icon-button" ng-click="cancel()">
			          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
			        </md-button>
			      </div>
			    </md-toolbar>

			    <md-dialog-content>
			      <div class="md-dialog-content">
			        <h2>Enter Amount</h2>
			        <p>Don't Worry ! its safe</p>
			        <p class="withdraw-error" style="display:none;color:#FF0000;"></p>
			        <p>Enter Amount:</p>
			        <p><input type="number" class="form-control" name="fund" ng-value="" ng-model="fund" placeholder="Please enter amount" required ng-minlength="3" ng-maxlength="4" min="500" max="2000"> </p>
			        <p class="validation" ng-show="withdrawDetailForm.fund.$error.required">Enter amount is required.</p>
			        <p class="validation" ng-show="withdrawDetailForm.fund.$error.min">Enter minimum withdraw amount is 500</p>
			        <p class="validation" ng-show="withdrawDetailForm.fund.$error.max">Enter maximum withdraw amount is 2000</p>
				    <p class="validation" ng-show="withdrawDetailForm.fund.$error.minlength">Withdraw amount is too short.</p>
				    <p class="validation" ng-show="withdrawDetailForm.fund.$error.maxlength">Withdraw amount is too long.</p>
			      </div>
			    </md-dialog-content>

			    <md-dialog-actions layout="row">
			      <span flex></span>
			      <md-button ng-click="answer('You cancelled the withdraw dialog')">
			       Cancel
			      </md-button>
			      <md-button ng-click="withdrawAmount(fund)">
			        Submit
			      </md-button>
			    </md-dialog-actions>
			</form>
		</md-dialog>
	</script>


	<script type="text/ng-template" id="addfund.tmpl.html">
		<md-dialog aria-label="User Add Funds">
			<form ng-cloak name="addUserFundForm" ng-controller="userLogInCtrl">
			    <md-toolbar>
			      <div class="md-toolbar-tools">
			        <h2 class="textwhite">Add Fund And Play Leagues Matches</h2>
			        <span flex></span>
			        <md-button class="md-icon-button" ng-click="cancel()">
			          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
			        </md-button>
			      </div>
			    </md-toolbar>

			    <md-dialog-content>
			      <div class="md-dialog-content">
			        <h2>Enter Information</h2>
			        <p class="withdraw-error" style="display:none;color:#FF0000;"></p>
			        <p>Enter Amount:</p>
			        <p><input type="number" class="form-control" name="fund" ng-value="" ng-model="fund" placeholder="Please enter amount" required ng-minlength="3" ng-maxlength="10" min="100"> </p>
			        <p class="validation" ng-show="addUserFundForm.fund.$error.required">Enter amount is required.</p>
			        <p class="validation" ng-show="addUserFundForm.fund.$error.min">Enter minimum withdraw amount is 100</p>
				    <p class="validation" ng-show="addUserFundForm.fund.$error.minlength">Add Fund amount is too short.</p>
				    <p class="validation" ng-show="addUserFundForm.fund.$error.maxlength">Add Fund amount is too long.</p>
			      </div>
			    </md-dialog-content>

			    <md-dialog-actions layout="row">
			      <span flex></span>
			      <md-button ng-click="answer('You cancelled the add fund dialog')">
			       Cancel
			      </md-button>
			      <md-button ng-click="userFundAmount(fund)">
			        Submit
			      </md-button>
			    </md-dialog-actions>
			</form>
		</md-dialog>
	</script>

	<script type="text/ng-template" id="uploaddocument.tmpl.html">
		<md-dialog aria-label="Upload document and details">
		  	<form ng-cloak name="uploadDocumanrForm" ng-controller="userLogInCtrl">
		    	<md-toolbar>
			      <div class="md-toolbar-tools">
			        <h2 class="textwhite">Help us verify your account details for hassle free withdrawals!</h2>
			        <span flex></span>
			        <md-button class="md-icon-button" ng-click="cancel()">
			          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
			        </md-button>
			      </div>
			    </md-toolbar>
			    <md-dialog-content style="max-width:800px;max-height:810px; ">
			      <md-tabs md-dynamic-height md-border-bottom>
			        <md-tab label="Identity Proof">
			          <md-content class="md-padding">
			            <p>Scan your PAN Card proof on your computer & click on 'upload'. You can upload the image in either .jpg, .jpeg, .png, .pdf with file size not more than 800kb</p>

			            <div>
			            <p>PAN Card Number:</p>
				        <p><input type="text" class="form-control" name="pancardno" ng-value="" ng-model="pancardno" placeholder="Please enter pan card number" required ng-minlength="10" ng-maxlength="10" ng-pattern="/^[A-Za-z]{5}[0-9]{4}[A-Za-z]{1}$/"> </p>
				        <p class="validation" ng-show="uploadDocumanrForm.pancardno.$error.required">Enter pancard is required.</p>
					    <p class="validation" ng-show="uploadDocumanrForm.pancardno.$error.minlength">Pancard number is too short.</p>
					    <p class="validation" ng-show="uploadDocumanrForm.pancardno.$error.maxlength">Pancard number is too long.</p>
					    <p class="validation" ng-show="uploadDocumanrForm.pancardno.$error.pattern">Pancard number is not valid.</p>
					    </div>

					    <p>Upload PAN Card Proof:</p>
					    <input type="file" ng-model="pancardImageFile" class="form-control" accept="image/*"  onchange="angular.element(this).scope().uploadedPancardFile(this)">
		                <img ng-src="{{srcpancard}}" ng-model="pancardimage">
			          </md-content>
			        </md-tab>
			        <md-tab label="Address Proof">
			          <md-content class="md-padding">
			            <p>Scan your Address proof on your computer & click on “upload”. You can upload the image in either .jpg, .jpeg, .png, .pdf with file size not more than 800kb.</p>
			            
			            <div>
			            <p>Select Address Proof:</p>
				        <p>	
				        	<select name="addressproof" ng-model="addressproof" class="form-control"  required>
                                <option value="Driver Licence">Drivers Licence</option>
                                <option value="Electricity Bill">Electricity Bill</option>
                                <option value="Passport">Passport</option>
                                <option value="Ration Card">Ration Card</option>
                                <option value="Telephone Bill">Telephone Bill</option>
                                <option value="Residential Document">Residential Document</option>
                            </select>
                        </p>
				        <p class="validation" ng-show="uploadDocumanrForm.addressproof.$error.required">Please select address proof.</p>
					    </div>

					    <p>Upload Address Proof:</p>
					    <input type="file" ng-model="addressProofFile" class="form-control" accept="image/*"  onchange="angular.element(this).scope().uploadedAddressFile(this)">
		                <img ng-src="{{srcaddressimage}}" ng-model="addressimage">

			          </md-content>
			        </md-tab>
			        <md-tab label="Personal and Bank Account">
			          <md-content class="md-padding">
			          	<div class="row padding-top15">
			        		<div class="col-md-4">
			        			<label>Mobile Number:</label>
			        		</div>
			        		<div class="col-md-8">
				                <input type="text" class="form-control"  ng-value="{{mobile}}" name="mobile" ng-model="mobile" placeholder="Please enter mobile number" required ng-minlength="10" ng-maxlength="10" ng-pattern="/^[6-9]{1}[0-9]{9}$/"> 
				                <p class="validation" ng-show="uploadDocumanrForm.mobile.$error.required">Your mobile number is required.</p>
				                <p class="validation" ng-show="uploadDocumanrForm.mobile.$error.minlength">Mobile number is too short.</p>
							    <p class="validation" ng-show="uploadDocumanrForm.mobile.$error.maxlength">Mobile number is too long.</p>
							    <p class="validation" ng-show="uploadDocumanrForm.mobile.$error.pattern">Mobile number is not valid.</p>
			        		</div>
			        	</div>
			          	<div class="row padding-top15">
			        		<div class="col-md-4">
			        			<label>Name of the Bank:</label>
			        		</div>
			        		<div class="col-md-8">
				                <input type="text" class="form-control" value="{{bankname}}" name="bankname" ng-model="bankname" placeholder="Please enter bank name" required ng-minlength="3" ng-maxlength="80"> 
							    <p class="validation" ng-show="uploadDocumanrForm.bankname.$error.required">Your bank name is required.</p>
							    <p class="validation" ng-show="uploadDocumanrForm.bankname.$error.minlength">bank name is too short.</p>
							    <p class="validation" ng-show="uploadDocumanrForm.bankname.$error.maxlength">bank name is too long.</p>
			        		</div>
			        	</div>
			        	<div class="row padding-top15">
			        		<div class="col-md-4">
			        			<label>Name of the Branch:</label>
			        		</div>
			        		<div class="col-md-8">
				                <input type="text" class="form-control"  ng-value="{{branch}}" name="branch" ng-model="branch" placeholder="Please enter branch name" required> 
				                <p class="validation" ng-show="uploadDocumanrForm.branch.$error.required">Your branch name is required.</p>
			        		</div>
			        	</div>
			            <div class="row padding-top15">
			        		<div class="col-md-4">
			        			<label>Name of Account Holder:</label>
			        		</div>
			        		<div class="col-md-8">
				                <input type="text" class="form-control"  name="holdername" ng-value="{{holdername}}" ng-model="holdername" placeholder="Please enter account holder name" required ng-minlength="1" ng-maxlength="80"> 
				                <p class="validation" ng-show="uploadDocumanrForm.holdername.$error.required">Your account holder name is required.</p>
							    <p class="validation" ng-show="uploadDocumanrForm.holdername.$error.minlength">account holder name is too short.</p>
							    <p class="validation" ng-show="uploadDocumanrForm.holdername.$error.maxlength">account holder name is too long.</p>
			        		</div>
			        	</div>
                        <div class="row padding-top15">
			        		<div class="col-md-4">
			        			<label>Account Number:</label>
			        		</div>
			        		<div class="col-md-8">
				                <input type="text" class="form-control"  ng-value="{{accountnumber}}" name="accountnumber" ng-model="accountnumber" placeholder="Please enter account number" required ng-minlength="8" ng-maxlength="20"> 
				                <p class="validation" ng-show="uploadDocumanrForm.accountnumber.$error.required">Your account number is required.</p>
							    <p class="validation" ng-show="uploadDocumanrForm.accountnumber.$error.minlength">account number is too short.</p>
							    <p class="validation" ng-show="uploadDocumanrForm.accountnumber.$error.maxlength">account number is too long.</p>
			        		</div>
			        	</div>
                        <div class="row padding-top15">
			        		<div class="col-md-4">
			        			<label>IFSC Code:</label>
			        		</div>
			        		<div class="col-md-8">
				                <input type="text" class="form-control"  name="ifsccode" ng-model="ifsccode" ng-value="{{ifsccode}}" placeholder="Please enter ifsc code" required ng-minlength="8" ng-maxlength="11" ng-pattern="/^[A-Za-z]{4}[a-zA-Z0-9]{7}$/"> 
				                <p class="validation" ng-show="uploadDocumanrForm.ifsccode.$error.required">Your ifsc code is required.</p>
							    <p class="validation" ng-show="uploadDocumanrForm.ifsccode.$error.minlength">ifsc code is too short.</p>
							    <p class="validation" ng-show="uploadDocumanrForm.ifsccode.$error.maxlength">ifsc code is too long.</p>
							    <p class="validation" ng-show="uploadDocumanrForm.ifsccode.$error.pattern">ifsc code is not valid.</p>
			        		</div>
			        	</div>
			          </md-content>
			        </md-tab>
			      </md-tabs>
			    </md-dialog-content>

			    <md-dialog-actions layout="row">
			      <span flex></span>
			      <md-button ng-click="answer('You cancelled the verification dialog')" >
			        Cancel
			      </md-button>
			      <md-button ng-click="userVefiryDocument(pancardno, pancardImageFile, addressproof, addressProofFile, mobile, bankname, branch, holdername, accountnumber, ifsccode)" style="margin-right:20px;" >
			        Submit
			      </md-button>
			    </md-dialog-actions>
		  	</form>
		</md-dialog>
	</script>

	<script type="text/ng-template" id="showtransactiondetails.tmpl">
        <md-dialog aria-label="Transaction Details">
            <md-dialog-content>
                <form ng-cloak name="teamCreationError" >
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                        <h2 class="textwhite">Transaction Details </h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="answer('')">
                            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog">
                        </md-icon>
                        </md-button>
                        </div>
                    </md-toolbar>
                    <md-content>
                        <div class="md-dialog-content">
                            <p>User Name : {{error[0].firstname}} {{error[0].middlename}} {{error[0].lastname}}</p>
                            <p>Team Name : {{error[0].teamname}}</p>
                            <div ng-if="error[0].remarks == 'Funds Added' || error[0].remarks == 'Funds Withdraw'">
                            	<p>Amount :	Rs.{{error[0].amount}}</p>
								<p>Processing Fee :	Rs.0</p>
								<p>Transaction Date : {{error[0].date}}</p>
								<p>Transaction Id :	{{error[0].transactionId}}</p>
		                    </div>
		                    <div ng-if="error[0].remarks == 'League joined' || error[0].remarks == 'Winning prize'">
		                       	<p>Match :	{{error[0].title}}  {{error[0].startDate}}</p>
								<p>Series :	{{error[0].season}}</p>
								<p>Amount :	Rs.{{error[0].amount}}</p>
								<p>Transaction Date : {{error[0].date}}</p>
		                    </div>
                            <p class="teamCreation-error" style="display:none;color:#FF0000;"></p>
                        </div>
                    </md-content>
                    <div class="md-actions" >
                        <md-button ng-click="answer('')">Closed </md-button>
                    </div>
                </form>
            </md-dialog-content>
        </md-dialog>
    </script>
    <div ng-controller= "userWithdrawCtrl">
	    <script type="text/ng-template" id="sendTransactionEmail.tmpl">
	        <md-dialog aria-label="Transaction Details">
	            <md-dialog-content>
	                <form ng-cloak name="teamCreationError" >
	                    <md-toolbar>
	                        <div class="md-toolbar-tools">
	                        <h2 class="textwhite">Transaction Email Send</h2>
	                        <span flex></span>
	                        <md-button class="md-icon-button" ng-click="answer('')">
	                            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog">
	                        </md-icon>
	                        </md-button>
	                        </div>
	                    </md-toolbar>
	                    <md-content>
	                        <div class="md-dialog-content">
	                            <p>Your requested invoice has been sent to <br>{{error}}</p>
	                            <p class="teamCreation-error" style="display:none;color:#FF0000;"></p>
	                        </div>
	                    </md-content>
	                    <div class="md-actions" >
	                        <md-button ng-click="answer('')">OK </md-button>
	                    </div>
	                </form>
	            </md-dialog-content>
	        </md-dialog>
	    </script>

	    <script type="text/ng-template" id="downloadTransactionInvoice.tmpl">
	        <md-dialog aria-label="Transaction Details">
	            <md-dialog-content>
	                <form ng-cloak name="teamCreationError" >
	                    <md-toolbar>
	                        <div class="md-toolbar-tools">
	                        <h2 class="textwhite">Download Transaction invoice</h2>
	                        <span flex></span>
	                        <md-button class="md-icon-button" ng-click="answer('')">
	                            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog">
	                        </md-icon>
	                        </md-button>
	                        </div>
	                    </md-toolbar>
	                    <md-content>
	                        <div class="md-dialog-content">
	                            <p>Click Here <a href="{{error[0].filename}}" target="_blank" download><span class="label label-warning">Download Invoice</span></a></p>
	                            <p class="teamCreation-error" style="display:none;color:#FF0000;"></p>
	                        </div>
	                    </md-content>
	                    <div class="md-actions" >
	                        <md-button ng-click="answer('')">OK </md-button>
	                    </div>
	                </form>
	            </md-dialog-content>
	        </md-dialog>
	    </script>
    </div>
</div>
