<div class="ec-mini-header">
    <span class="ec-blue-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ec-mini-title">
                    <h1>   Blogs </h1>
                </div>
                <div class="ec-breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>   Blogs </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ec-main-content">
    <!--// Main Section \\-->
    <div class="ec-main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="ec-blog ec-blog-medium">
                        <ul class="row">
                            <div ng-repeat="x in blogData">
                                <li class="col-md-12">
                                    <div class="ec-blog-wrap">
                                        <figure>
                                            <a href="" ng-click="openBlog(x.slug)">
                                                <img src="{{x.featimage}}" alt="" height="300">
                                            </a>
                                            <figcaption>
                                                <!-- <span><small>8:12</small></span> -->
                                                <!-- <a href="" class="fa fa-play ec-playbutton"></a> -->
                                            </figcaption>
                                        </figure>
                                        <div class="ec-blog-text">
                                            <ul class="ec-blog-option">
                                                <li><i class="fa fa-user"> {{ x.firstname }} {{ x.lastname}} </i>  
                                                    <a href="" class="ec-colorhover"> {{x.created_at}} </a>
                                                    
                                                </li>
                                            </ul>
                                            <h2><a href="" ng-click="openBlog(x.slug)">
                                                <p ng-bind-html="x.topic">  {{ x.topic}} </p></a>
                                            </h2>
                                            <p ng-bind-html="x.description1">  {{ x.description1 }} </p>
                                                <a href="" class="ec-color" ng-click="openBlog(x.slug)">Read more..</a>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <!-- <ul class="ec-pagination">
                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li><span>. . .</span></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><span>. . .</span></li>
                        <li><a href="#">15</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul> -->
                </div>
                <aside class="col-md-3">
                    <div class="widget widget_search">
                        <div class="ec-fancy-title">
                            <h2>Search</h2> </div>
                        <form>
                            <input type="text" placeholder="Search here..">
                            <label>
                                <input type="submit" value="">
                            </label>
                        </form>
                    </div>
                    <div class="widget widget_categories">
                        <div class="ec-fancy-title">
                            <h2>CATEGORIES</h2> </div>
                        <ul>
                            <li><a href="#">One Day             </a> 03</li>
                            <li><a href="#">T20                 </a> 05</li>
                            <li><a href="#">Test Cricket        </a> 03</li>
                            <li><a href="#">IPL                 </a> 19</li>
                            <li><a href="#">One Day World Cup   </a> 02</li>
                            <li><a href="#">T20 World Cup       </a> 11</li>
                            <li><a href="#">Champions Trophy    </a> 12</li>
                            <li><a href="#">Asia Cup            </a> 04</li>
                            <li><a href="#">Ashes Series        </a> 03</li>
                        </ul>
                    </div>
                    <div class="widget ec-recentnews_widget">
                        <div class="ec-fancy-title">
                           <a href="/app/index.html?#/app/news"> <h2>Recently News</h2></a> 
                        </div>
                        <ul>
                            <div ng-repeat="x in latestNews | limitTo : 3">
                                <li>
                                    <figure>
                                        <a href="#"><img alt="" src="../assets/website-content/extra-images/recent-widget-1.jpg"></a>
                                    </figure> 
                                    <section>
                                        <h6><a href="#"><p ng-bind-html="x.title">  {{ x.title}} </p></a></h6>
                                        <span><i class="fa fa-clock-o"></i>
                                            <!-- <p ng-bind-html="x.question">  {{ x.question}} </p> -->
                                        </span>
                                    </section>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="widget widget_gallery">
                        <div class="ec-fancy-title">
                            <h2>Flicker Gallery</h2> </div>
                        <ul class="gallery">
                            <li>
                                <a href="../assets/website-content/extra-images/team-grid-1.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/team-grid-1.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-2.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/team-grid-2.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-3.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/team-grid-3.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-4.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/team-grid-4.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-5.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/testimonial-1.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="extra-images/gallery-list-6.jpg" rel="prettyPhoto[gallery1]" title=""><img src="../assets/website-content/extra-images/testimonial-2.jpg" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <!--// Main Section \\-->
</div>