
<div class="ec-mini-header">
    <span class="ec-blue-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ec-mini-title">
                    <h1>About Us</h1>
                </div>
                <div class="ec-breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ec-main-content">
    <!--// Main Section \\-->
    <div class="ec-main-section ec-full-service">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ec-simple-title">
                       <div ng-repeat="x in aboutUs">
						    <div class="row">
						        <div class="col-md-12 text-justify">
						            <div>
						                <p ng-bind-html="x.description">{{ x.description}}</p>
						            </div>
						        </div>
						    </div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Main Section \\-->
    <div class="ec-main-section ec-full-counter">
        <span class="ec-transparent-bg"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ec-counter">
                        <ul class="row">
                            <li class="col-md-3">
                                <i class="fa fa-globe"></i>
                                <div class="ec-counter-info">
                                    <small>TOTAL COUNTRIES</small>
                                    <span class="word-count ec-color">125</span>
                                </div>
                            </li>
                            <li class="col-md-3">
                                <i class="fa fa-glass"></i>
                                <div class="ec-counter-info">
                                    <small>MATCHES &nbsp; &nbsp;</small>
                                    <span class="word-count ec-color">7,000</span>
                                </div>
                            </li>
                            <li class="col-md-3">
                                <i class="fa fa-hand-o-right"></i>
                                <div class="ec-counter-info">
                                    <small>PEOPLE LIKED &nbsp; &nbsp; </small>
                                    <span class="word-count ec-color">600</span>
                                </div>
                            </li>
                            <li class="col-md-3">
                                <i class="fa fa-heart-o"></i>
                                <div class="ec-counter-info">
                                    <small>PEOPLE LOVED </small>
                                    <span class="word-count ec-color">456</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Main Section \\-->
    <!--// Main Section \\-->
    <div class="ec-main-section ec-full-service">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ec-testimonial flexslider">
                        
	                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
	                    	<div class="row">
		                        <div class="col-md-12">
		                            <div class="ec-simple-title">
		                                <h2>COMMITTEE OF CRICKET</h2>
		                                <p>Indian National Cricket Selectors is a committee of cricket administrators (usually ex-cricket players) whose responsibility is the selection of cricket team to represent India at various levels</p>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="row">
		                        <div ng-repeat="x in testimonial">
		                            <div class="col-md-3">
		                                <div class="panel">
		                                    <div class="row">
		                                        <div class="col-md-12 text-center">
		                                            <!-- <img class="img-thumbnail img-responsive" src="{{ x.featuredimage }}" width="100"> -->
		                                            <div>
		                                                <h2>{{ x.author }} <br> <small>{{ x.designation }}</small></h2>
		                                                <p ng-bind-html="x.description">{{ x.description}}</p>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
	                    </div>
	                </div>
            	</div>
        	</div>
    	</div>
	</div>
</div>    


