<div class="ec-mini-header">
    <span class="ec-blue-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ec-mini-title">
                    <h1>  Fantasy Cricket Contests </h1>
                </div>
                <div class="ec-breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>  Fantasy Cricket Contests </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ec-main-content">
    <!--// Main Section \\-->
    <div class="ec-main-section ec-full-service">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ec-simple-title">
                       <div ng-repeat="x in aboutUs">
                            <div class="row">
                                <div class="col-md-12 text-justify">
                                    <div>
                                        <p ng-bind-html="x.description"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>s    
