<div class="ec-mini-header">
    <span class="ec-blue-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ec-mini-title">
                    <h1> FAQ </h1>
                </div>
                <div class="ec-breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li> FAQ </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ec-main-content">
    <!--// Main Section \\-->
    <div class="ec-main-section ec-full-service">
        <div class="container">
            <div class="row margin-top20">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="tabs-container">
                            <div class="row margin-top20">

                                <div class="col-md-10">   
                                    <div class="tab-content">
                                        <div id="application-data-1" class="tab-pane active">
                                            <div class="panel-body">
                                                <h3>General</h3>
                                               <div ng-controller="AccordionDemoCtrl">
                                                    <uib-accordion close-others="oneAtATime">
                                                        <div ng-repeat="x in faqGeneral">
                                                        <div uib-accordion-group class="panel-default" is-open="status.openDate">
                                                            <uib-accordion-heading>
                                                            <p ng-bind-html="x.question">  {{ x.question}} </p>
                                                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openDate, 'glyphicon-chevron-right': !status.openDate}"></i>
                                                            </uib-accordion-heading>
                                                            <p ng-bind-html="x.answer">  {{ x.answer}} </p>
                                                       </div>
                                                    </uib-accordion>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="application-data-2" class="tab-pane">
                                            <div class="panel-body">
                                                <h3>Scores And Points</h3>
                                                <div ng-controller="AccordionDemoCtrl">
                                                    <uib-accordion close-others="oneAtATime">
                                                        <div ng-repeat="x in scoresPoint">
                                                        <div uib-accordion-group class="panel-default" is-open="status.openDate">
                                                            <uib-accordion-heading>
                                                            <p ng-bind-html="x.question">  {{ x.question}} </p>
                                                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openDate, 'glyphicon-chevron-right': !status.openDate}"></i>
                                                            </uib-accordion-heading>
                                                            <p ng-bind-html="x.answer">  {{ x.answer}} </p>
                                                       </div>
                                                    </uib-accordion>
                                                </div>
                                            </div>
                                        </div>

                                         <div id="application-data-3" class="tab-pane">
                                            <div class="panel-body">
                                                <h3>Leagues</h3>
                                                <div ng-controller="AccordionDemoCtrl">
                                                    <uib-accordion close-others="oneAtATime">
                                                        <div ng-repeat="x in leagues">
                                                        <div uib-accordion-group class="panel-default" is-open="status.openDate">
                                                            <uib-accordion-heading>
                                                            <p ng-bind-html="x.question">  {{ x.question}} </p>
                                                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openDate, 'glyphicon-chevron-right': !status.openDate}"></i>
                                                            </uib-accordion-heading>
                                                            <p ng-bind-html="x.answer">  {{ x.answer}} </p>
                                                       </div>
                                                    </uib-accordion>
                                                </div>
                                               
                                            </div>
                                        </div>

                                         <div id="application-data-4" class="tab-pane">
                                            <div class="panel-body">
                                                <h3>Cash Prizes</h3>
                                                 <div ng-controller="AccordionDemoCtrl">
                                                    <uib-accordion close-others="oneAtATime">
                                                        <div ng-repeat="x in cashPrizes">
                                                        <div uib-accordion-group class="panel-default" is-open="status.openDate">
                                                            <uib-accordion-heading>
                                                            <p ng-bind-html="x.question">  {{ x.question}} </p>
                                                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openDate, 'glyphicon-chevron-right': !status.openDate}"></i>
                                                            </uib-accordion-heading>
                                                            <p ng-bind-html="x.answer">  {{ x.answer}} </p>
                                                       </div>
                                                    </uib-accordion>
                                                </div>
                                             
                                            </div>
                                        </div>

                                         <div id="application-data-5" class="tab-pane">
                                            <div class="panel-body">
                                                <h3>Verification</h3>
                                                  <div ng-controller="AccordionDemoCtrl">
                                                    <uib-accordion close-others="oneAtATime">
                                                        <div ng-repeat="x in cashPrizes">
                                                        <div uib-accordion-group class="panel-default" is-open="status.openDate">
                                                            <uib-accordion-heading>
                                                            <p ng-bind-html="x.question">  {{ x.question}} </p>
                                                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openDate, 'glyphicon-chevron-right': !status.openDate}"></i>
                                                            </uib-accordion-heading>
                                                            <p ng-bind-html="x.answer">  {{ x.answer}} </p>
                                                       </div>
                                                    </uib-accordion>
                                                </div>
                                            </div>
                                        </div>

                                    </div> 
                                </div> 
                            </div> 
                        </div>    
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>    
