<div class="ec-mini-header">
    <span class="ec-blue-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ec-mini-title">
                    <h1>Current Regulatory Framework</h1>
                </div>
                <div class="ec-breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Current Regulatory Framework</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ec-main-content">
    <!--// Main Section \\-->
    <div class="ec-main-section ec-full-service">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ec-simple-title">
                       <div ng-repeat="x in legality">
						    <div class="row">
						        <div class="col-md-12 text-justify">
						            <div>
                                        <h3> <p ng-bind-html="x.heading"> {{ x.heading}} </p></h3>
                                        <p ng-bind-html="x.description"> {{ x.description}}</p><br>
                                    </div>
						        </div>
						    </div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    