<div class="ec-mini-header">
    <span class="ec-blue-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ec-mini-title">
                    <h1>Site Map</h1>
                </div>
                <div class="ec-breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Site Map</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ec-main-content">
    <!--// Main Section \\-->
    <div class="ec-main-section ec-full-service">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <section class="about_section block">
                        <div class="container">
                            <div class="contentBox">
                                <div class="sitemapbox">
                                    <h6><a href="index.html">Home</a></h6>
                                    <div class="section ">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <h5><a href=""> Live Score </a></h5>
                                            </div>
                                            <div class="col-md-2">
                                              <h5> <a href="">  Fantacy Cricket </a> </h5>
                                            </div>
                                            <div class="col-md-2">
                                               <h5><a href=""> Help </a></h5>
                                            </div>
                                            <div class="col-md-2">
                                                <h5><a href=""> About us </a></h5>
                                            </div>
                                            <div class="col-md-2">
                                                <h5><a href=""> Live Score </a></h5> 
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2">
                                                <h5><a href=""> Tour Formats </a> </h5>
                                            </div>
                                            <div class="col-md-2">
                                                <h5><a href="">  Leagues </a></h5> </div>
                                            <div class="col-md-2">
                                                <h5><a href="">  How to Play? </a></h5> 
                                            </div>
                                            <div class="col-md-2">
                                                <h5><a href=""> Careers </a></h5> 
                                            </div>
                                            <div class="col-md-2">
                                                <h5><a href=""> Tour Formats </a></h5> 
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-2">
                                                <h5><a href="">  Create Team </a></h5> 
                                            </div>
                                            <div class="col-md-2">
                                                <h5><a href=""> FAQ's </a></h5> 
                                            </div>
                                            <div class="col-md-2">
                                                <h5><a href="">  Privacy Policy </a></h5> 
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-2"></div>
                                            <div class="col-md-2">
                                                <h5><a href=""> Legality </a></h5> 
                                            </div>
                                            <div class="col-md-2">
                                                <h5><a href=""> Terms & Conditions </a></h5> 
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-2"></div>
                                            <div class="col-md-2"></div>
                                            <div class="col-md-2">
                                                <h5><a href=""> Contact us </a></h5> 
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>    
                        </div>
                    </secton>
                </div>
            </div>
        </div>
    </div>
</div>