<div class="ec-mini-header">
    <span class="ec-blue-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ec-mini-title">
                    <h1>Contact Us</h1>
                </div>
                <div class="ec-breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ec-main-content">
    <!--// Main Section \\-->
    <div class="ec-main-section ec-full-service">
        <div class="container">
			<div class="row">
				<div class="col-md-12">
				    <div class="ec-map">
				    
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224346.6136797591!2d77.06890002425156!3d28.527218144340004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x52c2b7494e204dce!2sNew+Delhi%2C+Delhi!5e0!3m2!1sen!2sin!4v1507703383562" height="300"></iframe>

				    </div>
				</div>
			</div>   
		</div>	           
	</div>
</div>	

<div class="col-md-4">
    <div class="widget widget-userinfo">
        <div class="ec-fancy-title">
            <h2>Location</h2>
        </div>
        <ul>
            <li> <i class="fa fa-bank"></i>
                <p>Shop No. 23, BG8, DDA Market, Paschim Vihar, New Delhi- 110063, India</p>
            </li>
            <li> <i class="fa fa-phone"></i>
                <p>+91-11-47052797</p>
            </li>
           <!--  <li> <i class="fa fa-fax"></i>
                <p>+00 123 456 789</p>
            </li> -->
        </ul>
    </div>
    <div class="widget widget-userinfo">
        <div class="ec-fancy-title">
            <h2>Email Me</h2>
        </div>
        <ul>
			<li>
				<h6><p><a href="">For Payment Withdrawals</a></p></h2>
			</li>
            <li>
            	<i class="fa fa-envelope"></i>
            	<!-- <p><a href="">transactions@gameofnerve.co.in</a></p> -->
            </li>
            <li>
            	
            	<h6><p><a href="">Customer Support</a></p></h2>
            </li>
            <li>
            	<i class="fa fa-envelope"></i>
            	<!-- <p><a href="">helpdesk@gameofnerve.co.in</a></p> -->
            </li>
            <li>
            	
            	<h6><p><a href="">Media Enquiries</a></p></h2>
            </li>
            <li>
            	<i class="fa fa-envelope"></i>
            	<!-- <p><a href="">pr@gameofnerve.co.in</a></p> -->
            </li>

        </ul>
    </div>
</div>

<div class="col-md-8">
    <!--// Comment Form //-->
    <div class="ec-form">
        <div class="ec-fancy-title">
            <h2>Contact Form</h2> 
        </div>
        <form>
            <p>
                <input type="text" value="Your Name" onblur="if(this.value == '') { this.value ='Your Name'; }" onfocus="if(this.value =='Your Name') { this.value = ''; }" name="usrname" required=""> 
            </p>
            <p>
                <input type="text" value="Email" onblur="if(this.value == '') { this.value ='Email'; }" onfocus="if(this.value =='Email') { this.value = ''; }" name="usrname" required=""> 
            </p>
            <p>
                <input type="text" value="Website" onblur="if(this.value == '') { this.value ='Website'; }" onfocus="if(this.value =='Website') { this.value = ''; }" name="usrname" required=""> 
            </p>
            <p class="ec-comment">
                <textarea placeholder="Comment"></textarea>
            </p>
            <p class="ec-submit">
                <input type="submit" value="Send" class="ec-bgcolor"> 
            </p>
        </form>
    </div>
</div>
				